<link href="css/discover.css" rel="stylesheet"/>

<div id="mainmiddleSection"
     style="background:#fafafa;">

    <div style="{{ display_note }}margin-bottom:0;"
         class="alert-message block-message {{ success_error }} fade in alert-signup"
         data-alert="alert">
        <a class="close" href="#">&times;</a>

        <p class="clean"
           style="width:990px;
                  margin-right:auto;
                  margin-left:auto;">{{ alert_note }}</p>
    </div>

    <!--Main Middle Panel-->
    <div id="mainmiddlePan">
        <div class="center fixed short">
            <div style="width:185px;
                        position:absolute;">
                <ul class="categoryList">
                    <li class="categoryHeader">Categories</li>
                    <a href="/discover?{{ args_for_type_url }}">
                        <li {{ ternary(cat == CATEGORY_ALL, 'class="selected"') | safe }}>
                            All
                        </li>
                    </a>
                    {% for cat_key, cat_val in categories_data.items() %}
                        <a href="/discover?{{ args_for_type_url }}cat={{ cat_key }}">
                            <li {{ ternary(cat_key == cat, 'class="selected"') | safe }}>
                                {{ cat_val['Name'] }}
                            </li>
                        </a>
                    {% endfor %}
                </ul>
            </div>

            <div id="boxGrid"
                 class="clearfix profile"
                 style="margin-top:0;
                        margin-left:200px;">

                {% for share in all_shares %}
                    {{ view.FeaturedShare(share).render(cached=1800) }}
                {% endfor %}

            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!--Main Middle Panel Close-->
</div>

<a id="seeMore" class="hiddenDisplay" href="#">See More<span></span></a>

<nav id="page_nav">
    <a href="/discoverNext?p=2&ty={{ ty }}&srt={{ sort_by }}&cat={{ cat }}"></a>
</nav>

<script type="text/javascript">
    var noScroll = false;
    var noBind = true;

    $(document).ready(function() {
        var scope = angular.element("body");
        var injector = scope.injector();
        var Analytics = injector.get("Analytics");

        $('.creationBox a').on('click', function() {
            var creation = $(this).parents('.creationBox');
            if (creation) {
                var position = $('.creationBox').index(creation);
                var creator_id = creation.data('creatorid');
                var post_id = creation.data('postid');
                var link_type = $(this).data('contenttype');

                Analytics.logEvent({
                    domain: "Featured",
                    title: "Clicked Post",
                    info: {
                        position: position,
                        type: link_type,
                        creator_id: creator_id,
                        post_id: post_id,
                        category_id: {{ cat }}
                    }
                })
            }
        });
    });
</script>


