<div id="requiredInfo">
    <input class="inputText"
           type="text"
           id="videoUrl"
           name="videoUrl"
           value="{{ video_url }}"/>
    <input type="hidden"
           id="shareEmbed"
           name="shareEmbed"
           value="{{ video_embed }}"/>
</div>
<div id="shareUrlDiv"
     style="display:none;">
    <div id="shareUrlLeft">
        <div id="shareUrlImgSection">
            <div class="centerShareUrl"
                 id="shareUrlImgDiv"
                 style="width:16px;
                        margin:15px auto 15px auto;">
                <img class="centerShareUrl"
                     id="shareUrlImg"
                     src="/images/loading.gif"/>
            </div>
        </div>
    </div>
    <div id="shareUrlRight">
        <a class="closeX" href="#"></a>
        <div class="urlBreak" id="shareUrlTitle"></div>
        <div id="shareUrlDomain"></div>
        <div id="shareUrlDesc"></div>
    </div>
    <div class="clearfix"></div>
</div>
<script type="text/javascript">
    var shareBoxKeypress = function ($shareBox) { // closure function
        return function (e) {
            var urlPattern = /(http|ftp|https):\/\/[\w\-_]+(\.[\w\-_]+)+([\w\-\.,@?^=%&amp;:/~\+#]*[\w\-\@?^=%&amp;/~\+#])?/i;
            if (e.type == 'paste') {
                setTimeout(function () {
                    theUrl = urlPattern.exec($shareBox.val())
                    if (theUrl != null)
                        setShareBoxUrl(theUrl[0]);
                }, 0);
            }
            else {
                var code = (e.keyCode ? e.keyCode : e.which);
                if (code == 13 || code == 32) {
                    setTimeout(function () {
                        theUrl = urlPattern.exec($shareBox.val());
                        if (theUrl != null)
                            setShareBoxUrl(theUrl[0]);
                    }, 0);

                }
            }

            if (hasClosedShareUrl && $shareBox.val() == '') {
                hasClosedShareUrl = false;
                isShareSet = false;
            }
        }
    };

    function setShareBoxUrl(theUrl) {
        // Call API to get a video oEmbed JSON response
        if (!isShareSet && !hasClosedShareUrl) {
            $('#shareImageDiv').hide();
            $('#shareUrlDiv').show();

            var scope = angular.element("body");
            var injector = scope.injector();
            var http = injector.get("$http");

            http.post(
                '{{ embed_api }}',
                { data: JSON.stringify({url: theUrl}) }
            ).success(function(json) {
                json = json.data;
                if (json.title == null) {
                    json.title = json.url;
                }
                $('#shareUrlTitle').html(json.title);
                $('#shareUrlDomain').html(json.provider_url);
                $('#shareUrlDesc').html(json.description);
                $('#shareEmbed').val(json.object.html);

                // setting the proper input values
                $('#shareUrl').val(json.url);

                shareImgList = json.images;
                if (shareImgList.length > 0) {
                    $('#shareUrlImgSection').show();
                    $('#shareUrlImg').attr("src", shareImgList[0].url);

                    $('#shareImgUrl').val(shareImgList[0].url);
                    $('#shareUrlImgDiv').attr("style", '');
                } else {
                    $('#shareUrlImg').attr("src", '/images/blank_16.gif');

                    $('#shareImgUrl').val('');
                }

            });

            isShareSet = true;
        }
    }

    function resetShareUrl() {
        /* URL Reset */
        $('#shareUrlDiv').hide();
        $('#shareImageDiv').show();
        $('#videoUrl').val('');
        hasClosedShareUrl = true;

        $('#shareUrlImg').attr("src", '/images/loading.gif');
        $('#shareUrlImgDiv').attr("style", 'width:16px; margin:15px auto 15px auto;');
        $('#shareUrlTitle').html('');
        $('#shareUrlDomain').html('');
        $('#shareUrlDesc').html('');

        // setting the proper input default values
        $('#shareUrl').val('');
        $('#shareEmbed').val('');

        shareImgList = null;
        shareImgListIndex = 0;
    }

    $(document).ready(function () {
        var $shareBox = $('#videoUrl');
        $shareBox.watermark('Url of your video', {useNative: false})
                .bind('paste keyup', shareBoxKeypress($shareBox));

        $('#shareUrlDiv a.closeX:first').click(function () {
            resetShareUrl();
            return false;
        });


        $('#formCreator').submit(function () {
            isOk = true;
            // On submit disable its submit button
            $('.btn.primary').attr('disabled', 'disabled');
            $(this).find('.btn.primary:first').val('Please wait...');

            if ($shareBox.val() && !$('#shareEmbed').val())
                isOk = false;
            if (!isOk) {
                $('.btn.primary').removeAttr('disabled').val('Save and Continue');
                apprise('It looks like we can\'t seem to find your video from your video URL! Please try another url, thanks!');
                if (typeof logEvent !== 'undefined' && logEvent !== null) {
                    logEvent('Video Embedder Fail', {});
                }
            }
            return isOk;
        });
    });
</script>
