<div class="patreon-page-content">
    {% if err %}
        <p>Unable to set captcha status</p>
    {% endif %}
    <h2>Captcha controls</h2>
    {% for service in per_id_services %}
        {% if service in ids_by_service %}
            {% for id in ids_by_service[service] %}
               Disable Captcha for {{ service }} id {{ id }}
                <form action="/internal/captcha_controls" method="POST">
                    {{ view.CSRFFields().render() }}
                    <input type="hidden" value="{{ service }}" id="service" name="service">
                    <input type="hidden" value="{{ id }}" id="id" name="id">
                    <input type="hidden" value="0" id="enable"
                           name="enable">
                    <input type="submit" value="Disable">
                </form>
            {% endfor %}
        {% endif %}
        Add an id that will require a captcha for this service
        <form action="/internal/captcha_controls" method="POST">
            {{ view.CSRFFields().render() }}
            <input type="hidden" value="{{ service }}" id="service" name="service">
            <label for="id">ID</label>
            <input type="text" value="" id="id" name="id">
            <input type="hidden" value="1">
            <input type="submit" value="Enable">
        </form>
    {% endfor %}
    {% for service in global_services %}
        {% if captcha.is_enabled(service) %}Disable{% else %}Enable{% endif %} Captcha for {{ service }}
            <form action="/internal/captcha_controls" method="POST">
                {{ view.CSRFFields().render() }}
                <input type="hidden" value="{{ service }}" id="service" name="service">
                <input type="hidden" value="{% if captcha.is_enabled(service) %}0{% else %}1{% endif %}" id="enable"
                       name="enable">
                <input type="submit" value="{% if captcha.is_enabled(service) %}Disable{% else %}Enable{% endif %}">
            </form>
    {% endfor %}
</div>