<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible"
          content="IE=edge">

    <title>Patreon</title>

    <meta name="description"
          content="Patreon react codebase">

    <meta name="viewport"
          content="width=device-width, initial-scale=1">

    <link href='https://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext'
          rel='stylesheet'
          type='text/css'>

    <link href="{{ session.meta['react_s3_prefix'] }}/react-app.css"
          rel="stylesheet"
          type="text/css">
</head>
<body>
    {{ inner | safe }}
    {% for dependency in session.meta['react_dependencies'] %}
        <script type="text/javascript"
                src="{{ session.meta['react_s3_prefix'] }}/{{ dependency }}.bundle.js">
        </script>
    {% endfor %}
</body>
</html>
