{% if goal != None %}

    <div class="inputBg">
        {% if deleteable %}
            <div class="deleteInput">
                <button class="btn danger"><i class="icon-trash icon-white"></i><span>Delete</span></button>
            </div>
        {% endif %}
        <div class="askText">Goal <span>(e.g. remove ads, buy new equipment, include a puppy in your next piece of content, etc.)</span>
        </div>
        <div id="requiredInfo" class="rSetup">
            <input type="hidden" name="gid[]" value="{{ goal.goal_id }}"/>
            <input class="inputText rAmount" type="text" name="rAmount[]"
                   value="{{ format_money(goal.amount_cents / 100, cents=0) }}"/>

            <div class="goalHint">
                Total pledge amount to achieve this goal.
            </div>

            <div class="requiredInfoSub">Goal Title:</div>
            <input class="inputText rTitle" type="text" name="rTitle[]"
                   value="{{ goal.goal_title }}"/>

            <div class="requiredInfoSub">Description of your goal:</div>
            <textarea class="rDescription"
                      name="rDescription[]">{{ goal.goal_text | clean | safe }}</textarea>
        </div>
    </div>
    <div class="clearfix bottomSpace"></div>
{% else %}
    <div class="inputBg">
        <div class="askText">Goal <span>(e.g. remove ads, buy new equipment, include a puppy in your next piece of content, etc.)</span>
        </div>
        <div id="requiredInfo" class="rSetup">
            <input type="hidden" name="gid[]" value=""/>
            <input class="inputText rAmount" type="text" name="rAmount[]" value=""/>

            <div class="goalHint">
                Total pledge amount to achieve this goal.
            </div>
            <div class="requiredInfoSub">Goal Title:</div>
            <input class="inputText rTitle" type="text" name="rTitle[]" value=""/>

            <div class="requiredInfoSub">Description of your goal:</div>
            <textarea class="rDescription" name="rDescription[]"></textarea>
        </div>
    </div>
    <div class="clearfix bottomSpace"></div>
{% endif %}
