<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=1020, height=2000">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="Description"
        content="Patreon is empowering a new generation of creators. Support and engage with artists and creators as they live out their passions!"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <link rel="icon" type="image/ico" href="favicon.ico"></link>
    <link rel="shortcut icon" href="favicon.ico"></link>
    <title>Patreon</title>

    <link href='//fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
    <link href="/scripts/static/fancybox/jquery.fancybox-1.3.4.css" rel="stylesheet" type="text/css"/>
    <link href="/css/main.css" rel="stylesheet" type="text/css"/>
    <!--[if IE]>
    <link rel="stylesheet" type="text/css" href="css/main-ie.css"/><![endif]-->

    <script type="text/javascript">
        var osPage = '{{ os_page }}'; // tells what ourspot page to execute
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="/scripts/nocompile/jquery.fancybox-1.3.4.min.js"></script>
    <script type="text/javascript" src="/scripts/static.js?v=2"></script>
    <script type="text/javascript" src="/scripts/ourspot.js?v=<?= OURSPOTJS_VERSION ?>"></script>
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-40726300-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();

    </script>
</head>

<body style="background-color:{{ i_bg_color or '#fff' }}; margin:auto;">
<div id="fb-root"></div>
<script>
    var fb_validated = false;
    window.fbAsyncInit = function () {
        FB.init({
            appId: '{{ FB_APP_ID }}', // App ID
            version: 'v2.0',
            channelURL: '//{{ MAIN_SERVER }}/channel.php', // Channel File
            status: false, // check login status
            cookie: true, // enable cookies to allow the server to access the session
            oauth: true, // enable OAuth 2.0
            xfbml: false,  // parse XFBML
            frictionlessRequests: true
        });
    };

    // Load the SDK Asynchronously
    (function (d) {
        var js, id = 'facebook-jssdk';
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement('script');
        js.id = id;
        js.async = true;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        d.getElementsByTagName('head')[0].appendChild(js);
    }(document));
</script>