
    <div id="boxGrid"
         class="clearfix infinite-scrolling">
        <div class="clearfix userRow">
            <div class="box"
                 style="width:100%;">
                <div id="userSearchBox"
                     class="twoBoxesWrapper">
                    <div class="searchShareArea">
                        <p class="dateBox">
                            {{ transaction["Datetime"] }}
                        </p>
                        {% if type == 1 %}
                            {{ view.RewardProcessedTransaction(transaction).render() }}
                        {% endif %}
                        {% if type == "Owed" %}
                            {{ view.RewardProcessedTransaction(transaction).render() }}
                        {% endif %}
                        {% if type == 10 %}
                            {{ view.PayoutCredit(transaction).render() }}
                        {% endif %}
                        {% if type == 3 %}
                            {{ view.PayoutToCreator(transaction).render() }}
                        {%endif %}
                        {% if type == 4 and transaction["Amount"] > 0%}
                            {{ view.DirectDeposit(transaction).render() }}
                        {%endif %}
                        {% if type == 6 %}
                            {{ view.PayoutToCreator(transaction).render() }}
                        {%endif %}

                        {% if type != 1 and type != 10 and type != "Owed" and type != 3 and type != 4 and type != 6 %}
                            <strong class="headred">
                                -{{ amount }}
                            </strong>
                            paid out to you from your account.
                        {% endif %}
                    </div>

                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
