<div id="stickyButtons">
    <div style="text-align:center;"><a id="messageBtn" style="margin:0 6px;color:#666;" class="showPopup btn btnInfo btnFollow small" title="Send a message to all selected patrons" href="#"><div style="margin-top:-2px;" class="editIcon"></div><span>Send Message</span></a>
    {% if get_hid %}
        <a id="completeBtn" style="margin:0;color:#666;padding-left:8px!important;" class="showPopup btn btnInfo btnFollow small" title="' . $markWord . ' all selected patrons as completed. This is just for your own use in keeping track of fulfilled rewards." href="#"><i style="margin-right:6px;margin-top:2px;" class="icon-ok"></i><span>{% if get_c %}Unmark{% else %}Mark{% endif %} Complete</span></a>
    {% else %}
        <a id="deleteBtn" style="margin:0;color:#fff;padding-left:8px!important;" class="showPopup btn danger btnFollow small" title="Remove this patron from your current patrons and delete all pending and rejected pledges by this patron." href="#"><i style="margin-right:6px;margin-top:2px;" class="icon-white icon-remove"></i><span>Delete Patron</span></a>
    {% endif %}
    </div>
</div>