<div class="profileImageDiv">
    {% if is_page_owner and page_user_has_default_image %}
        <a href="/settings"><img src="{{ page_user.image_url }}"/></a>
    {% else %}
        <a href="{{ page_user.canonical_url('pat=1') }}">
            <img src="{{ page_user.image_url }}"/></a>
    {% endif %}
</div>
{% if not is_page_owner %}
    <div {% if not is_patron %} class="hiddenDisplay" {% endif %}>

        <a id="newsSeeMore" class="profile" href="/userMsg?u={{ page_user.UID }}">
            <div id="newsSeeMoreText">Contact {{ page_user.FName }}</div>
    </a>
</div>
{% endif %}
<div class="clearfix" style="margin-bottom:14px;"></div>

{% if page_user.Youtube != None and page_user.Youtube != '' %}
    <div style="margin-left:4px;margin-bottom:34px;"><a target="_blank" href="{{ page_user.Youtube }}">
        <i class="icon-youtube posAbsolute"></i>
        <span class="needIcon large noFlow">{{ page_user.Youtube.replace('http://', '').replace('https://','').replace('www.','')}}</span></a>

    <div class="clearfix"></div>
</div>
{% endif %}

{% if page_user.Twitter != None and page_user.Twitter.strip() != ''%}
    <div style="margin-left:4px;margin-bottom:34px;"><a target="_blank"
                                                        href="https://twitter.com/{{ page_user.Twitter }}">
        <i class="icon-twitter posAbsolute"></i>
        <span class="needIcon large noFlow">@{{ page_user.Twitter }}</span></a>

        <div class="clearfix"></div>
    </div>
{% elif is_page_owner %}
    <div style="margin-left:4px;margin-bottom:34px;"><a target="_blank" href="/settings">
        <i class="icon-twitter posAbsolute"></i>
        <span class="needIcon large noFlow">Display your Twitter</span></a>

        <div class="clearfix"></div>
    </div>
{% endif %}
{% if page_user.Facebook != None and page_user.Facebook.strip() != '' %}
    <div style="margin-left:4px;margin-bottom:42px;"><a target="_blank" href="{{ page_user.Facebook }}"><i
            class="icon-facebook posAbsolute"></i>
        <span class="needIcon large noFlow">{{ page_user.Facebook.replace('http://', '').replace('https://','').replace('www.','') }}</span></a>

        <div class="clearfix"></div>
    </div>
{% elif is_page_owner %}
    <div style="margin-left:4px;margin-bottom:42px;"><a target="_blank" href="/settings"><i
            class="icon-facebook posAbsolute"></i>
        <span class="needIcon large noFlow">Display your Facebook</span></a>

        <div class="clearfix"></div>
    </div>
{% endif %}
{%- if page_user.About != None and page_user.About.strip() != '' -%}
    <p class="boxSub">About</p><div class="urlBreak profileAbout">{{ page_user.About | clean | safe }}</div>
{%- elif is_page_owner -%}
    <p class="boxSub">About</p><div class="urlBreak profileAbout"><a class="editInfo" href="/settings"><strong>Edit your profile</strong></a><ul><li>Write something about yourself</li><li>The types of artists and creators that you support</li></ul></div>
{%- endif -%}
<div class="clearfix" style="margin-bottom:14px;"></div>

{%- if locations != None and locations|length != 0 -%}
    <p class="boxSub">Location</p>

    <div class="urlBreak profileAbout">
        {%- for location in locations -%}
            <div class="userLocation">{{ unescape(location.display_name) }}</div>
        {%- endfor -%}

    </div>
{%- elif is_page_owner -%}
    <p class="boxSub">Location</p>
    <a class="editInfo" href="/settings"><strong>Add your locations</strong></a>
{%- endif -%}
<div class="clearfix" style="margin-bottom:14px;"></div>

{{ view.SupportedUsers(page_user, user_patron_following).render(cached=180) }}
