{{ view.Alert().render() }}
<script type="text/javascript" src="/scripts/static/fpTemplate/bootstrap-alerts.js"></script>
<link rel="stylesheet" href="/css/multistep.css" type="text/css"/>

<div id="mainmiddleSection"
     class="patreon-page-content">

    <!--Main Middle Panel-->
    <div id="mainmiddlePan">
        <div class="center fixed short">

            <div id="mainbg" class="mainbg">

                <div id="spotName"
                     style="margin-bottom:28px;
                            margin-top:10px;
                            text-align:center;">
                    <h2 style="font-size:32px;">
                        Be a
                        <span class="headorange">
                            Patron
                        </span>
                        of {{ creator.full_name }}.
                    </h2>
                </div>
                <div class="clearfix"></div>

                <div id="alert-error"
                     style="{{ display_errors }}"
                     class="alert-message block-message
                            error fade in
                            alert-signup"
                     data-alert="alert">
                    <a class="close" href="#">&times;</a>

                    <p class="clean">{{ error_html | clean | safe }}</p>
                </div>

                <div style="float:left;
                            position:relative;">

                    <form id="formCreator"
                          action="/bePatronConfirm"
                          method="get">
                        <input type="hidden"
                               name="u"
                               value="{{ creator.user_id }}"/>
                        {% if edit %}
                            <input type="hidden"
                                   name="edit"
                                   value="{{ edit }}"/>
                        {% endif %}

                        <div class="inputBg
                                    patreon-legacy-element-adjustments">
                            <div class="askText">
                                How much are you giving per
                                <span class="headorange">{{ campaign.pay_per_name }}</span>?
                            </div>
                            <div id="requiredInfo">
                                <span class="dollarSign">$</span>
                                <input class="inputText"
                                       type="text"
                                       id="amt"
                                       name="amt"
                                       value="{{ pledge_amount_no_comma }}"
                                       style="width:240px;
                                              padding: 9px 10px 10px 35px;
                                              font-size: 24px;
                                              font-weight: bold;
                                              color:#444;"
                                />
                                <span style="font-size: 16px;
                                             margin-left: 4px;">
                                    Any amount is appreciated
                                </span>
                            </div>
                            <div>
                                <strong>All payments can be cancelled at any time.</strong>
                                If the creator initiates any charges, you are only charged
                                at the beginning of the next month, so you can review, edit,
                                and even cancel all pledges before then.
                                <a target="_blank"
                                   href="http://support.patreon.com">
                                    See payments FAQ
                                </a>
                            </div>

                            {% if all_rewards %}
                                <div style="height:38px;">
                                    <div style="border-top:1px solid #CFCFCF;
                                                border-bottom:1px solid #fff;
                                                width:100%;
                                                top:18px;
                                                position:relative;"></div>
                                </div>
                                <div class="askText">Select your reward</div>
                                <label class="reqReward
                                              checkButton
                                              {% if reward_id == 0 %}checked {% endif %}
                                              radio"
                                       amount="0">
                                    <input type="radio"
                                           value="0"
                                           name="selectReward"
                                           {% if reward_id == 0 %}checked {% endif %}
                                            ><span class="rewardHead"
                                        >No Reward</span><span class="rewardTail"
                                        >No thanks, I just want to support.</span>
                                </label>

                                {% for one_reward in all_rewards %}
                                    {{ view.Reward(one_reward, existing_pledge, reward_id).render() }}
                                {% endfor %}

                            {% else %}
                                <label class="reqReward
                                              checkButton
                                              radio
                                              checked
                                              hiddenDisplay"
                                       amount="0">
                                    <input type="radio"
                                           value="0"
                                           checked
                                           name="selectReward">
                                </label>
                            {% endif %}
                            <div id="inputButtons"
                                 class="create"
                                 style="margin: 0;
                                        position: absolute;
                                        top:0;
                                        left: 670px;">
                                <input id="nextSave" type="submit"
                                       class="btn primary"
                                       value="Continue to Confirmation"
                                       style="padding: 14px;
                                              font-size: 16px;">
                            </div>
                        </div>
                        <div class="clearfix bottomSpace"></div>

                        <div id="inputButtons"
                             class="create">
                            <input id="nextSave"
                                   type="submit"
                                   class="btn primary"
                                   value="Continue to Confirmation"
                                   style="padding: 14px;
                                          font-size: 16px;" >
                        </div>
                    </form>

                </div>
                <!-- float left close -->
                <div style="float:right;
                            width:400px;
                            margin-top:70px;">
                    {{ view.BePatronPreview(campaign, "Who You'll Support").render() }}
                </div>

            </div>
            <!--mainbg Close-->
            <div class="clearfix" style="margin-bottom:10px;"></div>

        </div>
    </div>
    <!--Main Middle Panel Close-->
</div>

<div class="fancyboxHidden">
</div> <!-- END FancyboxHidden-->
<script type="text/javascript">
    $(document).ready(function () {
        $('#fullName').watermark('Full Name (Jack Conte, Pomplamoose, etc.)', {useNative: false});

        $(".reqReward.checkButton").change(function (e) {
            $('.reqReward.checkButton').not(this).removeClass('checked');
            $(this).addClass('checked');
            if ($('#amt').val() && $.isNumeric($('#amt').val())) {
                if (parseInt($(this).attr('amount')) < (parseFloat($('#amt').val()) * 100)) {
                    return true;
                }
            }
            $('#amt').val(parseInt($(this).attr('amount')) / 100.0);
        });

        $('form').submit(function () {
            // On submit disable its submit button
            $('.btn.primary').attr('disabled', 'disabled');
            $(this).find('.btn.primary').val('Please wait...');

            if (!$('#amt').val() || !$.isNumeric($('#amt').val()) || $('#amt').val() < 0.01) {
                $('#alert-error .clean:first').html(
                        'Sorry, please <strong>enter an amount</strong> in order to be a Patron.'
                );
                $('#alert-error').addClass('in').show();
                $("html, body").stop().animate({ scrollTop: 0 }, "fast");
                $(this).find('.btn.primary').removeAttr('disabled').val('Continue to Confirmation');
                return false;
            }
            else if (!$('.reqReward.checkButton.checked:first').length) {
                $('#alert-error .clean:first').html('Please <strong>select your reward</strong> as a Patron.');
                $('#alert-error').addClass('in').show();
                $("html, body").stop().animate({ scrollTop: 0 }, "fast");
                $(this).find('.btn.primary').removeAttr('disabled').val('Continue to Confirmation');
                return false;
            }

            var pay = 0;
            if ($.isNumeric($('#amt').val()))
                pay = parseFloat($('#amt').val()) * 100;
            var rewardPay = parseInt($('.reqReward.checkButton.checked:first').attr('amount'));
            if (rewardPay > pay) {
                $('#alert-error .clean:first').html('Sorry, your selected reward requires giving <strong>'
                        + $('.reqReward.checkButton.checked:first .rewardHead').text() + '</strong> as a Patron.');
                $('#alert-error').addClass('in').show();
                $("html, body").stop().animate({ scrollTop: 0 }, "fast");
                $(this).find('.btn.primary').removeAttr('disabled').val('Continue to Confirmation');
                return false;
            }

            return true;
        });

        var logEditedPledgeAmount = _.debounce(function() {
            Analytics.logPledgeFlow({
                title: Analytics.PLEDGE_EVENTS.EDITED_PLEDGE_AMOUNT,
                info: {
                    is_edit: '{{ 1 if edit else 0 }}',
                    is_already_patron: '{{ 1 if existing_pledge else 0 }}',
                    creator_id: '{{ creator.user_id }}',
                    amount: Math.round(parseFloat(document.getElementById('amt')) * 100)
                }
            });
        }, 750);

        $('#amt').change(logEditedPledgeAmount);

        $('#formCreator').submit(function() {
            Analytics.logPledgeFlow({
                title: Analytics.PLEDGE_EVENTS.CONTINUED_TO_CONFIRMATION,
                info: {
                    is_edit: '{{ 1 if edit else 0 }}',
                    is_already_patron: '{{ 1 if existing_pledge else 0 }}',
                    creator_id: '{{ creator.user_id }}',
                    amount: Math.round(parseFloat(document.getElementById('amt').value) * 100),
                    reward: document.getElementById('formCreator')
                                    .querySelectorAll('input[type=radio]:checked')[0]
                                    .parentNode
                                    .getAttribute('amount')
                }
            })
        });
    });
</script>
