<div id="mainCategories"
     class="profile">
    {% if is_default_tab %}
        <div id="rightButtons">
            {% if current_user == None %}
                <a class="btn btnInfo btnFollow creator"
                   uid="{{ creator_id }}"
                   href="/login?ru={{ meta['url'] }}"
                   title="Following helps you keep track of creators until you're ready to become a patron">
                <div class="followIcon"></div>
                <span>Follow</span></a>
            {% elif not is_patron and not is_page_owner %}
                {% if current_user_is_follower %}
                    <a id="followBtn"
                       class="btn btnInfo btnFollow creator following"
                       uid="{{ creator_id }}"
                       href="#"
                       title="Following helps you keep track of creators until you're ready to become a patron">
                {% else %}
                    <a id="followBtn"
                       class="btn btnInfo btnFollow creator"
                       uid="{{ creator_id }}"
                       href="#"
                       title="Following helps you keep track of creators until you're ready to become a patron">
                {% endif %}
                <div class="followIcon"></div>
                <span>Follow</span></a>
            {% endif %}
            <a href="javascript:sharePage('http://www.facebook.com/sharer.php?u={{ urlencode(urlencode(page_user.canonical_url('ty=1'))) }}&t={{ urlencode(urlencode(meta['title'])) }}','facebook');"
               title="Support {{ page_user.full_name }} on Facebook"
               class="button small facebook"></a>
            <a href="javascript:sharePage('http://twitter.com/share?url={{ urlencode(urlencode(page_user.canonical_url('ty=2'))) }}&text={{ urlencode(urlencode(twitter_text)) }}','twitter');"
               title="Tweet support for {{ page_user.full_name }}"
               class="button small twitter"></a>
            <a href="javascript:sharePage('http://www.tumblr.com/share/photo?source={{ urlencode(urlencode(meta['image_url']))}}&caption={{ urlencode(urlencode(meta['title']))}}&clickthru={{ urlencode(urlencode(page_user.canonical_url('ty=3'))) }}', 'tumblr');"
               title="Support {{ page_user.full_name }} on Tumblr"
               class="button small tumblr"></a>
            <a href="javascript:sharePage('http://pinterest.com/pin/create/button/?url={{ urlencode(urlencode(page_user.canonical_url('ty=4'))) }}&media={{ urlencode(urlencode(meta['image_url'])) }}&description={{ urlencode(urlencode(meta['title'])) }}','pin');"
               title="Pin {{ page_user.full_name }} on Pinterest"
               class="button small pin"></a>
            <a href="javascript:sharePage('http://plus.google.com/share?url={{ urlencode(urlencode(page_user.canonical_url('ty=5'))) }}','google');"
               title="Support {{ page_user.full_name }} on Google+"
               class="button small google"></a>
        </div>
    {% endif %}
    <div class="table"
         style="margin:-2px 0 0 0;">
        <ul id="categoryMenu">
            <li{% if is_default_tab %} class="active"{% endif %}>
                <a href="{{ page_user.canonical_url('ty=h') }}">
                    Home
                </a>
            </li>
            <li{% if tab_type == 'c' %} class="active"{% endif %}>
                <a href="{{ page_user.canonical_url('ty=c') }}">
                    Creator Posts
                    {% if total_creation_count %}
                        <strong style="margin-left:10px">
                            {{ total_creation_count }}
                        </strong>
                    {% endif %}
                </a>
            </li>
            <li{% if tab_type == 'a' %} class="active"{% endif %}>
                <a href="{{ page_user.canonical_url('ty=a') }}">
                    All Posts
                    {% if total_activity_count > 0 %}
                        <strong style="margin-left:10px">
                            {{ total_activity_count }}
                        </strong>
                    {% endif %}
                </a>
            </li>
            {% if patron_count > 0 %}
                <li{% if tab_type == 'p' %} class="active"{% endif %}>
                    <a href="{{ page_user.canonical_url('ty=p') }}">
                        Patron{% if patron_count > 1 %}s{% endif %}
                        <strong style="margin-left:10px">
                            {{ patron_count }}
                        </strong>
                    </a>
                </li>
            {% endif %}
        </ul>
        <div class="clearfix"></div>
    </div>
</div>
