{{ view.Alert().render() }}
<script type="text/javascript" src="/scripts/nocompile/jquery.dotdotdot.min.js"></script>
<script type="text/javascript" src="/scripts/static/jquery.watermark.min.js"></script>
<script type="text/javascript" src="/scripts/static/jquery.sticky.js"></script>
<script type="text/javascript" src="/scripts/static/jquery.scrollpane.min.js"></script>
<script type="text/javascript" src="/scripts/static/jquery.elastic.source.js"></script>
<script type="text/javascript" src="/scripts/static/jquery.tipsy.js"></script>
<script type="text/javascript" src="/scripts/static/jquery.dateFormat.js"></script>
<script type="text/javascript" src="/scripts/static/jquery.isotope.min.js"></script>
<script type="text/javascript" src="/scripts/nocompile/jquery.cookies.2.2.0.min.js"></script>
<script type="text/javascript" src="/scripts/nocompile/moment.js"></script>
<script type="text/javascript" src="/scripts/nocompile/dropit.js"></script>
<script type="text/javascript" src="/scripts/nocompile/expanding.js"></script>
<script type="text/javascript" src="/scripts/nocompile/elastislide/jquerypp.custom.js"></script>
<link href="css/realtimeCreation.css" rel="stylesheet"/>
<link href="/css/creation.css?v={{ FILE_VERSION }}" rel="stylesheet" type="text/css"/>
<style>
/*
Override: /css/creation.css?v={{ FILE_VERSION }}
*/

.patreon-seo-block {
    width: 1px;
    height: 1px;
    display: block;
    position: absolute;
    overflow: hidden;
    visibility: hidden;
    z-index: -1;
    top: 0;
    left: 0;
}

body,
html {
    width: 100%;
    overflow-x: hidden;
}

#fancybox-tmp,
#fancybox-loading,
#fancybox-overlay,
#fancybox-wrap {
    display: none;
}

</style>
</div>
<!--Top Panel Close-->
</div>
<!--Top Panel Wrapper Close-->

<script type="text/javascript">
    window.triggerPostCreationSuccessModal = function() {
        var scope = angular.element("body");
        var injector = scope.injector();
        var modalService = injector.get("ModalsService");

        return modalService.showModal("post-creation-success", {
            creationName: '{{ activity.activity_title or '' }}',
            numPatrons: {{ patron_count }},
            pledgedDollars: {{ activity.cents_pledged_at_creation / 100 }},
            isMonthly: {% if campaign.is_monthly %}'true'{% else %}'false'{% endif %}
        });
    };
</script>

{% if get_alert != None and get_alert != 2 and is_owner and patron_count > 0 and (campaign.is_monthly or activity.is_paid) %}
    <script type="text/javascript">
        $(document).ready(triggerPostCreationSuccessModal);
    </script>
{% endif %}

<div id="creationPage"
     hid="{{ activity.activity_id }}"
     class="patreon-seo-block">
    <h1>{{ activity.activity_title }}</h1>
    {{ (activity.activity_content or '') | truncate(160, True) }}
</div>

<div class="patreon-page-content">
    <div data-patreon-creation-page-shim="{{ activity.activity_id }}"
         data-patreon-creation-page-shim-options="{
            'owner': {{ jsencode(is_owner) }},
            'private': {{ jsencode(is_private) }},
            'patron': {{ jsencode(is_patron) }},
            'default_pledge': {{ jsencode(default_pledge) }}
         }">

        <div class="patreon-creation-shim--legacy
                    patreon-placard">
            <div id="spLeftButtons"
                 hid="{{ activity.activity_id }}"
                 class="creation-like {% if has_liked %}uLike{% endif %}">
                <span id="stage"><a id='like_icon'
                                    class="icon like like_icon"
                                    style="text-align: center; color: #fff;"></a>
                </span>
                <span class="likeCount">{% if activity.like_count and activity.like_count > 0 %}{{ activity.like_count }}{% endif %}</span>
                <span class="like_word">Like{% if activity.like_count > 1 %}s{% endif %}</span>
            </div>

            <div class="creation-revenue">
                <div
                    class="creation-patrons showPopdown{{ ternary(new_pledges, '', ' hiddenDisplay') }} noRevenue"
                    title="Number of new patrons brought in by this creation">+{{ new_pledges }} Patrons
                </div>
            </div>
        </div>

        <div data-patreon-comments
             data-patreon-post-id="'{{ activity.activity_id }}'"
             data-patreon-post-author-id="'{{ page_user.UID }}'"
             class="oceans-comments
                    patreon-placard">
        </div>
    </div>
</div>

{{ view.IncCurrentUser().render() }}
<script>
window.comment_icon = {}
$(document).ready(function () {
    window.event_target_id = $('#creationPage').attr('hid');

    $('#liveChatBox').jScrollPane();
    $('#liveChatInput').watermark('Join the conversation...', {useNative: false}).elastic();

    $(".checkButton").tipsy({fade: true, gravity: 'n'}).change(function (e) {
        if ($(this).hasClass('checked'))
            $(this).removeClass('checked');
        else
            $(this).addClass('checked');
    });

    {% if get_cid %}
        $('.viewCommentsLink').click();
    {% endif %}

    $(".showPopup").tipsy({fade: true, gravity: 's'});
    $(".showPopdown").tipsy({fade: true, gravity: 'n'});
    $('.profile-bio:first').dotdotdot({
        after: 'a.readmore'
    });

    {% if is_private %}
    $('.creation-info:first').dotdotdot();
    {% endif %}

    var $commentsDiv = $('#creation-comments');
    $commentsDiv.find(".dateRun").localTimeFromUTC("mmm d, yyyy 'at' h:MM tt");
    $("#releaseDate span").localTimeFromUTC("mmmm d, yyyy");

    $('a.like:first').click(actionClick({{ action_like_enum }}, 2));
});

{{ view.IncShare().render() }}
</script>
