<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <base href="/">
    {% if not hide_meta %}
        {{ view.Meta().render() }}
    {% endif %}

    <link href="//s3.amazonaws.com/patreon_public_assets/patreon_fonts.css" rel='stylesheet' type='text/css'/>

    {% if not no_legacy_stylesheets %}
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="/scripts/static/fancybox/jquery.fancybox-1.3.4.css" rel="stylesheet" type="text/css"/>
        <link href="/css/menu_style.css?v={{ FILE_VERSION }}" rel="stylesheet" type="text/css"/>
        <link href="/css/main.css?v={{ FILE_VERSION }}" rel="stylesheet" type="text/css"/>

        <style>
        /* TODO: Please move these to some legacy CSS file */
        /* Used For ShareBox */

        .legacy-activity-feed-buttons {
            position: absolute;
            right: 5px;
            top: 5px;
        }

        .legacy-activity-feed-buttons .legacy-activity-feed-buttons--left,
        .legacy-activity-feed-buttons .btnOnShare.left {
            margin: 0px;
            display: inline-block;
            vertical-align: top;
            height: 18px;
            padding: 5px 4px 6px 5px !important;
        }

        .legacy-activity-feed-buttons .legacy-activity-feed-buttons--right,
        .legacy-activity-feed-buttons .btnOnShare.right {
            display: inline-block;
            margin: 0px;
            vertical-align: top;
        }

        #watchCreation.legacy-override iframe{
            /* Monkey patching the creation page because the video has no bounds */
            width: 100%;
            height: 430px;
        }

        /* TODO: For be a patron flow, remove once the new one is complete */
        .patreon-legacy-block {
            margin-top: 0px;
            height: 0px;
            overflow: hidden;
            visibility: hidden;
            padding: 0px;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            opacity: 0;
            -webkit-transition: opacity 200ms ease;
            transition: opacity 200ms ease;
            -moz-transition: opacity 200ms ease;
            max-width: 560px;
        }

        .patreon-legacy-block.active {
            visibility: visible;
            height: auto;
            overflow: none;
            margin-top: 20px;
            padding: 20px;
            opacity: 1;
        }

        .patreon-legacy-block p {
            margin: 0;
            margin-bottom: 0px;
            font-size: 12px;
            font-weight: 400;
        }

        .patreon-legacy-element-adjustments .rewardTail img {
            max-width: 100%;
        }

        .patreon-legacy-rewards img {
            max-width: 100%;
        }

        </style>
    {% endif %}
    <style>
        .component-admin-mode--block {
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            font-family: 'Open Sans', helvetica, sans-serif;
            background: #E8EBEB;
            width: 275px;
            text-decoration: none;
            min-height: 60px;
            display: inline-block;
            vertical-align: top;
            padding: 10px;
            font-weight: 600;
            margin: 8px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
        }

        .component-admin-mode--block.is-link {
            background: #F6F6F6;
            transition: 300ms ease all;
            -webkit-transition: 300ms ease all;
        }

        .component-admin-mode--block.is-link:hover {
            background: #00A875;
            text-decoration: none;
            cursor: pointer;
        }

        .component-admin-mode--block.is-link:hover a,
        .component-admin-mode--block.is-link:hover span {
            color: #FFFFFF;
        }

        .component-admin-mode--block a,
        .component-admin-mode--block span {
            display: block;
            width: 100%;
            font-size: 12px;
            color: #232D32;
            transition: 300ms ease all;
            -webkit-transition: 300ms ease all;
        }

        .component-admin-mode--block a:hover {
            text-decoration: none;
        }
    </style>
    <link href="{{ webclient_s3_prefix }}/css/app.css" rel="stylesheet" type="text/css"/>
    {% if session.meta['react_dependencies'] %}
        <link href="{{ react_s3_prefix }}/react-app.css"
              rel="stylesheet"
              type="text/css">
    {% endif %}

    <!--[if IE 9]>
    <script src="//cdn.rawgit.com/jpillora/xdomain/0.7.3/dist/xdomain.min.js" data-slave="https://{{ api_server }}/ie"></script>
    <![endif]-->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.9.3/lodash.min.js"></script>
    <script
        src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit"
        async defer></script>
    <script type="text/javascript" src="{{ webclient_s3_prefix }}/js/app.js"></script>

    <!--[if IE]>
    <link rel="stylesheet" type="text/css" href="css/main-ie.css"/><![endif]-->
    {% if not no_legacy_javascript %}
        <script type="text/javascript">
            var osPage = '{{ os_page }}'; // tells what patreon page to execute
        </script>

        <script type="text/javascript"
        src="//maps.googleapis.com/maps/api/js?key=AIzaSyAG4uXX_eucDtOjEE2DhSZbzpYmOUuGoT8&sensor=false&libraries=places">
        </script>
        <script type="text/javascript" src="/scripts/nocompile/jquery.fancybox-1.3.4.min.js"></script>

        {% if not static_reduced %}
            <script type="text/javascript" src="/scripts/static.js?v=2"></script>
        {% else %}
            <script type="text/javascript" src="/scripts/static_reduced.js?v=2"></script>
        {% endif %}

        <script type="text/javascript" src="/scripts/ourspot.js"></script>
    {% endif %}

    <script type="text/javascript">
        Modernizr.addTest('patreon-flexbox-ie10-adjustment', Modernizr.testAllProps('flexAlign', 'end', true));

        $(document).ready(function () {
            {% if not no_legacy_javascript %}

                window.triggerDeletePostModal = function(data) {
                    var scope = angular.element("body");
                    var injector = scope.injector();
                    var modalService = injector.get("ModalsService");

                    return modalService.showModal("make-post-delete-from-id", {
                        id: data.id,
                        name: data.name,
                        avatar: data.avatar
                    });
                };

                /* BEGIN HACK FOR FONT FACE WEB FONTS UNTIL CHROME FIX */
                $('body').delay(500).queue(
                    function (next) {
                        $(this).css('padding-bottom', '1px');
                    }
                );
                /* END HACK FOR FONT FACE WEB FONTS UNTIL CHROME FIX */

                {% if not show_big %}
                    $("#topPanWrapper").sticky();
                {% endif %}
            {% endif %}
        });


        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-40726300-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') +
                '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();

    </script>

    <script type="text/javascript">
        var decodeEntities = (function () {
            //create a new html document (doesn't execute script tags in child elements)
            var doc = document.implementation.createHTMLDocument("");
            var element = doc.createElement('div');

            function getText(str) {
                element.innerHTML = str;
                str = element.textContent;
                element.textContent = '';
                return str;
            }

            function decodeHTMLEntities(str) {
                if (str && typeof str === 'string') {
                    //called twice because initially text might be encoded like this: &lt;img src=fake onerror=&quot;prompt(1)&quot;&gt;
                    return getText(getText(str));
                }
            }
            return decodeHTMLEntities;
        })();


        window.facebookLogin = function(){
            if(typeof(FB) != 'undefined' && FB != null) {
                FB.login(function(response){
                    var serverString = "{{ MAIN_SERVER }}";
                    var queryString = "{{ query_string }}";
                    queryString = decodeEntities(queryString);
                    if (response.authResponse) {
                        window.location = 'https://'
                                        + serverString
                                        + '/fblogin?'
                                        + queryString;
                    } else {
                        console.error("Facebook failed to provide auth response");
                    }
                }, {scope: 'user_photos'});
            }
        };
    </script>

    <!-- dependency injection from patreon_py into patreon_webclient -->
    <script type="text/javascript">
        // for es6 modules
        window.patreon = {
            apiServer: '{{ api_server }}'
        };

        // for angular modules
        angular
            .module('App.services')
            .config(["ApiServerPathProvider", function(ApiServerPathProvider) {
                ApiServerPathProvider.set("https://{{ api_server }}");
            }])
            .config(['CurrentUserProvider', function(CurrentUserProvider) {
                CurrentUserProvider.setCurrentUser({
                    id: '{% if current_user %}{{ current_user.UID }}{% endif %}',
                    fullName: '{% if current_user %}{{ current_user.full_name }}{% endif %}',
                    thumbUrl: '{% if current_user %}{{ current_user.thumb_url }}{% endif %}',
                    email: '{% if current_user %}{{ current_user.email }}{% endif %}'
                });
            }])
            .config(['AnalyticsConfigProvider', function(AnalyticsConfigProvider) {
                AnalyticsConfigProvider.setEventName(
                    {{ session.meta.get('page_load_event_name') | tojson }}
                );
            }]);

        {% if bonfire_host != None %}
            angular
                .module('App.services')
                .config(['SocketIoProvider', function(SocketIoProvider) {
                    SocketIoProvider.setHost('{{ bonfire_host }}');
                }]);
        {% endif %}
    </script>
</head>

<body data-ng-app="App"
      data-root="true"
      id="ng-app"
      class="patreon-body-flex-support
             patreon-background{% if patreon_fonts_override %}
             {{'patreon-fonts-override'}}{% endif %}">
<div class="patreon-body-legacy-override
            patreon-fonts-override"
     data-patreon-modals>
</div>
<div class="patreon-body-legacy-override
            patreon-fonts-override"
     patreon-hover-messaging>
</div>

<!-- Used for redirecting after logging in. -->
<input type="hidden"
       id="login-component-main-server"
       value="{{ MAIN_SERVER }}">

<div id="white-overlay"></div>
<div id="intro-overlay"></div>
<div id="fb-root"></div>
<script>
    var fb_validated = false;
    window.fbAsyncInit = function () {
        FB.init({
            appId: '{{ FB_APP_ID }}', // App ID
            version: 'v2.0',
            channelURL: '//{{ MAIN_SERVER }}/channel.php', // Channel File
            status: false, // check login status
            cookie: true, // enable cookies to allow the server to access the session
            oauth: true, // enable OAuth 2.0
            xfbml: true,  // parse XFBML
            frictionlessRequests: true
        });

        FB.getLoginStatus(function (response) {
            if (response.status === 'connected') {
                /*FB.api({ method: 'fql.query',query: 'SELECT publish_stream FROM permissions WHERE uid=me()' },
                 function(response) {
                 if(response[0].publish_stream == 1)
                 fb_validated = true;
                 }
                 );*/
                fb_validated = true;
                {% if fb_done %}
                    var today = new Date();
                    var expire = new Date();
                    expire.setTime(today.getTime() + 3600000*24);
                    document.cookie = "updatefb=1;expires="+expire.toGMTString();
                    $.ajax({url:"http://www.aptley.com/processFBImport?method=update"});
                {% endif %}
            }
        });
        // Additional initialization code here

        // This block of code supports urls that say something like
        // https://www.patreon.com/signup?facebookSignup=yes
        var queryDictionary = {};

        location.search.substr(1).split("&").forEach(function(item) {
            queryDictionary[item.split("=")[0]] = item.split("=")[1];
        });

        // Hello
        if (queryDictionary.facebookSignup === 'yes') {
            var $scope = angular.element(document.getElementById('patreon-signup-component')).scope().$$childHead;

            $scope.handleFacebookSignup();
        }
    };

    // Load the SDK Asynchronously
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'))
</script>

{{ view.Navigation(session.meta['no_share']).render() }}

<div class="patreon-body-legacy-override
            patreon-fonts-override"
            data-patreon-navigation>
</div>
<div data-patreon-tooltip></div>
<div class="patreon-navigation-gutter">
</div>

{% if session.is_admin %}
    {{ view.AdminTools().render() }}
{% endif %}
