<link href="/css/messages.css" rel="stylesheet" type="text/css"/>
<link href="/css/menu_style.css" rel="stylesheet" type="text/css"/>
<div id="mainmiddleSection"
     class="patreon-page-content">

    <!--Main Middle Panel-->
    <div id="mainmiddlePan" style="top:-3px; position:relative;">
        <div id="listUsers" class="center" style="width:620px; left:0px;">
            <p class="boxSub withSearch" style="font-size:18px; color:#333;">Your Message Inbox</p>
            <div id="boxGrid" class="clearfix infinite-scrolling">
                {% if count_all_messages == 0 %}

                    <div id="spotName" style="margin: 0 auto 10px;">
                    <div id="spotInfo" style="width:568px;" class="box marquee">
                    <div id="creatorMarquee" class="boxWrapper medium" style="padding:0;height:388px;">
                    <div id="creatorImg">
                    <div id="nsTitle" style="margin-top:10px;">You don't have any messages yet.</div>
                    <div style="text-align:center;"><a target="_top" href="/user" style="float:none;"
                        class="btn submit glowBtn">Go to my Page</a></div>
                    </div>
                    </div>
                    </div>
                    </div>
                
                {% else %}

                    {% for one_message in all_messages %}
                        {{ view.Message(one_message, senders_by_id).render() }}
                    {% endfor %}

                {% endif %}

            </div>
            </form>
        </div>
    </div>
    <!--Main Middle Panel Close-->

</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.dateBox').localTimeFromUTC("mmm d, yyyy 'at' h:MM tt");
        $('#mainmiddleSection').jScrollPane();

        // Don't close messages modal on clicks outside the modal.
        parent.$('#fancybox-overlay').unbind('click');
        parent.$('#fancybox-overlay').css({
            cursor: 'default'
        });
    });
</script>
</body>
</html>
