{{ view.Alert().render() }}
<script type="text/javascript" src="/scripts/static/fpTemplate/bootstrap-alerts.js"></script>
<script src="/scripts/nocompile/Jcrop/jquery.Jcrop.min.js" type="text/javascript"></script>
<link rel="stylesheet" href="/scripts/nocompile/Jcrop/jquery.Jcrop.css" type="text/css"/>
<link rel="stylesheet" href="/css/multistep.css?v=1" type="text/css"/>
<style type="text/css">
    i.icon-cat {
        display: inline-block;
        height: 28px;
        width: 28px;
        margin: auto;
        background-size: auto 28px;
        background-image: url(/images/category_icons_sprite.png);
    }

    .row-cat .col-cat {
        float: left;
        width: 170px;
        margin-right: 3px;
        margin-bottom: 8px;
    }

    .col-cat input {
        display: none;
    }

    .click-cat {
        opacity: .3;
        vertical-align: middle;
        position: relative;
        cursor: pointer;
    }

    .click-cat.selected {
        opacity: 1;
    }

    .click-cat .title-cat {
        position: absolute;
        margin-top: 6px;
        padding-left: 4px;
        white-space: nowrap;
        color: #333;
        font-weight: bold;
    }

    .center-col {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .inputBg-create {
        float: none;
        width: 100%;
    }
</style>
<div id="mainmiddleSection"
     class="patreon-page-content">

<!--Main Middle Panel-->
<div id="mainmiddlePan">
<div class="center fixed short">

<div id="mainbg" class="mainbg">

{{ view.CreateHeader('/create').render() }}

<div class="center-col">

    <form id="formCreator"
          class="csrf_update"
          action="/create"
          method="post">
        {{ view.CSRFFields().render() }}
        <div class="inputBg inputBg-create">
            <div class="askText">Who are you?</div>
            <div id="requiredInfo">
                <input class="inputText"
                       type="text"
                       id="fullName"
                       name="fullName"
                       onKeyUp="writeDeal(this.value,'prName')"
                       value="{{ current_user.full_name }}"/>
            </div>
        </div>
        <div class="clearfix bottomSpace"></div>

        <div class="inputBg inputBg-create">
            <div class="askText">What are you creating?</div>
            <div id="requiredInfo">
                <input class="inputText"
                       type="text"
                       id="create"
                       name="create"
                       onKeyUp="writeDeal(this.value,'prCreate')"
                       value="{% if campaign and campaign.creation_name %}{{ campaign.creation_name }}{% endif %}"/>
                <label id="nsfwCheckbox"
                       class="checkButton {% if campaign != None and campaign.is_nsfw %}checked{% endif %}"
                       original-title="For work that involves adult-themed materials or nudity, please check this box">
                    <input type="checkbox"
                           id="nsfwCheck"
                           name="nsfwCheck"
                            value="1" {% if campaign != None and campaign.is_nsfw %}checked{% endif %}>
                    <span>My work may be NSFW</span>
                </label>

                <div class="clearfix"></div>
            </div>

            <div class="askText" style="margin-top:12px;">What are you getting paid for?</div>
            <div id="requiredInfo">
                <input class="inputText {% if campaign != None and campaign.is_monthly %}disabled{% endif %}"
                       type="text"
                       id="createSingle"
                       name="createSingle" {% if campaign != None and campaign.is_monthly %}readonly{% endif %}
                       onKeyUp="writeDeal(this.value,'prCreateSingle')"
                       value="{% if campaign and campaign.pay_per_name %}{{ campaign.pay_per_name}}{% endif %}"/>
                <label id="monthCheckbox"
                       class="monthly checkButton {% if campaign != None and campaign.is_monthly %}checked{% endif %}"
                       original-title="Recommended only for creators who release content daily or very frequently. Instead of charging per item, patrons will be charged once every month."><input
                       type="checkbox"
                       id="monthCheck"
                       name="monthCheck"
                       value="1" {% if campaign != None and campaign.is_monthly %}checked{% endif %}>
                    <span>Monthly campaign</span>
                </label>
            </div>
            <div class="clearfix"></div>

            {{ view.CreateCategories(campaign.categories).render() }}

        </div>
        <div class="clearfix bottomSpace"></div>

        <div class="inputBg inputBg-create">
            <input type="hidden" id="shareImgUrlPhoto" name="shareImgUrlPhoto" value=""/>
            <input type="hidden" id="shareImgSmallUrlPhoto" name="shareImgSmallUrlPhoto" value=""/>

            <div class="askText">Upload a cover photo for your page</div>
            <div class="askTextSub">Photos close to 1200x675 will look the best!</div>
            <div id="shareImageDiv">
                <div id="shareImageLeft">
                    <div id="shareImageImgSection">
                        <div class="centerShareUrl"
                             id="shareImageImgDiv">
                            <img class="centerShareUrl"
                                 id="shareImageImg"
                                 src="/images/imageUploadDefault.png">
                        </div>
                    </div>
                </div>
                <div id="shareImageRight"
                     style="width:384px;">
                    <a class="closeX hiddenClose" href="#"></a>

                    <div id="shareImageTitle">
                        Upload an image or drag it into this box
                    </div>
                    <div id="uploadImageButton"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <!-- END shareImageDiv -->
        </div>
        <div class="clearfix bottomSpace"></div>
        <div id="inputButtons" class="create">
            <input id="nextSave"
                   type="submit"
                   class="btn primary"
                   value="Save and Continue"
                   style="padding: 14px;
                          font-size: 16px;" >
        </div>
    </form>

</div>
</div>
<!--mainbg Close-->
<div class="clearfix" style="margin-bottom:10px;"></div>

</div>
</div>
<!--Main Middle Panel Close-->
</div>

<div class="fancyboxHidden">
</div> <!-- END FancyboxHidden-->
<script type="text/javascript">
    var jcrop_api, boundx, boundy;

    var thumbSet = false;

    // this is made global so that the iframe can easily access it
    var logEvent;

    $(document).ready(function () {
        var scope = angular.element("body");
        var injector = scope.injector();
        var Analytics = injector.get("Analytics");
        var DOMAIN = 'Launch';

        logEvent = function (name, info) {
            var event = {
                domain: DOMAIN,
                title: name,
                info: info
            };
            event.info.campaign_id = {{ js_campaign_id }};
            event.info.campaign_launched = {{ js_campaign_launched }};
            return Analytics.logEvent(event);
        }

        $('#fullName').watermark('Full Name (Jack Conte, Pomplamoose, etc.)', {useNative: false});
        $('#create').watermark('(Music, Videos, Art, etc.)', {useNative: false});
        $('#createSingle').watermark('Be paid for each "what" (per "song", "album", "video", "month", etc.)', {useNative: false});
        $('#oneline').watermark('(Rockin\' to my own daily beat, Love is a Four Letter Word, etc.)', {useNative: false});

        $("#startPopup").fancybox({
            'overlayColor': '#FFF',
            'type': 'iframe',
            'autoScale': false,
            'autoDimensions': false,
            'width': 800,
            'height': 380,
            'scrolling': 'no',
            'showNavArrows': false,
            'onClosed': function () {
                logEvent('Close Helpbox', {});
            }
        });
        {% if rgsn %}
        $('#startPopup').click();
        {% endif %}

        $(".checkButton").tipsy({fade: true, gravity: 'n'}).change(function (e) {
            if ($(this).hasClass('checked')) {
                $(this).removeClass('checked');
                if ($(this).hasClass('monthly')) {
                    $('#createSingle').val('').prop('readonly', false).removeClass('disabled');
                    $('#prCreateSingle').text('');
                }
            }
            else {
                $(this).addClass('checked');
                if ($(this).hasClass('monthly')) {
                    $('#createSingle').val('month').prop('readonly', true).addClass('disabled').keyup();
                }
            }
        });

        $('#shareImageDiv a.closeX:first').click(function () {
            resetCreateImage();
            return false;
        });

        var shareImagePreview = $('img#shareImageImg');
        var uploader = new qq.FileUploader({
            element: $('#uploadImageButton')[0],
            allowedExtensions: ['jpg', 'jpeg', 'png', 'gif'],
            sizeLimit: 10 * 1024 * 1024, // max size
            action: '/legacyCampaignUpload',
            onSubmit: function (id, filename) {
                $('div#shareImageImgDiv').addClass('loading');
            },
            onComplete: function (id, filename, responseJSON) {
                $('.qq-upload-button').hide();
                shareImagePreview.load(function () {
                    $('div#shareImageImgDiv').removeClass('loading');
                    shareImagePreview.unbind();
                });
                $('#shareType').val('{{ share_type_photo }}');
                shareImagePreview.attr('src', responseJSON.image_url);
                $('#prImg').attr('src', responseJSON.image_url);
                $('#shareImgUrlPhoto').val(responseJSON.image_url);
                $('#shareImgSmallUrlPhoto').val(responseJSON.image_small_url);
                $('#shareImageDiv a.closeX:first').removeClass('hiddenClose');
            }
        });

        $('#formCreator').submit(function () {

            if ($('#create').val() == '') {
                apprise('Please enter what you are creating.');
                logEvent('Fail Step 1', {
                    reason: 'creation name'
                });
                return false;
            }

            if ($('#createSingle').val().toLowerCase() == 'month'
                    && !$('#monthCheckbox').hasClass('checked')) {
                apprise('For automatic monthly campaigns, please make sure to check the "Monthly Campaign" checkbox!');
                logEvent('Fail Step 1', {
                    reason: 'unchecked monthly'
                });
                return false;
            }

            // On submit disable its submit button
            $('.btn.primary').attr('disabled', 'disabled');
            $(this).find('.btn.primary:first').val('Please wait...');
            logEvent('Finish Step 1', {});
            return true;
        });

        $('.multi-step a').on('click', function () {
            logEvent('Skip To Step', {
                from_step: 1,
                to_step: $(this).parents('.current').data('index')
            });
        });

        logEvent('Began', {});
    });
    function writeDeal(text, id) {
        document.getElementById(id).innerHTML = text.replace(/\n/g, "<br/>");
    }
    function resetCreateImage() {
        /* Image Reset */
        $('#shareImageDiv a.closeX:first').addClass('hiddenClose');
        $('#shareImageImg').attr('src', '/images/imageUploadDefault.png');
        $('.qq-upload-button').show();
        $('.qq-upload-list').html('');
        $('#shareImgUrlPhoto').val('');
        $('#shareImgSmallUrlPhoto').val('');
    }
</script>
<a id="startPopup" class="hiddenDisplay" href="/create_start"></a>
