<!-- TODO: MOBILE SUPPORTED PAGE -->
<div class="patreon-page-content">
    <div class="patreon-wrapper full-page">
        <div class="patreon-full-page-message"
             style="max-width:560px;">
            <h2 class="patreon-full-page-message--heading ">
                :/
                <br>
                This page is temporarily under review.
            </h2>
            <span class="patreon-full-page-message--description"
                  style="font-size:15px;">
                Patreon received a DMCA infringement notice. To remain 100% DMCA
                compliant, Patreon is required to suspend this page until we are
                notified otherwise.
                <br><br>
                The creator and patrons have been notified, and we are doing
                everything in our power to properly communicate with the
                community, IP owners, and creator to see if we can get this page
                back up and running.
                {% if notice_url %}
                    You can find more information here:
                    <br>
                    <a href="{{ notice_url }}"
                       class="link"
                       alt="DMCA Notice">
                        <b>{{ notice_url }}</b>
                    </a>
                {% endif %}
            </span>
        </div>
    </div>
</div>
