{{ view.Alert().render() }}
<link rel="canonical" href="{{ meta['url'] }}">
<link rel="stylesheet" href="/css/userPatron.css" type="text/css"/>

<div id="mainmiddleSection"
     class="patreon-page-content">

{{ view.UserAlerts(page_user, None).render() }}

<!--Main Middle Panel-->
<div id="mainmiddlePan">
<div class="center fixed short">

<div id="profileLeft"
     style="margin-top:0;">
    <p class="boxSub large">
        {{ page_user.full_name }}
    </p>

    <div class="boxSubBottom"></div>
    {{ view.Sidebar(page_user.UID, True).render() }}
</div>

<div id="mainCategories"
     class="profile"
     style="border-bottom: 1px solid #CFCFCF;
            margin-top:-8px;">
    {% if not is_page_owner and current_user_follows %}
        <!-- User following another user is normally not allowed, but can exist if that user was once a creator and then reverted. -->
        <div id="rightButtons">
            <a id="followBtn"
               style="margin-top:-4px;color:#666;"
               class="btn btnInfo btnFollow following"
               href="#"
               uid="{{ page_user.UID }}"
               title="This user is no longer a creator. Click here if you wish to unfollow them.">
                <div class="big followIcon"></div>
                <span>Followed</span>
            </a>
        </div>
    {% endif %}
    <div class="table"
         style="margin:-2px 0 0 0;
         width:100%;">
        <ul id="categoryMenu">
            <li{% if is_default_tab %} class="active"{% endif %}>
                <a href="{{ page_user.canonical_url('pat=1') }}">
                    Supporting
                </a>
            </li>
            <li{% if tab_type == 'c' %} class="active"{% endif %}>
                <a href="{{ page_user.canonical_url('ty=c&pat=1') }}">
                    Creations Supported
                </a>
            </li>
            <li{% if tab_type == 'l' %} class="active"{% endif %}>
                <a href="{{ page_user.canonical_url('ty=l&pat=1') }}">
                    Likes
                </a>
            </li>
            <li{% if tab_type == 'a' %} class="active"{% endif %}>
                <a href="{{ page_user.canonical_url('ty=a&pat=1') }}">
                    Posts
                </a>
            </li>

            <!-- Leave room for following button, if present -->
            <li {% if not is_page_owner and current_user_follows %}
                    style="float:right;
                           border-bottom:none;
                           margin-right:102px;"
                {% else %}
                    style="float:right;
                           border-bottom:none;"
                {% endif %}>

                <a style="color:#444;"
                   href="{{ page_user.canonical_url('ty=c&pat=1') }}">
                    {% if pledge_total > 0 %}
                        <strong>{{ format_money(pledge_total/10, 0) }}</strong> Good
                    {% endif %}
                    <img title="Good is an easy way to measure the difference you're making for Creators."
                         id="goodIcon"
                         src="/images/good_icon.png"/>
                </a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
</div>
<div id="mainCategoriesBottom" class="profile"></div>

<div id="boxGrid"
     class="profile clearfix infinite-scrolling">
    {% if is_page_private and current_user.UID != page_user.UID %}
        <div id="spotName"
             style="margin: 0 auto 10px;">
            <div id="spotInfo"
                 class="box marquee">
                <div id="creatorMarquee"
                     class="boxWrapper medium"
                     style="padding:0;
                            height:388px;
                            width:690px;">
                    <div id="creatorImg"
                         style="position:absolute;">
                        <div id="nsTitle"
                             style="margin-top:50px;">
                            {{ page_user.full_name }} has made this page private.
                        </div>
                        <div style="text-align:center;">
                            <a href="/discover"
                               style="float:none;"
                               class="btn submit glowBtn">
                                Browse Creators
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% elif tab_type == 'c' %}
        {% if creations|length == 0 %}
            <div id="emptyUser"
                 class="user">
                <div id="nsTitle"
                     style="margin-top:50px;">
                    {{ page_user.full_name }} hasn't supported any creations yet!
                </div>
                <div style="text-align:center;">
                    <a href="/discover"
                       style="float:none;"
                       class="btn submit glowBtn">
                        Browse Creators
                    </a>
                </div>
            </div>
        {% endif %}
        {% for creation in creations %}
            {{ view.ShareBox(creation, current_user, commenters, user_likes).render() }}
        {% endfor %}
    {% elif tab_type == 'a' %}
        {% if creations|length == 0 %}
            <div id="emptyUser"
                 class="user">
                <div id="nsTitle"
                     style="margin-top:50px;">
                    {{ page_user.full_name }} hasn't posted to a Creator's page yet!
                </div>
                <div style="text-align:center;">
                    <a href="/discover"
                       style="float:none;"
                       class="btn submit glowBtn">
                        Browse Creators
                    </a>
                </div>
            </div>
        {% endif %}
        {% for creation in creations %}
            {{ view.ShareBox(creation, current_user, commenters, user_likes).render() }}
        {% endfor %}
    {% elif tab_type == 'l' %}
        {% if creations|length == 0 %}
            <div id="emptyUser"
                 class="user">
                <div id="nsTitle"
                     style="margin-top:50px;">
                    {{ page_user.full_name }} hasn't liked anything yet!
                </div>
                <div style="text-align:center;">
                    <a href="/discover"
                       style="float:none;"
                       class="btn submit glowBtn">
                        Browse Creators
                    </a>
                </div>
            </div>
        {% endif %}
        {% for creation in creations %}
            {{ view.ShareBox(creation, current_user, commenters, user_likes).render() }}
        {% endfor %}
    {% else %}
        {% if page_user_supporting|length == 0 and page_user_past_pledges|length == 0 %}
            <div id="spotName"
                 style="margin: 0 auto 10px;">
                <div id="spotInfo"
                     class="box marquee">
                    <div id="creatorMarquee"
                         class="boxWrapper medium"
                         style="padding:0;
                                height:388px;
                                width:690px;">
                        <div id="creatorImg"
                             style="position:absolute;">
                            <div id="nsTitle"
                                 style="margin-top:50px;">
                                {{ page_user.full_name }} is not a patron yet!
                            </div>
                            <div style="text-align:center;">
                                <a href="/discover"
                                   style="float:none;"
                                   class="btn submit glowBtn">
                                    Browse Creators
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            {% for supported in page_user_supporting %}
                {{ view.DisplayCreator(page_user, supported.CID).render() }}
            {% endfor %}

            {% if page_user_past_pledges|length != 0 %}
                <div class="box double"
                     style="margin-top:10px;">
                    <h1>
                        Past Pledges
                    </h1>
                </div>
                {% for supported in page_user_past_pledges %}
                    {{ view.DisplayCreator(page_user, supported, False).render() }}
                {% endfor %}
            {% endif %}
        {% endif %}
    {% endif %}

</div>
<div class="clearfix"></div>
</div>
</div>
<!--Main Middle Panel Close-->
</div>

<a id="seeMore" class="hiddenDisplay" href="#">See More<span></span></a>

<nav id="page_nav">
    <a href="/patronNext?p=2&ty={{ tab_type }}&u={{ page_user.UID }}&srt={{ sort }}"></a>
</nav>

<script>
    page_user_id = {{ page_user.user_id }};
</script>

<script type="text/javascript">
    {% if is_default_tab %}
        var noScroll = true;
    {% else %}
        var noScroll = false;
    {% endif %}
    {{ view.IncShare().render() }}
    $(document).ready(function () {
        {% if get_msg %}
            $('#newsSeeMore').click();
        {% endif %}

        var moreText = "See more";
        var lessText = "See Less";

        $(".more-block").each(function () {
            if ($(this).prop('scrollHeight') > $(this).height())
                $(this).parent().append('<a class="moreText" href="#">See more</a>');
        });

        $(".moreText").toggle(function () {
            $(this).parents("div:first").find(".more-block:first").addClass('full');
            $(this).text(lessText);
            $container.isotope('reLayout');
        }, function () {
            $(this).parents("div:first").find(".more-block:first").removeClass('full');
            $(this).text(moreText);
            $container.isotope('reLayout');
        });

        $(".barIcon,#goodIcon").tipsy({fade: true, gravity: 'w'});

        var unfollowClick = function(e){
            e.preventDefault();
            $this = $(this);
            $this.removeClass('following').find('span:first').html('Follow');
            $.post('/processFollow?follow=0&uid='+$this.attr('uid'));
        }

        // don't delegate to ourspot.js
        $('#followBtn').click(unfollowClick);
    });
    {% if deleted_creator != None %}
        $("#saveLink").click(function () {
            $.post('/processFollow?follow=1&uid={{ deleted_creator.UID }}');
            apprise('{{ deleted_creator.full_name }} updates have been saved to your home page!');
            return false;
        });
    {% endif %}
</script>
