<script src="https://checkout.stripe.com/checkout.js"></script>
<div    patreon-be-patron
        data-campaign-id="{{ campaign_id }}"
        data-edit="{{ edit }}"
        data-pledge-amount="{{ pledge_amount }}"
        data-reward-id="{{ reward_id }}"
        data-creator-id="{{ creator_id }}"
        data-paypal-redirect="{{ paypal_redirect }}"
        data-internal-page="{{ internal_page }}"
        data-paypal-redirect-vars="{{ paypal_redirect_vars }}"
        data-stripe-key="'{{ stripe_key }}'"
        class="patreon-fonts-override patreon-body-legacy-override patreon-page-content"></div>