{%- if patron_days > 30 and pledge_sum > 0 -%}
    {%- if small -%}
        <span class="ribbonSmall{% if large_pledge %} star{% endif %} showPopup"
              title="{{ user.full_name }} has been supporting {{ creator.full_name }}{% if large_pledge %} an extraordinary amount{% endif %} for {{ patron_days }} continuous days."></span>
    {%- else -%}
        <div class="ribbon{% if large_pledge %} star{% endif %} showPopup"
             title="This ribbon means {{ user.full_name }} has supported {{ creator.full_name }}{% if large_pledge %} an extraordinary amount{% endif %}">
            {%- if large_pledge -%}
                <img src="/images/ribbonStar.png" />
            {%- else -%}
                <img src="/images/ribbon.png" />
            {%- endif -%}
        </div>
    {%- endif -%}
{%- endif -%}
