<div class="emptyNotification"
     style="margin-left:auto;
            margin-right:auto;
            width:268px;
            float:none;
            margin-top:14px;">
    <strong>Not sure how Patreon works?</strong>
    <br>
    <p>
        Please watch
        <a id="learnMore"
           href="https://www.youtube.com/watch?v=wH-IDF809fQ&autoplay=1">
            this video
        </a>
        first.
    </p>
    <strong>Please review your pledge.</strong>
    <br>
    <p>
        You are pledging to support {{ campaign_name }}
        <span class="headorange">for each</span>
        new {{ pay_per_name }} released.
    </p>
    <strong>You can cancel payment at any time.</strong>
    <br>
    <p>
        If the creator initiates any charges, you are only charged at the
        beginning of the next month, so you can review, edit, and even cancel
        any pledges you've made before then.
    </p>
    <i class="icon-lock posAbsolute"></i>
    <strong class="needIcon">Your info is safe.</strong>
    <br>
    <p>
        All credit cards are transmitted by secure encryption and at no time is
        your credit card number stored on our servers.
    </p>
    <strong>Other questions?</strong>
    <br>
    <p style="margin-bottom:0;">
        Check out our
        <a target="_blank"
           href="http://support.patreon.com">
            help center
        </a>.
    </p>
</div>
{{ view.LegacyLearnMore().render() }}
