{{ view.HeaderIframe().render() }}

<style type="text/css">
    a {
        font-size:16px;
    }

    #newSpot {
        width: 800px;
        height: auto;
    }

    #nsInner {
        width: 760px;
        min-height: 340px;
    }

    #nsMain {
        width: 650px;
    }

    #nsTitle {
        margin-bottom: 18px;
    }

    #receiptNote {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 16px;
        width: 720px;
        margin-left: -20px;
        margin-top: 16px;
    }

    #invoice {
        font-size: 18px;
        margin-bottom: 16px;
        color: #333;
    }

    .border {
        background: #fafafa;
        padding: 10px 12px 10px 12px;
        line-height: 24px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        display: inline-block;
    }

    .glowBtn {
        padding: 8px 21px !important;
    }
</style>

<div id="newSpot">
    <div id="nsInner">
        <div id="nsTitle">
            Patreon helps artists and creators make a living from their
            passion, creativity, and hard work.
            <a href="/about" target="_blank" class="window_action">
                Learn more here.
            </a>
        </div>
        <div id="nsMain">
            <div id="invoice">
                <div class="border">
                    <div>
                        <strong>
                            Please first watch this short video on setting up a
                            successful Patreon campaign.
                        </strong>
                        <a href="#"
                           onclick="window.parent.$.fancybox.close();
                                    return false;"
                           style="font-size:16px;">
                            Or just go to setup.
                        </a>
                    </div>
                    <div style="width:168px;
                                margin: 16px auto 64px;">
                        <a href="#"
                           id="become_creator_best_practices_button"
                           class="btn submit glowBtn">
                            Watch the video!
                        </a>
                    </div>
                    <div style="text-align:center;">
                        <a href="/toolbox" target="_blank" class="window_action">
                            Want an extensive guide for how to launch a Patreon
                            page? Right here!
                        </a>
                    </div>
                </div>
            </div>
            <div id="receiptNote">
                If you're looking to support artists and creators, you can
                <strong>
                    <a href="/settings" target="_top" class="window_action">
                        Connect with Facebook
                    </a>
                </strong>
                to see who your friends are supporting, or you can check out
                <a href="/discover" target="_top" class="window_action">
                    artists and their creations
                </a>!
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<script type="text/javascript">
    $(function() {
        logEvent = parent.logEvent;

        function launchBestPracticesModal() {
            parent.$.fancybox({
                'href': 'https://www.youtube.com/v/MQ44xwomUaY?autoplay=1',
                'overlayColor': '#FFF',
                'type': 'swf',
                'autoScale': false,
                'autoDimensions': false,
                'width': 690,
                'height': 388,
                'modal': false,
                'scrolling': 'no',
                'swf': {
                    'wmode': 'transparent',
                    'allowfullscreen': 'true'
                },
                'showNavArrows': false,
                'onClosed': function() {
                    logEvent('Close Best Practices', {});
                }
            });
        }

        $('#become_creator_best_practices_button').on('click', function (e) {
            e.preventDefault();
            launchBestPracticesModal();

            logEvent('Open Best Practices', {});
        });

        $('.window_action').on('click', function (e) {
            logEvent('Leave', {
                location: $(this).attr('href'),
                new_window: $(this).attr('target') == '_blank'
            });
        });
    });
</script>
</body>
</html>
