
{% if card['TypeNum'] == 10 %}
    <option verified="{{ card['Verified'] }}" value="{{ card['RID'] }}" {{ ternary(card['RID'] == user_pledge.CardID, 'selected') }}>{{ card['Type'] }}</option>

{% elif card['TypeNum'] == 99 and card['Number'] == '0000' %}
    <option verified="{{ card['Verified'] }}" value="{{ card['RID'] }}" {{ ternary(card['RID'] == user_pledge.CardID, 'selected') }}>Stripe Credit Card</option>

{% else %}
    <option verified="{{ card['Verified'] }}" value="{{ card['RID'] }}" {{ ternary(card['RID'] == user_pledge.CardID, 'selected') }}>{{ card['Type'] }} ****-{{ card['Number'] }} Exp: {{ expiration_date }}</option>'

{% endif %}