<div class="patreon-page-content
            patreon-page-content-vertically-centered">
    <div data-patreon-creator-name="'{{ creator_name }}'"
         data-patreon-creator-avatar="'{{ image_url }}'"
         data-patreon-redirect-url="'{{ redirect_url }}'"
         data-patreon-declined-payment="'{{ declined_card_id }}'"
         data-patreon-payment-declined></div>
</div>
