{{ view.Alert().render() }}
<script type="text/javascript" src="/scripts/static/fpTemplate/bootstrap-alerts.js"></script>
<link rel="stylesheet" href="/css/multistep.css" type="text/css"/>
<style type="text/css">
    .inputBg {
        width: 936px;
        color: #333;
    }

    #thanksMsg {
        font-size: 16px;
        margin-top: 14px;
        line-height: 22px;
    }

    #thanksMsg img {
        max-width: 100%;
    }

    #thanksMsg p {
        font-size: 16px;
        margin-bottom: 0;
        line-height: 22px;
    }
</style>
<div id="mainmiddleSection" class="patreon-page-content">

    <!--Main Middle Panel-->
    <div id="mainmiddlePan">
        <div class="center fixed short">
            <div id="mainbg" class="mainbg">

                {% if is_supporting %}
                    <div id="spotName" style="margin-bottom:28px; margin-top:10px; text-align:center;">
                        <h2 style="font-size:32px;">
                            <span class="headorange">Congrats!</span>
                            You're now an official patron.
                        </h2>
                        <h2 style="font-size:18px; font-weight:300;">
                            You can also view all patron-only updates in
                            <a target="_blank"
                               href="{{ creator.patreon_url('ty=a') }}">
                                {{ creator.full_name }}'s Activity Feed
                            </a>
                            and contribute to the feed as a patron.
                        </h2>
                    </div>
                    <div class="clearfix"></div>
                {% endif %}

                <div class="inputBg" style="padding-bottom: 0px; margin-bottom: 18px;">
                    <div class="profileImageDiv"
                         style="float:left;">
                        <a target="_blank"
                           class="creator_profile_page"
                           href="{{ creator.patreon_url() }}">
                            <img src="{{ creator.image_url }}"/>
                        </a>
                    </div>
                    <div style="float:left;
                                font-size:28px;
                                margin-left:16px;
                                margin-bottom:20px;
                                width:710px;">
                        <div style="margin-bottom:1px;">{{ (embed_override or (campaign.thanks_embed or '')) | clean | safe }}</div>
                        Patreon <span class="headorange">thanks you</span> for supporting creators!
                        <div id="thanksMsg">
                            {{ (thanks_override or (campaign.thanks_msg or '')) | clean | safe }}
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="clearfix"></div>

        <div style="width:1086px;margin-left:auto;margin-right:auto;">
            {% if suggested_creators | length > 0 %}
            <h1>Patrons who support {{ creator.full_name }}, <span class="headorange">also support</span>:</h1>
            {% endif %}
            {% for one_suggest in suggested_creators[:6] %}
                {{ view.BoxCreatorsBrowse(one_suggest).render() }}
            {% endfor %}
        </div>
        <div class="clearfix" style="margin-bottom:10px;"></div>

        <div class="center fixed short">
            <div class="mainbg">

                <div class="inputBg" style="padding-bottom: 0 !important;">
                    <div class="fb-like"
                         data-href="https://www.facebook.com/patreon"
                         data-height="90px"
                         style="margin-bottom:10px;"
                         data-layout="standard"
                         data-action="like"
                         data-show-faces="true"
                         data-share="false"></div>
                    <div class="askText">
                        Tell others about your support of {{ creator.full_name }}!
                    </div>
                    <div class="askTextSub">
                        You can always review or edit any of your patronages from your
                        <a target="_blank"
                           class="user_profile_page"
                           href="/user">profile page</a>.
                    </div>
                    <ul class="done" style="padding-bottom: 0 !important;">
                        <li>
                            <a href="{{ share_twitter_link_html | safe }}"
                               class="share_twitter" title="Tweet">Tweet</a>
                        </li>
                        <li>
                            <a href="{{ share_facebook_link_html | safe }}"
                               class="share_facebook"
                               title="Share on Facebook">Share</a>
                        </li>
                        <li>
                            <input class="inputText"
                                   style="color:#444;
                                          width: 360px;
                                          font-size: 18px;
                                          padding-top: 12px;
                                          padding-bottom: 13px;
                                          margin-top: 0;"
                                   readonly="readonly"
                                   type="text"
                                   onclick="this.select()"
                                   value="{{ user_url }}">
                        </li>
                    </ul>
                </div>
                <div class="clearfix bottomSpace"></div>

            </div>
            <!--mainbg Close-->
        </div>
        <div class="clearfix" style="margin-bottom:10px;"></div>
    </div>
</div>

<div class="fancyboxHidden">
</div> <!-- END FancyboxHidden-->
<script type="text/javascript">
    {{ view.IncShare().render() }}
</script>

<script type="text/javascript">
    $(document).ready(function() {
        var scope = angular.element("body");
        var injector = scope.injector();
        var Analytics = injector.get("Analytics");

        var DOMAIN = "Be Patron Done";

        // Share links.
        $('.inputBg a').click(function(e) {
            var target = e.target.tagName === 'A' ? $(e.target) : $(e.target).parents('a');
            var elementType = null;
            var socialNetwork = null;

            if (target.hasClass("creator_profile_page")) {
                elementType = "Patron Image";
            }
            else if (target.hasClass("user_profile_page")) {
                elementType = "Profile Link";
            }
            else if (target.hasClass("share_twitter")) {
                elementType = "Social Button";
                socialNetwork = "Twitter";
            }
            else if (target.hasClass("share_facebook")) {
                elementType = "Social Button";
                socialNetwork = "Facebook";
            }

            Analytics.logEvent({
                domain: DOMAIN,
                title: "Share",
                info: {
                    type: elementType,
                    socialNetwork: socialNetwork
                }
            });
        });

        // ...also support links.
        $('.box a').click(function(e) {
            // Get the box position.
            var thisBox = $(e.target).parents('.box.photo');
            var boxPosition = $('.box.photo').index(thisBox);
            var creatorId = parseInt(thisBox.data('creator-id'), 10);

            Analytics.logEvent({
                domain: DOMAIN,
                title: "Also Support",
                info: {
                    creator_id: creatorId,
                    type: e.target.tagName.toUpperCase() === "DIV" ? "image" : "link",
                    position: boxPosition
                }
            });
        });
    });
</script>
