{% if top_patrons != None and top_patrons|length > 0 %}
    <p class="boxSub">Top Patrons<span class="subCount"><a href="/user?u={{ page_user.UID }}&ty=p">See
        all {{ patron_count }}</a></span></p>

    <div id="followersDiv" class="followUsersDiv">

        {% for user_id in top_patrons %}
            {{ view.DisplayUserSquare(user_id).render() }}
        {% endfor %}
    </div>
    <div class="clearfix" style="margin-bottom:14px;"></div>
{% endif %}