<div class="askText"
     style="margin-top:12px;">
    Choose the category that best fits your work
</div>
<div id="requiredInfo" style="height:100px">
    <div class="row-cat">
        {%- for category in categories -%}
            <div class="col-cat">
                <label class="click-cat{{ ternary(category['is_selected'], ' selected', '') }}"
                       for="{{ category['id'] }}">
                    <input id="{{ category['id'] }}"
                           name="categories[]"
                           type="checkbox"
                           {{ ternary(category['is_selected'], 'checked', '') }}
                           value="{{ category['value'] }}">
                    <i class="icon-cat"
                       style="background-position: -{{ category['offset'] }}px 0"></i>
                    <span class="title-cat">
                        {{ category['title'] }}
                    </span>
                </label>
            </div>
        {%- endfor -%}
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('.click-cat').click(function (e) {
            e.preventDefault();
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
                $(this).find(':checkbox').prop('checked', false);
            } else {
                $('input[name="categories[]"]').each(function() {
                    $(this).prop('checked', false);
                    $(this).parent().removeClass('selected');
                });
                $(this).addClass('selected');
                $(this).find(':checkbox').prop('checked', true);
            }
        });
    });
</script>
