<div id="mainmiddleSection" style="padding:2em">
	<h2>All Feature Flags</h2>
	<table style="margin: 2em 0 1em" id="global_flags">
		<tr>
			<th>Feature Flag name</th>
			<th>Cutoff Percentage</th>
			<th>Disable</th>
			<th></th>
		</tr>
		{% for flag_info in flags %}
		<tr>
			<td><label for="{{ flag_info.name }}">{{ flag_info.name }}</labeL></td>
			<td><input id="{{ flag_info.name }}"
					name="{{ flag_info.name }}"
					value="{{ flag_info.cutoff }}"
					type="number"
					max="100"
					min="0" /></td>
			<td>
				<input class="disabled_flag" type="checkbox" {{ ternary(flag_info.disabled, "checked") }} />
			</td>
			<td><button class="save_button" style="display:none">Save</button></td>
		</tr>
		{% endfor %}
	</table>
	<h2>User Flag Assignments</h2>
	<div style="margin: 2em 0 1em" id="user_flags">
		<p>You can see which test groups a specific user falls into, and can force
		them into particular test groups if they're not already in one.</p>
		<form id="search_user_flags">
			<label for="flag_identifier">Vanity, email, or user id</label>
			<input id="flag_identifier" name="flag_identifier" />
			<input type="submit" value="Search" />
		</form>
		<table style="display:none">
			<tr>
				<th>Feature Flag name</th>
				<th style="padding:0 1em">In Test Group?</th>
				<th style="padding:0 1em">Force Into Test Group</th>
				<th></th>
			</tr>
		</table>
	</div>
</div>
<script>
	$(document).ready(function () {
		$(document).on('change', '#mainmiddleSection input', function (e) {
			var changed_row = $(e.target).parents('tr').first();
			changed_row.find('.save_button').show();
		});

		$('#global_flags .save_button').click(function (e) {
			var changed_row = $(e.target).parents('tr').first();
			var feature_name = changed_row.find('label').attr('for');
			var cutoff_input = changed_row.find('#' + feature_name);
			var cutoff_val = parseInt(cutoff_input.attr('value'), 10);
			if (cutoff_val < 0 || cutoff_val > 100) {
				cutoff_input.css({ background: '#fcc'});
				return;
			} else {
				cutoff_input.css({ background: ''});
			}

			var post_data = {
				feature_name: feature_name,
				cutoff: cutoff_val,
				is_disabled: changed_row.find('.disabled_flag').is(':checked')
			};
			$.post(document.location, post_data);
			$(this).hide();
		});

		var user_flag_info = {};

		$('#search_user_flags').on('submit', function (e) {
			e.preventDefault();

			var identifier = $('#flag_identifier').val();
			if (!identifier) {
				return;
			}
			$.getJSON('/internal/user_feature_flags', {identifier: identifier}, function (data) {
				user_flag_info.user_id = data.user_id;
				user_flag_info.flag_info = data.flag_info;

				var flag_info = data.flag_info;
				$('#user_flags .user_flag_row').remove();

				var user_flag_table = $('#user_flags table');

				for (var i = 0, l = flag_info.length; i < l; i++) {
					var tr = document.createElement('tr');
					$tr = $(tr);
					$tr.data('flag_index', i);
					$tr.addClass('user_flag_row');
					user_flag_table.append(tr);

					var td = document.createElement('td');
					$(td).text(flag_info[i].name);
					$tr.append(td);

					td = document.createElement('td');
					$(td).text(flag_info[i].enabled ? 'Yes' : 'No');
					$tr.append(td);

					td = document.createElement('td');
					$(td).html("<input type='checkbox' " + (flag_info[i].forced ? 'checked ' : '') + "/>");
					$tr.append(td);

					td = document.createElement('td');
					$(td).html("<button class='save_button' style='display:none'>Save</button>");
					$tr.append(td);
				}

				user_flag_table.show();
			});
		});

		$(document).on('click', '#user_flags .save_button', function (e) {
			var changed_row = $(e.target).parents('tr').first();
			var flag_index = changed_row.data('flag_index');

			var post_data = {
				user_id: user_flag_info.user_id,
				feature_name: user_flag_info.flag_info[flag_index].name,
				force_test_group: changed_row.find('input').is(':checked')
			};

			$.post('/internal/user_feature_flags', post_data);
			$(this).hide();
		});
	});
</script>