<div id="mainmiddleSection" style="padding:2em">
  <h2>Mobile Beta Data Reports</h2>
  <ul>
  {% for (key, url) in urls %}
    <li><a href={{ url }}>{{ key }}</a></li>
  {% endfor %}
  {% if not urls %}
    <h3>No data yet!</h3>
  {% endif %}
  </ul>
</div>