<input type="hidden" id="profileImgUrl" name="profileImgUrl"
       value="{{ image_url }}"/>
<input type="hidden" id="photo_key" name="photo_key"
       value="{{ photo_key }}"/>
<input type="hidden" id="uploadThumb" name="uploadThumb"/>
<input type="hidden" id="x1" name="x1"/>
<input type="hidden" id="y1" name="y1"/>
<input type="hidden" id="x2" name="x2"/>
<input type="hidden" id="y2" name="y2"/>
<input type="hidden" id="w" name="w"/>
<input type="hidden" id="h" name="h"/>

<div style="float:left;
            width:278px;
            margin-right:12px;">
    <div id="profilePreviewDiv">
        <div id="ppImage">
            <img id="profilePreview"
                 src="{{ image_url }}"/>
        </div>
        <div id="uploadDiv">
            <div id="uploadImageButton"></div>
            {% if facebook_id %}
                <a href="#"
                   original-title="Refresh image from Facebook"
                   class="fbIcon"></a>
            {% endif %}
        </div>
    </div>
    <div style="width:50px;
                height:50px;
                overflow:hidden;
                border:2px solid #b9c8dc;
                margin-bottom:12px;
                float:left;
                margin-right:0;">
        <img src="{{ thumbnail_url }}"
             id="preview"
             alt="Preview"
             width="50px"
             height="50px"/>
    </div>
    <i class="icon-question-sign"
       original-title="To change thumbnail, draw a square on the larger image then click save changes"
       style="position:absolute;
              margin-left:4px;"></i>
</div>
<script type="text/javascript">
$(document).ready(function () {
    var $profileImagePreview = $('img#profilePreview');
    $profileImagePreview.Jcrop({
        onChange: updatePreview,
        onSelect: jcropOnSelect,
        aspectRatio: 1
    }, function () {
        // Use the API to get the real image size
        var bounds = this.getBounds();
        boundx = bounds[0];
        boundy = bounds[1];

        // Store the API in the jcrop_api variable
        jcrop_api = this;
    });

    var uploader = new qq.FileUploader({
        element: $('#uploadImageButton')[0],
        allowedExtensions: ['jpg', 'jpeg', 'png', 'gif'],
        sizeLimit: 10 * 1024 * 1024, // max size
        action: '/legacyUserUpload',
        onSubmit: function (id, filename) {
            $(".fbIcon:first").hide();
        },
        onComplete: function (id, filename, responseJSON) {
            if (responseJSON.success) {
                thumbSet = true;

                if (typeof jcrop_api !== 'undefined')
                    jcrop_api.destroy();
                $profileImagePreview.unbind();

                $('.qq-upload-button').hide();

                $profileImagePreview.attr('src', responseJSON.image_url);
                $('#preview').attr('src', responseJSON.image_url);

                $profileImagePreview.Jcrop({
                    onChange: updatePreview,
                    onSelect: jcropOnSelect,
                    aspectRatio: 1
                }, function () {
                    // Use the API to get the real image size
                    var bounds = this.getBounds();
                    boundx = bounds[0];
                    boundy = bounds[1];

                    // Store the API in the jcrop_api variable
                    jcrop_api = this;
                    var cx = (boundx / 2);
                    var cy = (boundy / 2);
                    var cw = Math.min(cx, cy);
                    jcrop_api.setSelect([cw / 2, cw / 2, cw * 3 / 2, cw * 3 / 2]);
                });

                $('#photo_key').val(responseJSON.photo_key);
                $('#uploadThumb').val('1');
            }
        }
    });
});

function updatePreview(c) {

    if (!thumbSet) {
        thumbSet = true;
        $('#preview').attr('src', '{{ image_url }}');
    }

    if (parseInt(c.w) > 0) {
        var rx = 50 / c.w;
        var ry = 50 / c.h;

        $('#preview').css({
            width: Math.round(rx * boundx) + 'px',
            height: Math.round(ry * boundy) + 'px',
            marginLeft: '-' + Math.round(rx * c.x) + 'px',
            marginTop: '-' + Math.round(ry * c.y) + 'px'
        });
    }
}

function jcropOnSelect(c) {
    updatePreview(c);
    $('#x1').val(c.x);
    $('#y1').val(c.y);
    $('#x2').val(c.x2);
    $('#y2').val(c.y2);
    $('#w').val(c.w);
    $('#h').val(c.h);
    $('#uploadThumb').val('1');
}
</script>
