<div class="inner">
    <form id="bePatron"
          action="/bePatron"
          method="get">
        {% if not is_patron %}
            <input type="hidden"
                   name="u"
                   value="{{ creator_id }}"/>
            {% if hide_default_pledge_input %}
                <input class="inputAmt"
                       type="hidden"
                       id="patAmt"
                       name="patAmt"
                       value="{{ default_pledge }}">
            {% else %}
                <div class="earnings"
                     style="text-align:center;">
                    Give
                    $<input class="inputAmt"
                            type="text"
                            id="patAmt"
                            name="patAmt"
                            value="{{ default_pledge }}">
                    <br/>
                    per
                    <span class="headorange">
                        {{ pay_per_name }}
                    </span>
                </div>
            {% endif %}
            <input type="submit"
                   class="btn submitForm bePatron"
                   value="Become a Patron"/>
        {% else %}
            <div class="earnings"
                 style="text-align:center;">
                Thanks for your <span class="headorange">patronage</span>
            </div>
            <a id="editPatronage"
               class="patreon-button patreon-button-action"
               href="{{ edit_pledge_url }}"
               style="margin-top: 16px;
                      padding: 4px 16px;
                      height: 40px;
                      line-height: 40px;
                      font-size: 18px;
                      font-weight: bold;">
                Edit your Patronage
            </a>
        {% endif %}
    </form>
</div>
