 <style type="text/css">
        #noSpots {
            color: #555;
            font-size: 20px;
            text-align: center;
            margin-top: 60px;
            margin-bottom: 100px;
        }

        #inspireLink {
            font-size: 26px;
            font-weight: bold;
        }

        .userRow {
            margin-bottom: 12px;
        }

        #nsText {
            float: none;
            width: 600px;
            margin-left: 0;
            height: 60px;
        }

        .twoBoxesWrapper {
            margin: 0;
            padding: 10px 10px 2px 10px;
        }

        .box {
            margin: 0
        }

        #boxGrid {
            width: 100%;
        }

        .searchShareArea {
            width: 584px;
            color: #333;
            padding: 5px;
            height: auto;
            margin: 3px 0 8px 0;
        }

        .twoBoxesWrapper:after {
            width: 30%;
        }

        p.dateBox {
            margin-top: 0;
        }

        #emptyUser {
            width: 100%;
            padding: 0;
            min-height: 200px;
        }

        #mainmiddleSection {
            height: 600px;
        }

        .smaller {
            font-size: 12px;
            color: #999;
        }
    </style>
    <link href="/css/menu_style.css" rel="stylesheet" type="text/css"/>
    <div id="mainmiddleSection">

        <!--Main Middle Panel-->
        <div id="mainmiddlePan"
             style="top:-3px;
                    position:relative;">

            <div id="listUsers"
                 class="center"
                 style="width:620px;
                        left:0px;">
                <p class="boxSub withSearch"
                   style="font-size:18px;
                          color:#333;">
                    All Patreon Transactions
                </p>

                    <!-- If there are no transactions (payouts or owed) display message -->
                    {% if transactions | length == 0 %}
                        <div id="boxGrid"
                             class="clearfix infinite-scrolling">
                            <div id="emptyUser">
                                <div id="nsTitle"
                                     style="margin-top:50px;">
                                    You don't have any transactions yet.
                                </div>
                            </div>
                        </div>
                    {% else %}
                        {% for transaction in transactions %}
                            {% if not (transaction['Type'] == 4 and transaction['Amount'] < 0) %}
                                {{ view.Transaction(transaction).render() }}
                            {% endif %}
                        {% endfor %}
                    {% endif %}

            </div>
        </div>
        <!--Main Middle Panel Close-->

    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.dateBox').localTimeFromUTC("mmm d, yyyy 'at' h:MM tt");
            $('#mainmiddleSection').jScrollPane();
        });
    </script>
