<meta name="viewport" content="width={{ meta['viewport'] }}{% if meta['height'] %}, height={{ meta['height'] }}{% endif %}">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Pragma" content="no-cache" />
<meta name="patreon-enabled-features" content="{{ meta['enabled_features'] }}" />
<meta name="description" content="{{ meta['desc'] }}">
<meta name="title" content="{{ meta['title'] }}" />
<meta content="{{ meta['key'] }}" name="keywords" />

<META HTTP-EQUIV="Pragma" CONTENT="no-cache">

<link rel="icon" type="image/ico" href="favicon.ico?v=4" />
<link rel="shortcut icon" href="favicon.ico" />

<title>{{ meta['title'] }}</title>

{% if meta.get('private') %}
    <meta name="robots" content="noindex">
{% endif %}

<meta property="og:title" content="{{ meta['title'] }}" />

{% if 'image_url' in meta %}
    <meta property="og:image" content="{{ meta['image_url'] }}" />
    <meta property="og:image:url" content="{{ meta['image_url'] }}" />
    <link rel="image_src" content="{{ meta['image_url'] }}" />
{% endif %}

{% if 'url' in meta %}
    <meta property="og:url" content="{{ meta['url'] }}" />
{% endif %}

{{ meta.get('other', '') }}

<meta property="og:site_name" content="Patreon" />
<meta property="og:description" content="{{ meta['desc'] }}" />
<meta property="fb:admins" content="201564"/>
<meta property="fb:app_id" content="{{ FB_APP_ID }}"/>
<meta property="og:type" content="article"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
