<link href="/css/messages.css" rel="stylesheet" type="text/css"/>
<link href="/css/menu_style.css" rel="stylesheet" type="text/css"/>
<div id="mainmiddleSection"
     class="patreon-page-content">
    <!--Main Middle Panel-->
    <div id="mainmiddlePan" style="top:-3px; position:relative;">
        <div id="listUsers" class="center" style="width:620px; left:0px;">
            <form id="msgForm" action="/processMsg" method="post" uid="{{ page_user.UID }}">
                <p class="boxSub withSearch" style="font-size:18px; color:#333;">
                    Messages with {{ page_user.full_name }}
                </p>
                <div class="clearfix userRow">
                    <textarea id="nsText" name="nsText" placeholder="Write your message..."></textarea>
                    <div id="nsButtons">
                        <input id="nsSave" type="submit" class="btn primary" value="Send Message">
                    </div>
                </div>
                <div id="boxGrid" class="clearfix infinite-scrolling">
                {% for one_message in all_messages %}
                    <div class="clearfix userRow">
                        {{ view.Message(one_message, senders_by_id).render() }}
                    </div>
                {% endfor %}
                </div>
            </form>
        </div>
    </div>
    <!--Main Middle Panel Close-->
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.dateBox').localTimeFromUTC("mmm d, yyyy 'at' h:MM tt");
        $('#mainmiddleSection').jScrollPane();
        $('#nsText').watermark('Write your message...', { useNative: false });
        $("form#msgForm").submit(msgFormSubmit);
        $(document).on(
            {
                mouseenter: function () {
                    $(this).parent().find('.captionCenter:first').stop(true, true).fadeOut(200);
                },
                mouseleave: function () {
                    $(this).parent().find('.captionCenter:first').stop(true, true).fadeIn(50);
                }
            }, '.favesHover');

        // Don't close messages modal on clicks outside the modal.
        parent.$('#fancybox-overlay').unbind('click');
        parent.$('#fancybox-overlay').css({
            cursor: 'default'
        });
    });
    var msgFormSubmit = function (e) {
        // stop form from submitting normally
        e.preventDefault();

        var $form = $(this),
            postUid = $form.attr('uid'),
            postMsg = $('#nsText').val();

        if (postMsg == '')
            return false;

        $('#nsSave').addClass("disabled").attr('disabled', 'disabled');

        $.post('/processMsg', { uids: [postUid], msg: postMsg });

        $('#boxGrid').prepend('<div class="clearfix userRow"><div class="box mylink" style="width:100%;">' +
        '<div id="userSearchBox" class="twoBoxesWrapper"><div class="favesShadow searchUser">' +
        '<div class="favesWhite searchUser">' +
        '<a class="favesHover" target="_top" href="{{ current_user.canonical_url() }}"></a>' +
        '<div class="caption searchUser" ' +
        'style="background: url({{ current_user['ImageURL'] }}) no-repeat 50% 10%;">' +
        '<div class="captionCenter searchUser"><span>' +
        '{{ current_user['FulName'] }}</span></div>' +
        '</div>' +
        '</div></div><div class="searchShareArea urlBreak"><p class="dateBox">Just now</p>' + postMsg +
        '</div><div class="clearfix"></div></div></div></div>');

        $('#nsText').val('').change(); // change is added to trigger resize on form input

        $('#nsSave').removeClass("disabled").removeAttr('disabled');

        $('#mainmiddleSection').jScrollPane();

        return false;
    }
</script>
</body>
</html>
