{{ view.Alert().render() }}
<link rel="stylesheet" href="/css/home.css" type="text/css"/>

<style>
.boxWrapper:after {
  display: none;
}

.comments:after {
  display: none;
}

.commentBox:after {
  display: none;
}

.favesShadow:after {
  display: none;
}

#userTag {
  border-radius: 3px;
}
</style>

<div id="mainmiddleSection"
     class="patreon-page-content">

    {% if alert_creator_signup and not current_user.is_creator %}
        {# Dismissible prompt to sign up as a creator #}
        <div id="reactTargetAlertCreatorSignup"></div>
    {% endif %}

    <div id="mainmiddlePan">
        <div class="center fixed short">
            <div style="width:980px;
                        margin-left:auto;
                        margin-right:auto;
                        margin-top:-14px;">
                <h2 id="creatorTitle"
                    style="margin-bottom:0;
                           margin-top:10px;
                           font-size:60px;
                           line-height:normal;
                           font-family: 'LeagueGothicRegular',
                                        'Impact',
                                        Charcoal,
                                        Arial Black,
                                        Gadget,
                                        Sans serif;
                            text-transform:uppercase;
                            float:left;">
                    Latest <span class="headorange">News</span>
                </h2>
                <h1 style="color: #656565;
                           font-weight: 300;
                           font-size: 24px;
                           line-height: 28px;
                           float:left;
                           margin-left:16px;
                           margin-top:30px;
                           width:730px;">
                    Stay close with the Artists & Creators you're supporting
                </h1>

                <div class="clearfix"></div>
            </div>

            {{ view.SidebarHome().render() }}

            <div id="mainCategories"
                 class="profile"
                 style="border-bottom: 1px solid #CFCFCF;">
                <div id="rightButtons">
                    {% if current_user.is_creator %}
                        <a href="/manageRewards"
                           class="btn btnInfo"
                           style="color:#666;">
                            <i class="icon-user"
                                style="margin-right:6px;
                                       margin-top:2px;"></i>
                            <span>Patron Manager</span>
                        </a>
                    {% endif %}
                    <a href="/pending"
                       class="btn btnInfo"
                       style="color:#666;">
                        <i class="icon-bookmark"
                           style="margin-right:6px;
                                  margin-top:2px;" ></i>
                        <span>View outbound pledges</span>
                    </a>
                </div>
                <div class="table" style="margin:0;">
                    <ul id="categoryMenu">
                        {% if no_posts %}
                            <li>
                                <a href="/discover">Discover Creators</a>
                            </li>
                        {% else %}
                            <li class="{{ creator_post_only_active }}">
                                <a href="/home">Creator Posts</a>
                            </li>
                            <li class="{{ all_post_active }}">
                                <a href="/home?ty=a">All Posts</a>
                            </li>
                        {% endif %}
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div id="mainCategoriesBottom" class="profile"></div>

            <div id="boxGrid" class="profile clearfix infinite-scrolling">
                {% if no_posts %}
                    <div id="emptyUser" class="box user">
                    <div id="nsTitle"
                         style="margin-top:-24px;
                                margin-bottom:10px;">
                        You'll see news here after your first pledge!
                    </div>
                    <div style="text-align:center;">
                        <a href="/discover"
                           class="btn submit glowBtn"
                           style="float:none;">
                            Browse Artists & Creators
                        </a>
                    </div>
                    </div>
                {% endif %}

                <span class="patreon-loaders-circle"></span>

            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!--Main Middle Panel Close-->
</div>

<a id="seeMore"
   class="hiddenDisplay"
   href="#"></a>
<a id="startPopup"
   class="hiddenDisplay"
   href="/start_i"></a>

<nav id="page_nav">
    <a href="{{ home_next_url }}"></a>
</nav>

<script type="text/javascript">
    var noBind = false;
    var noScroll = {{ 'true' if no_posts else 'false' }};
    {% if get_rgsn %}
    $(document).ready(function () {
        $('#startPopup').click();
        return false;
    });
    {% endif %}
</script>
