<div id="spotInfo" class="box marquee topmarquee">
    <div id="creatorMarquee" class="boxWrapper large iframe-video-embed" style="padding:0;width:714px;{% if image_url == None %}height:300px;{% endif %}">

        {% if main_video_url != None and main_video_url.strip() != '' and image_url != None and image_url.strip() != '' %}
            <a id="playBtn" href="#"></a>
        {% endif %}
        {% if image_url != None %}
           <div id="creatorImg" style="background:#000 url({{ image_url }}) no-repeat 50% 50%;"></div>
        {% elif is_page_owner %}
            <div id="creatorImg" style="position:absolute;">
                <div id="nsTitle" style="margin-top:50px;">You have not finished your page yet.</div>
                    <div style="text-align:center;"><a href="/create" style="float:none;" class="btn submit glowBtn">Setup page</a>
                </div>
            </div>
        {% else %}
        <div id="creatorImg" style="position:absolute;">
            <div id="nsTitle" style="margin-top:50px;">{{ full_name }} has not set up this page yet.</div>
            <div style="text-align:center;"><a href="/discover" style="float:none;" class="btn submit
                glowBtn">Browse Creators</a></div>
        </div>
        {% endif %}

        <script type="text/javascript">
            {% if tab_type == 'h' %}
                var noScroll = true;
            {% else %}
                var noScroll = false;
            {% endif %}
            $(document).ready(function () {
                window.action_taken = function (details) {
                    switch (details.client_id) {
                        case "you":
                            break;
                        default:
                            switch (details.verb) {
                                case "patronage":
                                    $('.patrons_count').html(details.patrons_count)
                                    cents_per = details.total_money_cents
                                    dollars_per = cents_per / 100
                                    dollars_formatted = dollars_per.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                    $('.dollars_per').html(dollars_formatted)
                                    break;
                                default:
                                    break;
                            }
                            break;
                    }
                }
                $.fn.digits = function () {
                    return this.each(function () {
                        $(this).text($(this).text().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,"));
                    })
                }
                $('#playBtn').click(function (e) {
                    // All of this is a hack.
                    // If something breaks again, its because our website is sideeffect
                    // heavy.
                    // Creator page V2 will break the cycle/wheel.
                    e.preventDefault();
                    var embedVideo = '{{ main_video_embed | clean | safe }}';
                    $('#creatorMarquee').html(embedVideo);
                    return false;
                });
            });
        </script>
        <script>window['action_taken'] = function (action) {
        };
        </script>
        <script>
    $(function () {
        $('#user-process-user-setup').click(function () {
            $.post('/processUserSetup', function () {
                window.location = '/user?alert=2';
            });
        });
    });
</script>
    </div>
</div>
<style type="text/css">
    .iframe-video-embed iframe{
        min-height: 402px;
        width: 100%;
    }
</style>
<a id="startPopup" class="hiddenDisplay" href="/importYtPop"></a>