{% if not can_show %}

    <div class="box hiddenDisplay"></div>

{% else %}

    <div class="box creationBox"
         data-creatorid="{{ creator.user_id }}"
         data-postid="{{ post.activity_id }}">
        <a href="{{ post.patreon_url }}"
           data-contenttype="post_image">{{ left_image_html | safe }}</a>

        <div class="cbInfo">
            <div class="cbTitle">
                <a href="{{ post.patreon_url }}" data-contenttype="post">
                    {{ post_title }}
                </a>
            </div>
            <div class="cbCreatorDate">
                <a href="{{ creator.patreon_url() }}"
                   data-contenttype="campaign">
                    {{ creator.full_name }}
                </a>
                <span>{{ published_at }}</span>
            </div>
            <div class="cbData">

                {% if patrons_count %}
                    <div class="cbDataText">
                        <span>{{ patrons_count }}</span>{{ patrons_plural }}
                    </div>
                {% endif %}

                {% if pledge_total %}
                    <div class="cbDataText">
                        <span>{{ amount_pledged_string }}</span> {{ per_text }}
                    </div>
                {% endif %}

                <div class="cbDataText">
                    <span>{{ goal_percentage }}%</span> funded of next goal
                    <div class="cbProgress">
                        <div class="cbProgressMain"
                             style="width:{{ goal_width }}px;"></div>
                        <div class="row"
                             style="width:{{ goal_width_remain }}px;">
                            <span class="sq sq-1"></span>
                            <span class="sq sq-2"></span>
                            <span class="sq sq-3"></span>
                        </div>
                        <div class="row"
                             style="width:{{ goal_width_remain }}px;">
                            <span class="sq sq-4"></span>
                            <span class="sq sq-5"></span>
                            <span class="sq sq-6"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>
    </div>

{% endif %}
