<div style="position: absolute;
             right: 75px;
             margin-top: 10px;">
    <a style="font-size:16px;
              font-weight:bold;"
       id="learnMore"
       href="https://www.youtube.com/embed/MQ44xwomUaY?autoplay=1"
            >Best Practices<div id="playBtnSmall"
              style="margin-top:-26px!important;
                     margin-left:-144px!important;"></div>
    </a>
</div>

<div id="spotName"
     style="margin-bottom:28px;
            margin-top:10px;
            text-align:center;">
    <h2 style="font-size:32px;">
        Let's get to know <span class="headorange">you</span>.
    </h2>
</div>
<div class="clearfix"></div>

<div class="multi-step four-steps color-4 createDiv">
    <ol>
        {% for step in steps %}
            <li class="current" data-index="{{ loop.index }}">
                <div class="wrap">
                    <p class="title">
                        {%- if step['current'] -%}
                            {{ step['title'] }}
                        {%- else -%}
                            <a href="{{ step['link'] }}">
                                {{ step['title'] }}
                            </a>
                        {%- endif -%}
                    </p>
                    <p class="subtitle">
                        {{ step['subtitle'] }}
                    </p>
                </div>
            </li>
        {% endfor %}
    </ol>
</div>
{{ view.LegacyLearnMore().render() }}
