<div class="box mylink">
<div id="userSearchBox" class="twoBoxesWrapper" style="padding:10px 10px 2px 10px;">
{{ view.BoxedShare(activity, 'searchUser', '/manageRewardsList').render() }}
<div class="searchShareArea">
    <div class="pledge">
        <a href="/manageRewardsList?hid={{ activity.activity_id }}">{{ activity.activity_title }}</a>
    </div>
    <div>
        ${% if pledge_sum %}{{ format_money(pledge_sum / 100, 1) }}{% else %}0{% endif %} pledged by {{ patron_count }} patron{% if patron_count != 1 %}s{% endif %}
    </div>
        <div style="color:#76bf76;">
        ${% if successful_sum %}{{ format_money(successful_sum / 100, 1) }}{% else %}0{% endif %}  processed so far by {{ successful_patrons }} patron{% if successful_patrons != 1 %}s{% endif %}
        </div>
    <p class="dateBox">{{ activity.php_date }}</p>
</div>

<div class="clearfix manage-rewards-clearfix"></div></div>
</div>