<input type="hidden"
       id="login-component-redirect-url"
       value="{{ redirect_url }}">

<input type="hidden"
       id="login-component-existing-email"
       value="{{ email }}">

<div class="patreon-page-content">
    <div class="patreon-login-container">
        <div patreon-login></div>
    </div>
</div>
