<style type="text/css">
    #newSpot {
        width: 800px;
        height: auto;
    }

    #nsInner {
        width: 760px;
        min-height: 240px;
    }

    #nsMain {
        width: 650px;
    }

    .inputTitle {
        color: #333;
        font-size: 16px;
        margin: 10px 10px 0 0;
        width: 100px;
        text-align: right;
    }

    .nsRight {
        width: 392px;
        float: left;
        margin-bottom: 6px;
    }

    .inputHelp {
        color: #666;
        font-size: 14px;
        margin-left: 7px;
        margin-bottom: 20px;
    }

    input.inputText {
        margin-bottom: 6px;
        margin-top: 0;
        border: 2px solid #E4E9F2;
        background: #FFF;
        width: 374px;
        padding: 9px 7px 10px 7px;
        font-size: 15px;
        color: #333;
    }

    #nsTitle {
        margin-bottom: 18px;
    }

    #nsButtons {
        margin: 0;
    }

    #receiptNote {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 16px;
    }

    #invoice {
        font-size: 18px;
        margin-bottom: 16px;
        color: #333;
    }

    span.border {
        border: 2px solid #DCDCDC;
        background: #fafafa;
        padding: 10px 12px 10px 12px;
        line-height: 24px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        display: inline-block;
    }

    span.small {
        font-size: 16px;
    }

    span.large {
        font-weight: 400;
        font-size: 30px;
    }

    select {
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 #000;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 #000;
        background-color: #fff;
        height: 28px;
        line-height: 28px;
        padding: 4px;
        font-size: 13px;
        color: #333;
        border: 1px solid #ccc;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        margin: 0 0 5px 0;
    }
</style>
<div id="newSpot">
    <div id="nsInner">
        <div id="nsTitle">
            Hi {{ first_name }}! Welcome to Patreon.
        </div>
        <div id="nsMain">
            <div id="invoice">
                <span class="border">
                    <strong>This is your homepage.</strong>
                    Here you'll find a stream of all the creators that you're
                    supporting and be able to manage all your pledges.
                    <div style="width:210px;
                                margin: 16px auto 64px;">
                        <a href="#"
                           class="btn submit glowBtn"
                           onclick="window.parent.$.fancybox.close();
                                    return false;">
                            Thanks! Close this window
                        </a>
                    </div>
                </span>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<script type="text/javascript">
    function resizeIframe() {
        var height = $('#newSpot').children('div:first').height() + 40;
        $('#fancybox-content', window.parent.document).height(height);
    }
</script>
</body>
</html>
