{% if met_goals|length > 0 or unmet_goals|length > 0 %}
    <div id="userTag"
         style="background:#f2f1ef">
        <div class="inner border"
             style="background:#ffffff">
            <div class="earnings"
                 style="text-align:center;
                        margin-top:0;">
                Milestone Goals
            </div>
            <i class="icon-question-sign showPopup"
               title="Milestone goals allow creators to do something extra at certain funding milestones"
               style="position:absolute;
                      margin-left:194px;
                      margin-top:-26px;"></i>
        </div>
        {% if met_goals|length > 0 %}
            <div id="reached_goals_container_and_tab"
                 style="cursor:pointer;">
                {% if unmet_goals|length > 0 %}
                    <div id="reached_goals_container"
                         style="display:none;">
                      {% for goal in met_goals %}
                          {{ view.CampaignMilestone(goal, pay_per_name).render() }}
                      {% endfor %}
                    </div>

                    <div id="reached_goals_tab">
                        <div id="reached_goal_count"
                             style="display:inline;">
                            {{ met_goals|length }} Milestone Goals
                        </div>
                        reached<i id="goals_reached_chev"
                                  class="fa fa-chevron-down"
                                  style="float:right;"></i>
                    </div>
                {% else %}
                    {% for goal in met_goals %}
                        {{ view.CampaignMilestone(goal, pay_per_name).render() }}
                    {% endfor %}
                {% endif %}
            </div>
        {% endif %}
        {% for goal in unmet_goals %}
            {{ view.CampaignMilestone(goal, pay_per_name, is_met=False).render() }}
        {% endfor %}
    </div>
{% elif is_page_owner %}
    <div id="userTag">
        <div class="inner border">
            <div class="earnings"
                 style="text-align:center;
                        margin-top:0;" >
                Creator Goals
            </div>
            <i class="icon-question-sign showPopup"
               style="position:absolute;
                      margin-left:184px;
                      margin-top:-26px;"
               title="Creator goals allow creators to do something extra at certain funding milestones"></i>
        </div>
        <div class="inner border bottom">
            <div class="earnings goal empty">
                <a class="goalDesc"
                   href="/create3">
                    Setup my Creator Goals
                </a>
            </div>
        </div>
    </div>
{% endif %}
