<link rel="canonical" href="{{ meta['url'] }}">
<link rel="stylesheet" type="text/css" href="/css/user.css">
<script>
    $(function () {
        $('#user-process-user-setup').click(function () {
            $.post('/processUserSetup', function () {
                window.location = '/user?alert=2';
            });
        });
    });
</script>

<style>
.boxWrapper:after {
  display: none;
}

.comments:after {
  display: none;
}

.commentBox:after {
  display: none;
}

.favesShadow:after {
  display: none;
}

#userTag {
  border-radius: 3px;
}
</style>

<div id="mainmiddleSection"
     class="patreon-page-content">
    {{ view.UserAlerts(page_user, campaign).render() }}
    {{ view.Alert().render() }}
    <!--Main Middle Panel-->
    <div id="mainmiddlePan">
        <div class="center fixed short">
            <h2 id="creatorTitle"
                style="text-align:center;
                       margin-bottom:0;
                       margin-top:10px;
                       font-size:60px;
                       line-height:normal;
                       font-family: 'LeagueGothicRegular',
                                    'Impact',
                                    Charcoal,
                                    Arial Black,
                                    Gadget,
                                    Sans serif;
                        text-transform:uppercase;">
                {{ page_user.full_name }} {{ headline_verb }} creating

                {% if campaign.creation_name and campaign.creation_name|length > 15 %}
                    <br/>
                {% endif %}

                <span class='headorange'>
                    {% if campaign.creation_name %}
                        {{ unescape(campaign.creation_name) }}
                    {% endif %}
                </span>
            </h2>

            <h1 style="color: #888;
                       font-weight: 300;
                       font-size: 28px;
                       text-align: center;
                       line-height: 30px;
                       margin-bottom:20px;">
                {% if campaign.one_liner %}
                    {{ unescape(campaign.one_liner) }}
                {% endif %}
            </h1>

            <div id="profileLeft">
                <div id="userTag">
                    {{
                        view.PledgeBox(
                            page_user.user_id,
                            is_patron,
                            campaign.pay_per_name,
                            default_pledge
                        ).render()
                    }}
                    {% if patron_count >= 1 %}
                    <div class="inner bottom">
                        <div class="earnings">
                            <div style="text-align:right;">
                                <div id="totalPatrons"
                                     class="numheader patrons_count">
                                    {{ patron_count }}
                                </div>
                                <div class="numfooter">patron{% if patron_count > 1 %}s{% endif %}</div>
                                <div style="margin-top:26px;"
                                            class="numheader">
                                    <span id="totalEarnings"
                                          class="dollars_per">
                                        {{ cents_as_dollar_string(pledge_total) }}
                                    </span>
                                </div>
                                <div class="numfooter">per <span
                                        class="headorange">{{ campaign.pay_per_name }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% else %}
                   <div class="inner bottom hiddenDisplay">
                        <div class="earnings">
                            <div style="text-align:right;">
                                <div style="margin-top:26px;"
                                     class="numheader">
                                    $<span id="totalEarnings" class="dollars_per">0</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
                {{ view.CampaignMilestones(campaign, pledge_total).render() }}
                {{ view.Sidebar(page_user.UID).render() }}
                {{ view.DisplayTopPatrons(page_user.user_id).render(cached=180) }}
            </div>
            {{
                view.CampaignNavigation(
                    page_user, campaign, tab_type, is_default_tab, is_patron, patron_count
                ).render()
            }}
            {% if is_default_tab %}
                <div id="spotName" class="spotBox">
                    {{
                        view.EmbeddedMainVideo(
                            campaign.main_video_url,
                            campaign.main_video_embed,
                            campaign.image_url,
                            is_page_owner,
                            page_user.full_name
                        ).render()
                    }}
                </div>

                {% if campaign.summary != None %}
                    <div id="spotName"
                         class="spotBox"
                         style="margin-top:0;">
                        <div id="spotInfo"
                             class="box marquee">
                            <div id="spotDescription"
                                 class="boxWrapper large">
                                {{ campaign.summary | clean | safe }}
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if is_page_owner and rewards|length == 0 %}
                    <div id="spotName"
                         class="spotBox"
                         style="margin-top:0;">
                        <div id="spotInfo"
                             class="box marquee">
                            <div id="spotDescription"
                                 class="boxWrapper large">
                                <div id="nsTitle">
                                    Rewards allow you to give something back to your patrons for supporting you!
                                </div>
                                <a href="/create4"
                                   class="startButton"
                                   style="margin-left:120px;">
                                    Setup your Patron Rewards
                                </a>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div id="boxGrid"
                     style="margin-top:10px;"
                     class="profile clearfix infinite-scrolling">
                    {% for reward in rewards %}
                        {{ view.RewardsBox(reward, campaign.pay_per_name).render() }}
                    {% endfor %}
                </div>
            {% elif not is_default_tab %}
                <div id="boxGrid" class="profile clearfix infinite-scrolling">
                    {% if tab_type == 'a' %}
                       <div id="inline-post" class="double box">
            <div id="nsInner">
            {% if is_page_owner %}
                <div id="nsMain">
                    <div style="font-size: 12pt;
                                padding-bottom: 20px;">
                        To make a post, be sure to use the orange + icon at the top of your screen.
                        Or click <a href="/post">here</a>.
                    </div>
                </div>
            {% elif is_patron %}
                {{ view.PatronPoster(page_user.user_id, current_user.user_id).render() }}
            {% else %}
                <div id="nsTitle"
                     style="padding-top:10px;
                            margin-bottom:0;
                            font-size:22px;">
                    Only patrons can post directly in a Creator's activity feed.
                    <br/>
                    Feel free to browse around and comment!
                </div>
                <form action="/bePatron" method="get">
                    <input type="hidden"
                           name="u"
                           value="{{ page_user.UID }}"/>
                    <input type="hidden"
                           name="patAmt"
                           value="1"/>

                    <div style="margin-left:auto;
                                margin-right:auto;
                                width:195px;">
                        <input style="margin-left:0;"
                               type="submit"
                               class="btn submitForm bePatron"
                               value="Become a Patron">
                    </div>
                </form>
                <div class="hiddenDisplay" id="uploadImageButton"></div>
            {% endif %}
            </div>

        </div>
                {% endif %}
                {% if not is_default_tab and tab_type !='a' %}
                    <span id="loading-spinner" class="patreon-loaders-circle"></span>
                {% endif %}
                </div>
                {% if tab_type == 'a' %}
                    <div id="boxGrid" class="profile clearfix infinite-scrolling">
                        <span id="loading-spinner" class="patreon-loaders-circle"></span>
                    </div>
                {% endif %}
            {% endif %}

        <div class="clearfix"></div>
        </div>
    </div>
</div>

<a id="seeMore" class="hiddenDisplay" href="#">See More<span></span></a>

<nav id="page_nav">
    <a href="/userNext?p=2&ty={{ tab_type }}&srt={{ sort }}&u={{ page_user.UID }}"></a>
</nav>

<script type="text/javascript">
    {% if is_default_tab %}
        var noScroll = true;
    {% else %}
        var noScroll = false;
    {% endif %}
    {{ view.IncShare().render() }}
    $(document).ready(function () {
        {% if creation_id %}
            loadSharePopup({{ creation_id }});
        {% elif get_msg %}
            $('#newsSeeMore').click();
        {% endif %}

        window.action_taken = function (details) {
            switch (details['client_id']) {
                case "you":
                    break;
                default:
                    switch (details['verb']) {
                        case "patronage":
                            console.log(JSON.stringify(details))
                            $('.patrons_count').html(details['patrons_count'])
                            cents_per = details['total_money_cents']
                            dollars_per = cents_per / 100
                            dollars_formatted = dollars_per.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                            $('.dollars_per').html(dollars_formatted)
                            break;
                        default:
                            break;
                    }
                    break;
            }
        }

        $.fn.digits = function () {
            return this.each(function () {
                $(this).text($(this).text().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,"));
            })
        }
        $('#patAmt').bind('paste keyup', function () {
            var totalEarnings = parseFloat({{ pledge_total/100 }});
            var myAdd = parseFloat($(this).val());
            if (!isNaN(myAdd) && myAdd > 0)
                $('#totalEarnings').text(parseFloat(totalEarnings + myAdd).toFixed(2).replace(/[.]00$/, "")).digits();
            else
                $('#totalEarnings').text(parseFloat(totalEarnings).toFixed(2).replace(/[.]00$/, "")).digits();
            $('#totalPatrons').text({{ patron_count + 1 }}).digits();
        });

        var scope = angular.element("body");
        var injector = scope.injector();
        var Analytics = injector.get("Analytics");
        $('.patreon-legacy-rewards a').click(function(e) {
            if ($(this).hasClass('waitBtn')) {
              return;
            }

            var is_patron = false;
            var is_owner = false;

            {% if is_patron %}
            is_patron = true;
            {% endif %}
            {% if is_page_owner %}
            is_owner = true;
            {% endif %}

            Analytics.logEvent({
                domain: 'Campaign Page',
                title: 'Select Reward',
                info: {
                    creator_id: {{ page_user.user_id | tojson }},
                    is_owner: is_owner,
                    is_patron: is_patron,
                    value: $(this).data('pledge-value')
                }
            });
        });
        $('.waitBtn').click(function (e) {
            e.preventDefault();
            if (!runUserCheck())
                return false;

            var $this = $(this);
            var msgQuery;
            var clickedRid = $this.attr('rid');
            var clickedAdd = $this.attr('add');
            if (clickedRid == undefined)
                return false;
            if (clickedAdd == 1) {
                msgQuery = 'Put yourself on the waiting list? We\'ll send you an email when a slot opens up.';
            }
            else {
                msgQuery = '<strong>Remove yourself</strong> from the waiting list?';
            }
            apprise(msgQuery, {'verify': true}, function (r) {
                if (r) {
                    // user clicked 'Yes'
                    $.post('/processRewardWait?rid=' + clickedRid + '&add=' + clickedAdd);
                    if (clickedAdd == 1) {
                        $this.find('.waitLink:first').text('You\'re on the waiting list');
                        $this.attr('add', 0);
                    }
                    else {
                        $this.find('.waitLink:first').text('Click to be notified when a spot opens');
                        $this.attr('add', 1);
                    }
                }
                else {
                    // user clicked 'No' so we do nothing
                }
            });
        });

        {% if not is_launched %}
            $('.bePatron').click(function (e) {
                e.preventDefault();
                apprise('Sorry! This page has not been confirmed yet by its creator, so you cannot pledge right now.');
            });
        {% endif %}

        var num_met = $('.met').length;
        var num_unmet = $('.unmet').length;
        if (num_unmet > 0 && num_met > 0) {
            var chev = $('#goals_reached_chev');
            chev.addClass('fa-chevron-up');
            chev.css({transform: "rotate(" + 180 + "deg)"});
            chev.removeClass('fa-chevron-down');
            $('#reached_goals_container_and_tab').click(function () {
                var chev = $('#goals_reached_chev');
                if (chev.hasClass('fa-chevron-down')) {
                    chev.removeClass('fa-chevron-down');
                    chev.addClass('fa-chevron-up');

                    $('#reached_goals_container').slideUp(500);
                } else {
                    chev.removeClass('fa-chevron-up');
                    chev.addClass('fa-chevron-down');
                    $('#reached_goals_container').slideDown(500);
                }
            });
        }
    });

</script>
<script>window['action_taken'] = function (action) {
};
</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
<script>
    page_user_id = {{ page_user.user_id }};
</script>
<script>
    // temp hack to make imgs stay within profile sidebar container
    $(document).ready(function () {
        $('img', '#profileLeft').each(function(i, el){
          var wrappedEl = $(this);
          if (wrappedEl.width() > 212) {
            wrappedEl.attr('width', '100%').attr('height', 'auto');
          }
        })
    });
</script>
<a id="startPopup" class="hiddenDisplay" href="/importYtPop"></a>

{% if tab_type == 'a' %}
    {{ view.PostInline(is_page_owner, is_patron, rewards).render() }}
{% endif %}
</body>
</html>
