{{ view.Alert().render() }}
<link rel="stylesheet" href="/scripts/nocompile/qtip/jquery.qtip.min.css" type="text/css"/>
<script type="text/javascript" src="/scripts/nocompile/qtip/jquery.qtip.min.js"></script>
<link rel="stylesheet" href="css/manageRewards.css" type="text/css"/>

<img class="preload" src="/images/icon_large_fb.png?v=2"/>
<img class="preload" src="/images/icon_large_tw.png?v=2"/>
<img class="preload" src="/images/icon_large_yt.png?v=2"/>
<div id="mainmiddleSection"
     class="patreon-page-content">

    {% if alert_type == 1 %}
        <div style="margin-bottom:0;"
            class="alert-message block-message success fade in alert-signup" data-alert="alert">
            <a class="close" href="#">&times;</a>

            <p class="clean" style="width:990px; margin-right:auto; margin-left:auto;">
                <strong>Success!</strong> Your pending pledges have been deleted. You can always
                <a href="/bePatron?u={{ deleted_creator_id }}">re-pledge at any time</a>.
            </p>
        </div>
    {% endif %}

    <!--Main Middle Panel-->
    <div id="mainmiddlePan">
        <div class="center fixed short">
            <a style="position:absolute;font-size:12px;" href="/manageRewards"><< Back to all Paid Posts</a>
            <a href="/downloadCsv?hid={% if activity %}{{ activity.activity_id }}{% endif %}" class="btn btnInfo btnFollow small"
                style="margin-top:0;position:absolute;right:0;font-size:13px;padding:6px 6px 7px 10px!important;color:#666;"><i
                    style="margin-right:4px;" class="icon-download-alt"></i><span>Download as CSV</span></a>

            <h1 style="color: #333;font-weight: 300;font-size: 34px;text-align: center;line-height: 30px; margin-bottom:20px;">
                Patron Manager</h1>

            <div id="mainCategories" style="border-bottom: 1px solid #CFCFCF;">
                <div class="table">
                    <ul id="categoryMenu">
                        <li {% if not get_c %}class="active"{% endif %}><a
                                href="/manageRewardsList{% if activity %}?hid={{ activity.activity_id }}{% endif %}">List of
                                Patrons</a></li>
                        {% if activity %}
                            <li {% if get_c %}class="active"{% endif %}><a
                                    href="/manageRewardsList{% if activity %}?hid={{ activity.activity_id }}&{% else %}?{% endif %}c=1">Completed
                                    Patrons</a></li>
                        {% endif %}
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div id="mainCategoriesBottom" style="margin-bottom:16px;"></div>

            <div id="boxGrid" class="clearfix">
                {% if patron_count == 0 %}
                    <div id="spotName" style="margin-top:0; margin-bottom:10px; margin-left:auto; margin-right:auto;width:714px;">
                        <div id="spotInfo" class="box marquee">
                            <div id="creatorMarquee" class="boxWrapper medium" style="padding:0;height:388px;width:690px;">
                                <div id="creatorImg" style="position:absolute;">
                                    <div id="nsTitle" style="margin-top:50px;">No patrons for this content.</div>
                                    <div style="text-align:center;">
                                        <a href="/user" style="float:none;" class="btn submit glowBtn">Go to my Page</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    {% if activity %}
                        {{ view.ManageRewardsPost(activity).render() }}
                    {% endif %}

                    {{ view.ManageRewardsListButtons().render() }}
                    {{ view.ManageRewardsListTableHeader().render() }}
                    {{ view.ManageRewardsListTableContent().render() }}

                    </table>
                {% endif %}

            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!--Main Middle Panel Close-->
</div>

<a id="seeMore" class="hiddenDisplay" href="#">See More<span></span></a>

<nav id="page_nav">
    <a href="/patronNext?p=2&ty={{ get_ty }}&u={{ current_user.UID }}&srt={{ get_srt }}"></a>
</nav>

<script type="text/javascript">
// user variables
function link_should_show_or_hide() {
    show_hide = $('.shipping-show-hide')
    if ($('.shipping-full').is(':visible')) {
        show_hide.html('(hide)');
    } else {
        show_hide.html('(show)');
    }
}

$('.shipping-show-hide').click(function () {
    full = $('.shipping-full');
    link = $('.shipping-link');
    if ($('.shipping-full').is(':visible')) {
        full.hide();
        link.show();
    } else {
        full.show();
        link.hide();
    }
    link_should_show_or_hide();
});
$('.shipping-cell').click(function () {
    full = $(this).find('.shipping-full');
    link = $(this).find('.shipping-link');
    if (full.is(':visible')) {
        link.show()
        full.hide()
    } else {
        link.hide()
        full.show()
    }
    link_should_show_or_hide();
});
var myThumbUrl = '{{ current_user.thumb_url }}',
    myName = '{{ current_user.full_name }}',
    myUID = '{{ current_user.UID }}';

var submitOk = false;
var $goForm = null;
var $refundLink = null;
$(document).ready(function () {
    $("#stickyButtons").sticky({topSpacing: 66});
    $.fn.digits = function () {
        return this.each(function () {
            $(this).text($(this).text().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,"));
        })
    }
    $('#nsText').watermark('Write your message...', {useNative: false});
    $("#stickyButtons .showPopup").tipsy({fade: true, gravity: 'n'});
    $(".showPopup").tipsy({fade: true, gravity: 's'});
    $('.dateBox').localTimeFromUTC("mmm d, yyyy 'at' h:MM tt");
    $('#createPostLink').fancybox({'overlayColor': '#FFF', 'type': 'inline', 'autoScale': false, 'scrolling': 'no', 'showNavArrows': false, 'titleShow': false});
    $("#messageBtn").click(function (e) {
        e.preventDefault();
        if ($(":checkbox:checked").length > 0)
            $('#createPostLink').click();
        else
            apprise('Please first select a patron or group of patrons!');
        return false;
    });
    $('#completeBtn').click(function (e) {
        e.preventDefault();
        if ($(":checkbox:checked").length > 0) {
            $.post('/processManagerComplete', { uids: $('input:checkbox:checked').map(function () {
                return this.value;
            }).get(), hid: '{% if activity %}{{ activity.activity_id }}{% endif %}', c: '{% if get_c %}0{% else %}1{% endif %}' }, function () {
                $('input:checkbox:checked').closest('tr').remove();
                apprise('Patrons successfully {% if get_c %}unmarked{% else %}marked complete{% endif %}');
            });
        }
        else
            apprise('Please first select a patron or group of patrons!');
        return false;
    });
    $('#deleteBtn').click(function (e) {
        e.preventDefault();
        if ($(":checkbox:checked").length > 0) {
            apprise('<strong>This is permanent and cannot be reversed.</strong> Are you sure you want to delete this patron and all pending and rejected pledges by this patron?', {'verify': true}, function (r) {
                if (r) {
                    $.post('/processDeletePatron', { uids: $('input:checkbox:checked').map(function () {
                        return this.value;
                    }).get(), cid: '{{ current_user.UID }}'}, function () {
                        $('input:checkbox:checked').closest('tr').remove();
                        apprise('Patrons successfully deleted and all pending and rejected pledges removed.');
                    });
                }
                else {
                    // user clicked 'No' so we do nothing
                }
            });
        }
        else
            apprise('Please first select a patron or group of patrons!');
        return false;
    });
    $('.refund').click(function (e) {
        e.preventDefault();
        $refundLink = $(this);
        apprise('<strong>This is permanent and cannot be reversed.</strong> Are you sure you want to refund this pledge?', {'verify': true}, function (r) {
            if (r) {
                $.post('/processRefund', { id: $refundLink.attr('tid')}, function (data) {
                    if (data) {
                        $refundLink.closest('tr').remove();
                        apprise('Pledge successfully refunded and patron has been notified of refund.');
                    } else {
                        apprise('Sorry! There was an issue trying to refund. This can sometimes happen if the refund ' +
                                'amount exceeds your balance, if credit was used by the patron to pledge, or if ' +
                                'patron payment information has been removed - please checkout the support page ' +
                                '(http://support.patreon.com) and we can help!');
                    }
                });
            }
            else {
                // user clicked 'No' so we do nothing
            }
        });
        return false;
    });
    $('#nsSave').click(function (e) {
        e.preventDefault();
        window.parent.$.fancybox.close();
        $.post('/processMsg', { uids: $('input:checkbox:checked').map(function () {
            return this.value;
        }).get(), msg: $('#nsText').val() }, function () {
            apprise('Your message was successfully sent.');
            $('#nsText').val('');
        });
        $(':checkbox').prop('checked', false);
        return false;
    });
    $('a.popSpecial').each(function () {
        $(this).qtip({
            content: {
                text: $(this).next('.tooltiptext')
            },
            style: 'qtip-light qtip-shadow qtip-rounded',
            position: {
                my: 'bottom center',  // Position my top left...
                at: 'top center',
                target: $(this).find('.nameImage')
            },
            show: {
                solo: true
            },
            hide: {
                fixed: true,
                delay: 300
            }
        });
    });
    $('.popCheck').each(function () {
        $(this).qtip({
            content: {
                text: $(this).next('.tooltiptext')
            },
            style: 'qtip-light qtip-shadow qtip-rounded',
            position: {
                my: 'top center',  // Position my top left...
                at: 'bottom center'
            },
            show: 'click',
            hide: 'unfocus'
        });
    }).tipsy({fade: true, gravity: 's'});
    $('.checkDrop a').click(function (e) {
        e.preventDefault();
        $('.popCheck').qtip('hide');

        if ($(this).hasClass('deselect')) {
            if ($(this).hasClass('universal'))
                $(':checkbox:not(.popCheck)').prop('checked', false);
            else
                $('.r' + $(this).attr('rid')).prop('checked', false);
        }
        else if ($(this).hasClass('universal')) {
            $(':checkbox:not(.popCheck)').prop('checked', true);
            if ($(this).hasClass('onlyProcessed'))
                $(':checkbox:not(.ok)').prop('checked', false);
        }
        else {
            $('.r' + $(this).attr('rid')).prop('checked', true);
            if ($(this).hasClass('onlyProcessed'))
                $('.r' + $(this).attr('rid') + ':not(.ok)').prop('checked', false);
        }
        return false;
    });

    var $nodeList, index;
    // Get a NodeList of all of the images on the page; will include
    // both the images we want to update and those we don't
    $nodeList = $('.nameImage');
    // Kick-start the process
    index = 0;
    backgroundLoader();
    // Our background loader
    function backgroundLoader() {
        var img, src;
        // Note we check at the beginning of the function rather than
        // the end when we're scheduling. That's because NodeLists are
        // *live*, so they can change between invocations of our function.
        // So avoid going past what is _now_ the end of the list.
        // And yes, this means that if you remove images from
        // the middle of the document while the load process is running,
        // we may end up missing some. Don't do that, or account for it.
        if (index >= $nodeList.length) {
            // we're done
            return;
        }
        // Get this image
        img = $nodeList[index];
        // Process it
        src = img.getAttribute("data-src");
        if (src) {
            // It's one of our special ones
            img.src = src;
            img.removeAttribute("data-src");
        }
        // Schedule the next one
        ++index;
        window.setTimeout(backgroundLoader, 5);
    }
});
</script>
<div class="fancyboxHidden">
    <a id="createPostLink" href="#createPost"></a>

    <div id="createPost">
        <div id="nsInner" style="min-height:auto;">
            <div id="nsTitle" style="margin-bottom:4px;">Send Message</div>
            <div id="nsTitleLower" style="text-align:center;">All selected patrons will receive this message</div>
            <div id="nsMain">
                <form id="shareForm" target="_top" action="/processMsg" method="post">
                    <textarea style="margin-left:0;width:488px;height:180px;" id="nsText" name="nsText"
                        placeholder="Write your message..."></textarea>

                    <div class="clearfix"></div>

                    <div id="nsButtons" style="margin-bottom:40px;">
                        <input id="nsCancel" type="button" class="btn default" value="Cancel"
                            onClick="window.parent.$.fancybox.close();">
                        <input id="nsSave" type="submit" class="btn primary" value="Send">
                    </div>
                </form>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
