<!-- TODO: MOBILE SUPPORTED PAGE -->
<input type="hidden"
       id="forgot-password-reset-component-user-id"
       value="{{ get_u }}"/>

<input type="hidden"
       id="forgot-password-reset-component-security-token"
       value="{{ get_sec }}"/>

<div class="patreon-page-content">
    <div patreon-forgot-password-reset></div>
</div>
