<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Patreon API: Documentation</title>

    <meta name="description" content="Learn about the Patreon API">
</head>

<body>
<ul>
    <a name="routes"><h1>Routes</h1></a>
    {% for endpoint in endpoints %}
        <li>
            <h2>{{ endpoint['route']['methods'] + ' ' + endpoint['route']['path'] | e }}</h2>

            <dl>
                <dt>Conditions</dt>
                <dd>
                    <ul>
                        {% for decorator in endpoint['details']['other_decorators'] %}
                            <li>{{ decorator | e }}</li>
                        {% endfor %}
                    </ul>
                </dd>

                <dt>Inputs</dt>
                <dd>(DOCUMENTATION FEATURE NOT READY)</dd>
                {# <dd>{{ endpoint['details']['inputs'] | e }}</dd> #}

                <dt>Outputs</dt>
                <dd>
                    <ul>
                        {% for resource in endpoint['details']['return_resource'] %}
                            <li>{{ resource | e }}</li>
                        {% endfor %}
                    </ul>
                </dd>

                <dt>Errors</dt>
                <dd>
                    {% if endpoint['details']['errors'] %}
                        <ul>
                            {% for error in endpoint['details']['errors'] %}
                                <li>{{ error | e }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        No expected errors
                    {% endif %}
                </dd>
            </dl>
        </li>
    {% endfor %}

    <a name="resources"><h1>Resources</h1></a>
    {% for resource in resources %}
        <li>
            <h2>{{ resource['type'] | e }}</h2>
            <h4>{{ resource['python_class_name'] | e }}</h4>

            <dl>
                <dt>Blueprint</dt>
                <dd>
                    <pre>{{ resource['blueprint'] | pretty_json | e }}</pre>
                </dd>

                <dt>Includes</dt>
                <dd>
                    {% if resource['includes']['allowed'] %}
                        <dl>
                            <dt>Allowed</dt>
                            <dd>
                                <pre>{{ resource['includes']['allowed'] | pretty_json | e }}</pre>
                            </dd>

                            <dt>Default</dt>
                            <dd>
                                {% if resource['includes']['default'] %}
                                    <ul>
                                        {% for default_include in resource['includes']['default'] %}
                                            <li>
                                                <pre>{{ default_include | e }}</pre>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    No defaults
                                {% endif %}
                            </dd>
                        </dl>
                    {% else %}
                        No includes
                    {% endif %}
                </dd>
            </dl>
        </li>
    {% endfor %}
</ul>
</body>
</html>
