<div id="mainmiddleSection"
     class="patreon-page-content">
    {% if err %}
        <h2>Something went wrong, delete the patreon entry in google authenticator and try again</h2>
    {% endif %}
    <ol>
        <li>
            Scan the barcode with google authenticator
        </li>
        <li>
            Enter the displayed one time password in the field below
        </li>
        <li>
            click submit
        </li>
    </ol>
    <img src="/internal/two_factor_qr.png?secret={{ secret }}&email={{ email }}">
    <form action="/internal/two_factor_save" method="POST">
        {{ view.CSRFFields().render() }}
        <input type="hidden" value="{{ secret }}" name="secret" id="secret">
        <input type="hidden" value="{{ email }}" name="email" id="email">
        Google Authenticator Code <input type="text" value="" name="test_pass" id="test_pass">
        <input type="submit">
    </form>
    </div>