<input type="hidden"
       id="signup-component-main-server"
       value="{{ MAIN_SERVER }}">

<div class="patreon-page-content">
    <div class="patreon-wrapper
                patreon-wrapper-document">
        <div patreon-signup {{patreon_use_recaptcha}}
             patreon-signup-redirect="'/home'"></div>
    </div>
</div>
