{% if reward != None %}
    <div class="inputBg">
        {% if deleteable %}
            <div class="deleteInput"><button class="btn danger"><i class="icon-trash icon-white"></i><span>Delete</span></button></div>
        {% endif %}
        <div class="askText">Reward</div>
        <div class="askTextSub">Be creative and reward your patrons for supporting you!</div>
        <div id="requiredInfo" class="rSetup">
            <input type="hidden" name="rid[]" value="{{ reward.RID }}"/>
            <input class="inputText rAmount" type="text" name="rAmount[]"
                value="{% if reward.Amount %}{{ format_money(reward.Amount / 100, 2) }}{% endif %}"/>
            <label class="checkButton {% if reward.Shipping %}checked{% endif %}"
                original-title="Require patron to provide a shipping address"><input
                    type="checkbox" {% if reward.Shipping %}checked{% endif %} /><input
                    class="rShipping" name="rShipping[]" type="hidden"
                    value="{% if reward.Shipping %}1{% else %}0{% endif %}"/><span>Shipping Address</span></label>
            <label class="vToggle checkButton {% if reward.UserLimit %}checked{% endif %}"
                original-title="Limit the number of patrons who can get this reward"><input
                    type="checkbox" {% if reward.UserLimit %}checked{% endif %} /><span>Limit Available</span></label>
            <input class="inputText rLimit {% if not reward.UserLimit %}visibleToggle{% endif %}"
                type="text" name="rLimit[]" value="{% if reward.UserLimit %}{{ reward.UserLimit }}{% endif %}"/>

            <div class="requiredInfoSub">Provide details about your reward:</div>
            <textarea class="rDescription"
                name="rDescription[]">{{ reward.Description | clean | safe }}</textarea>
        </div>
    </div>
    <div class="clearfix bottomSpace"></div>
{% else %}
    <div class="inputBg">
        <div class="askText">Reward</div>
        <div class="askTextSub">Be creative and reward your patrons for supporting you!</div>
        <div id="requiredInfo" class="rSetup">
            <input type="hidden" name="rid[]" value=""/>
            <input class="inputText rAmount" type="text" name="rAmount[]"
                value=""/>
            <label class="checkButton"
                original-title="Require patron to provide a shipping address"><input
                    type="checkbox" /><input
                    class="rShipping" name="rShipping[]" type="hidden"
                    value=""/><span>Shipping Address</span></label>
            <label class="vToggle checkButton"
                original-title="Limit the number of patrons who can get this reward"><input
                    type="checkbox" /><span>Limit Available</span></label>
            <input class="inputText rLimit visibleToggle"
                type="text" name="rLimit[]" value=""/>

            <div class="requiredInfoSub">Provide details about your reward:</div>
            <textarea class="rDescription"
                name="rDescription[]"></textarea>
        </div>
    </div>
    <div class="clearfix bottomSpace"></div>
{% endif %}