<style type="text/css">
    #newSpot {
        width: 800px;
        height: auto;
    }

    #nsInner {
        width: 760px;
        min-height: 340px;
    }

    #nsMain {
        width: 650px;
    }

    .inputTitle {
        color: #333;
        font-size: 16px;
        margin: 10px 10px 0 0;
        width: 100px;
        text-align: right;
    }

    .nsRight {
        width: 392px;
        float: left;
        margin-bottom: 6px;
    }

    .inputHelp {
        color: #666;
        font-size: 14px;
        margin-left: 7px;
        margin-bottom: 20px;
    }

    input.inputText {
        margin-bottom: 6px;
        margin-top: 0;
        border: 2px solid #E4E9F2;
        background: #FFF;
        width: 374px;
        padding: 9px 7px 10px 7px;
        font-size: 15px;
        color: #333;
    }

    #nsTitle {
        margin-bottom: 18px;
    }

    #nsButtons {
        margin: 0;
        margin-bottom: 30px;
    }

    #receiptNote {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 16px;
        width: 720px;
        margin-left: -20px;
        margin-top: 36px;
    }

    #invoice {
        font-size: 18px;
        margin-bottom: 16px;
        color: #333;
    }

    span.border {
        border: 2px solid #DCDCDC;
        background: #fafafa;
        padding: 10px 12px 10px 12px;
        line-height: 24px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        display: inline-block;
    }

    span.small {
        font-size: 16px;
    }

    span.large {
        font-weight: 400;
        font-size: 30px;
    }

    select {
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 #000;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 #000;
        background-color: #fff;
        height: 28px;
        line-height: 28px;
        padding: 4px;
        font-size: 13px;
        color: #333;
        border: 1px solid #ccc;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        margin: 0 0 5px 0;
    }

    .glowBtn {
        padding: 8px 21px !important;
    }

    .btn.submit {
        float: left;
    }
</style>
{{ view.CSRFFields().render() }}
<div id="newSpot">
    <div id="nsInner">
        <div id="nsTitle"><img src="/images/orig_yt_logo.png"></div>
        <div id="nsMain">

            <div id="invoice">
            <span id="invoiceInner" class="border" style="border:none;height: 144px;width: 626px;">
                <span>It looks like you setup a <strong>YouTube URL</strong> on your Patreon page, would you like us to import your videos from YouTube into your Patreon content feed?</span>

                <div style="text-align:center;margin-top:8px;color:#999;">{{ current_user.Youtube }}</div>

                <div style="width:322px;margin: 16px auto 64px;"><a href="#" onclick="runMe(); return false;"
                        class="btn submit glowBtn">Yes, import my videos!</a><a href="#"
                        onclick="closeMe(); return false;" class="btn submit" style="margin-left:8px;margin-top:3px;">No
                        thank you.</a></div>
            </span>
            </div>

            <div id="receiptNote">
                Don't worry, we won't import in videos you've already posted on Patreon, and none of your patrons will
                be charged. You can also import in YouTube videos directly under <a href="/settings" target="_blank">My
                    Settings</a>.
            </div>

        </div>
        <div class="clearfix"></div>
    </div>
</div>

<script type="text/javascript">
    function runMe() {
        $('#invoiceInner').html('<div style="margin-top:60px;text-align:center;"><strong>Processing videos, please wait...</strong></div>');
        $.post('/processYoutubeImport?u={{ current_user.UID }}', {YTUrl:
            '{{ current_user.Youtube }}'}, function (data) {
            $('#invoiceInner').html('<div style="margin-top:10px;"><strong>Great!</strong> Your YouTube videos are now being uploaded. Your videos will automatically be posted into your content feed when they\'re ready!</div><div style="width:137px;margin: 16px auto 64px;"><a href="#" onclick="parent.$.fancybox.close(); return false;" class="btn submit" style="margin-top:3px;">Close this window</a></div>');
        });
    }
    function closeMe() {
        $.post('/processYoutubeImport?no=1&u={{ current_user.UID }}', function (data) {
            parent.$.fancybox.close();
        });
    }
</script>
</body>
</html>
