<style type="text/css">
.darkmode-browser {
    background: #fff;
}

.darkmode-browser--side-item {
    display: block;
    font-size: 12px;
    font-weight: 400;

    position: fixed;
    z-index: 900;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    box-sizing: border-box;
    color: #586A72;
    border: 1px solid #E2E2E2;
    background: #FFFFFF;
    border-radius: 18px;
}

.darkmode-browser--side-item-link {
    background: #232D32;
    cursor: pointer;
    font-weight: 600;
    color: #FFFFFF;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    transition: all 200ms ease;
}

.darkmode-browser--side-item-link:hover {
    background: #43555f;
}

.darkmode-browser--side-item-link:active {
    background: #000000;
}

.darkmode-browser--side-item
a,
.darkmode-browser--side-item
a:hover,
.darkmode-browser--side-item
a:visited {
    text-decoration: none;
    color: #FFFFFF;
}

.darkmode-browser--side-item-two {
    bottom: 70px;
}

.darkmode-browser--side-item-three {
    bottom: 120px;
}

.darkmode-browser--side-item-four {
    bottom: 170px;
}

.darkmode-browser-item {
    display: block;
    box-sizing: border-box;
    padding: 10px 20px 10px 20px;
    color: #333;
    font-size: 12px;
    font-weight: 700;
    border-bottom: 1px solid #F2F2F2;
}

.darkmode-browser-item--heading {
    font-size: 14px;
    font-weight: 500;
    color: #333;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    margin: 0 0 5px 0;
}

.darkmode-browser-item--heading:hover {
    text-decoration: none;
}

.darkmode-browser-item--subtext {
    font-size: 12px;
    font-weight: 400;
}

.darkmode-browser-item--subtext
b {
    color: #34AC68;
}

.warning {
    background: -webkit-linear-gradient(90deg, #a73737 10%, #7a2828 90%);
    background:    -moz-linear-gradient(90deg, #a73737 10%, #7a2828 90%);
    background:     -ms-linear-gradient(90deg, #a73737 10%, #7a2828 90%);
    background:      -o-linear-gradient(90deg, #a73737 10%, #7a2828 90%);
    background:         linear-gradient(90deg, #a73737 10%, #7a2828 90%);
    color: #FFFFFF;
}

.warning 
.darkmode-browser-item--heading {
    color: #FFFFFF;
    font-weight: 600;
}

.warning
.darkmode-browser-item--subtext {
    font-weight: 600;
}

.warning
.darkmode-browser-item--subtext
b {
    color: #FFFFFF;
}

</style>

<div class="darkmode-browser">
    <div class="darkmode-browser--side-item 
                darkmode-browser--side-item-link">
        <a href="/internal/darkmode">Get List</a>
    </div>
    {% for response in responses %}
        {% if response['http_code'] == 200 %}
            <div class="darkmode-browser-item">
                <a class="darkmode-browser-item--heading"
                   href="/internal/darkmode/response?response_id={{ response.response_id }}">
                    {{ response['url'] }}
                </a>
                <div class="darkmode-browser-item--subtext">
                    <b>{{ response['http_code'] }}</b> - served in {{ response['response_time']}}ms
                </div>        
            </div>
        {% else %}
            <div class="darkmode-browser-item warning">
                <a class="darkmode-browser-item--heading"
                   href="/internal/darkmode/response?response_id={{ response.response_id }}">
                    {{ response['url'] }}
                </a>
                <div class="darkmode-browser-item--subtext">
                    <b>{{ response['http_code'] }}</b> - served in {{ response['response_time']}}ms
                </div>        
            </div>
        {% endif %}
    {% endfor %}
</div>