<input type="hidden" name="emailCids[]" value="{{ creator.UID }}">
<div class="inputText"
    style="font-weight:400;margin-bottom:4px;">{{ creator.full_name }}
    Emails:
</div>
<a title="Send an email when {{ creator.full_name }} releases a new post that you paid for"
    href="#"
    class="emailAlert checkbox {{ ternary(campaign_settings.email_paid_post, 'checkon', 'checkoff') }}">
    <input type="hidden" name="emailPaid[]"
        value="{{ ternary(campaign_settings.email_paid_post, '1', '0') }}">
</a>
<div style="float:left; margin-right:20px;">Paid posts</div>
<a title="Send an email when {{ creator.full_name }} posts on the activity feed"
    href="#"
    class="emailAlert checkbox {{ ternary(campaign_settings.email_post, 'checkon', 'checkoff') }}">
    <input type="hidden" name="emailPost[]"
        value="{{ ternary(campaign_settings.email_post, '1', '0') }}">
</a>
<div style="float:left; margin-right:20px;">All other posts</div>
<div class="clearfix" style="margin-bottom:14px;"></div>