{% if not session.meta['no_footer'] %}

    <div data-patreon-footer></div>

{% endif %}

{% for dependency in session.meta['react_dependencies'] %}
    <script type="text/javascript"
            src="{{ session.meta['react_s3_prefix'] }}/{{ dependency }}.bundle.js">
    </script>
{% endfor %}
