<tr>
    <td class="rewardCat">
        <input type="checkbox" class="popCheck" title="Select" onclick="$(this).prop('checked',false);return false;" name="userSelect">
        <div class="tooltiptext"><ul class="checkDrop"><li><a rid="{{ reward.RID }}" href="#">All Patrons</a>
            </li>
                <li>
                    <a class="onlyProcessed" rid="{{ reward.RID }}" href="#">
                        Only <span class="headgreen">Processed</span> Patrons
                    </a>
                </li>
                <li>
                    <a class="deselect" rid="{{ reward.RID }}" href="#">
                        <span class="headred">Deselect Patrons</span>
                    </a>
                </li>
            </ul>
        </div>
    </td>
    <td colspan="7" class="rewardCat leftAlign">
        <strong>${{ format_money(reward.Amount / 100 ) }}+ Reward </strong>
        {{ reward.Description | clean | safe }}
    </td>
</tr>