{{ view.Alert().render() }}
<link href='https://fonts.googleapis.com/css?family=Raleway:600' rel='stylesheet' type='text/css'>
<link href="/css/info.css" rel="stylesheet" type="text/css"/>
<style type="text/css">
#mainbg {
    background: #fff;
}

.jobsHeader {
    font-size: 48px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 40px;
    font-weight: normal;
}

.jobsText {
    font-size: 16px;
    text-align: left;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    line-height: 24px;
    margin-bottom: 50px;
}

.jobsImages {
    width: 1020px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 440px;
}

.jobsImages img {
    float: left;
}

.jobsSubtitle {
    text-align: center;
    float: left;
    width: 400px;
    margin-bottom: 40px;
}

.jobsSubtitle.right {
    margin-left: 50px;
}

.jobsSubtitle h3 {
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 20px;
}

.jobsSubtitle p {
    font-size: 14px;
    line-height: 24px;
}

#mainmiddleSection {
    background: #fff;
}

.patreon-creator-dashboard .history-details {
    border: none;
}

.patreon-creator-dashboard .history-details::before {
    display: none;
}

.patreon-creator-dashboard {
    border: none;
}

.history-details {
    width: 900px !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    position: relative;
}

.history-details img {
    width: 280px;
    float: left;
}

.patreon-creator-dashboard {
    width: 100%;
    height: auto;
    min-height: 50px;
    background: #ffffff;
    box-sizing: border-box;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    overflow: hidden;
}

.patreon-creator-dashboard .history-details .details-container {
    width: 580px;
    margin-top: 0;
    margin-left: 38px;
    margin-bottom: 0;
    display: inline-block;
    border: solid 1px #e2e2e2;
    border-radius: 2px;
}

.patreon-creator-dashboard .history-details .details-container:after {
    right: 574px;
    position: absolute;
    pointer-events: none;
    content: "";
    border-left: solid 1px #e2e2e2;
    border-bottom: solid 1px #e2e2e2;
    background: #ffffff;
    height: 14px;
    width: 14px;
    bottom: 100%;
    top: 66px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.animal {
    width: 256px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 40px;
}

h3 {
    font-size: 24px;
    font-weight: normal;
}

h3.jobsName {
    line-height: 26px;
    margin-bottom: 6px;
}

h3.jobsRole {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 12px;
    font-weight: 300;
}

.jobsDescription {
    font-size: 14px;
    line-height: 24px;
}

.oneJob {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 640px;
    margin-bottom: 20px;
}

.oneJob .jobsName {
    float: left;
}

.oneJob .jobsRole {
    float: right;
}

.breakdown {
    padding: 30px;
    box-sizing: border-box;
    background: #fff;
    text-align: left;
}
</style>

<div id="mainmiddleSection" class="patreon-page-content">

<!--Main Middle Panel-->
<div id="mainmiddlePan">
<div class="center fixed short" style="width:100%;padding:0;">

<div id="mainbg" class="mainbg">

{{ view.AboutBanner('careers').render() }}

<div class="page-container-full panel-light">
    <div class="page-container page-container-responsive">

        <h2 class="jobsHeader">
            We Love Creators
        </h2>

        <p class="jobsText">
            Our mission at Patreon is to make it possible for creators to do what they love. Along the way,
            we're friends inside and out of the office, are proud to work by one another's side, and are
            inspired everyday by the commitment, talent, and drive demonstrated by every member of our team.
        </p>

        <div class="jobsImages">
            <img style="width:320px;" src="/images/jobs_fly.jpg"/>
            <img style="margin-left:25px; width:320px;" src="/images/jobs_office.jpg"/>
            <img style="margin-left:25px; width:320px;" src="/images/jobs_chair.jpg"/>
        </div>
        <div class="jobsText" style="margin-top:50px;">
            <div class="jobsSubtitle">
                <h3>
                    Help Creators & Artists
                </h3>

                <p>
                    We send millions to creators on a recurring basis, helping them focus on doing what they love. Our
                    goal is nothing short of changing the very way in which creators are paid for their work, moving
                    from ad-supported creations back to patronage.
                </p>
            </div>
            <div class="jobsSubtitle right">
                <h3>
                    Great Benefits
                </h3>

                <p>
                    Patreon offers great medical, dental, and vision insurance for everyone. We offer free access to a
                    nearby gym and head over often for team workouts (on the days we’re not playing team softball!).
                </p>
            </div>
            <div class="clearfix"></div>
            <div class="jobsSubtitle">
                <h3>
                    Prime Location
                </h3>

                <p>
                    Our beautiful office is in San Francisco's midmarket, right in between SOMA and the Mission and near
                    Hayes Valley. You can grab coffee from Sightglass just a block away, or waltz over to Smitten Ice
                    Cream for a sweet treat. We also have a roof deck for BBQs or relaxing!
                </p>
            </div>
            <div class="jobsSubtitle right">
                <h3>
                    Covered Transportation
                </h3>

                <p>
                    Love living outside the city, taking a Lyft to work, or sharing the road on your newly improved
                    bike?! Patreon offers a monthly stipend to help with transportation costs - whatever your commute
                    may be! And if you find yourself working late, we also cover your ride to wherever you call home!
                </p>
            </div>
            <div class="clearfix"></div>
            <div class="jobsSubtitle">
                <h3>
                    Lunch, Dinner & Juicing
                </h3>

                <p>
                    Chow down on our free daily catered meals from San Francisco's vast variety of restaurants. We also
                    stock up on snacks & drinks, and have a juicing team producing fresh healthy juices with our office
                    cold press and Vitamix!
                </p>
            </div>
            <div class="jobsSubtitle right">
                <h3>
                    Arts, Shows & Instruments
                </h3>

                <p>
                    We host rotating art installations and gallery showings - home to over 60 pieces of original work
                    from our creators - and open our office to creators and patrons for concerts and meetups. Our team
                    regularly hits up various creators’ shows and spends quality time with artists visiting to use our
                    recording studio. Did we mention we have a grand piano!? (Plus, many, many more instruments - and
                    team members who play them!)
                </p>
            </div>
        </div>

    </div>
</div>

<div class="clearfix"></div>

<a target="_blank" href="https://boards.greenhouse.io/patreon"><img class="animal" src="/images/jobs_fox.png"></a>
<div style="width:100%;text-align:center;">
<a target="_blank" href="https://boards.greenhouse.io/patreon" class="patreon-button patreon-button-signup">
    Apply Today
</a>
</div>

<div class="patreon-creator-dashboard" style="background:#f6f6f6;padding-bottom:80px;">
    <h2 class="jobsHeader">
        Join our Amazing Team
    </h2>

    <p class="jobsText">
        Everything we've done at Patreon would not have been possible without the united efforts of our amazingly
        talented team. We want to make sure that artists can continue to populate the internet with beautiful things
        that millions of people enjoy. If this is a future you want to help build, come join us.
    </p>

    <h2 class="jobsHeader" style="font-size:30px;font-weight:300;margin-top:0;">
        Meet a Few Team Members
    </h2>

    <div class="history-details clearfix">
        <img src="https://s3-us-west-1.amazonaws.com/career-bio/jack.jpg"/>

        <div class="details-container">
            <div class="breakdown">
                <h3 class="jobsName">Jack Conte</h3>

                <h3 class="jobsRole">CEO</h3>

                <p class="jobsDescription">Jack Conte is a musician, filmmaker, half of <a target="_blank"
                        href="https://en.wikipedia.org/wiki/Pomplamoose">Pomplamoose</a>, and CEO of Patreon. As a
                    musician and filmmaker, Jack's catalog of videos on YouTube has amassed over 100 million views, and
                    Jack has additionally sold hundreds of thousands of his songs. See his XOXO talk on the founding of
                    Patreon <a target="_blank" href="https://www.youtube.com/watch?v=K9NjntTUJ1Q">here</a>.
                </p>
            </div>
        </div>
    </div>

    <div class="history-details clearfix">
        <img src="https://s3-us-west-1.amazonaws.com/career-bio/sam.jpg"/>

        <div class="details-container">
            <div class="breakdown">
                <h3 class="jobsName">Samuel Yam</h3>

                <h3 class="jobsRole">President and Tech Head</h3>

                <p class="jobsDescription">Sam has had his share of tech, having worked mostly at startups - he founded
                    AdWhirl before selling it to AdMob / Google, served as a mentor at Stanford's StartX, and worked at
                    Loopt, Ning, and Yahoo! Sam is currently on leave from his MS degree @ Stanford which he'll finish
                    someday. But not before Patreon reinvents how art and creative works are supported!</p>
            </div>
        </div>
    </div>

    <div class="history-details clearfix">
        <img src="https://s3-us-west-1.amazonaws.com/career-bio/amanda.jpg"/>

        <div class="details-container">
            <div class="breakdown">
                <h3 class="jobsName">Amanda Smock</h3>

                <h3 class="jobsRole">Head of People Ops and HR</h3>

                <p class="jobsDescription">When Amanda arrived at Berkeley, she dove headlong into the her dream of
                    changing the world.
                    She earned a double major in Political Science and Economics before working for Cooley.
                    After spending time traveling all six habitable continents, she joined the People Ops team at Pocket
                    Gems.
                    There she worked to improve their recruiting, employee happiness, and retention.
                    At Patreon, she directs HR, Recruiting, and Culture Ops.</p>
            </div>
        </div>
    </div>

    <div class="history-details clearfix">
        <img src="https://s3-us-west-1.amazonaws.com/career-bio/jesse.jpg"/>

        <div class="details-container">
            <div class="breakdown">
                <h3 class="jobsName">Jesse Wolfe</h3>

                <h3 class="jobsRole">Engineer Extraordinaire</h3>

                <p class="jobsDescription">Jesse has been coding for most of his life, and doing so professionally for
                    over a decade. He worked on the development team for Puppet in the early days of the DevOps
                    movement. Later he worked at Square where he worked on payments infrastructure. He has a reputation
                    for elegantly fixing very subtle bugs in critical code. He's lived in Portland, in Black Rock City,
                    and all over the state of Alabama, but now calls Oakland home. He's learning to play the ukulele and
                    drinks too much coffee.</p>
            </div>
        </div>
    </div>

    <div class="history-details clearfix">
        <img src="https://s3-us-west-1.amazonaws.com/career-bio/kathy.jpg"/>

        <div class="details-container">
            <div class="breakdown">
                <h3 class="jobsName">Kathy Zheng</h3>

                <h3 class="jobsRole">Designer of All Things</h3>

                <p class="jobsDescription">Kathy fell in love with the craft of design two years ago. After serving web
                    design and mobile products as an UI/UX Director at Milyoni, she joined Patreon to build a better
                    future for creators. She currently leads the artistic direction for new experiences on our web and
                    mobile applications. She dislikes compromise and will take your candy. Building on her great
                    education in Toxicology from Berkeley, Kathy now draws <a target="_blank"
                        href="http://makeafox.tumblr.com/">foxes</a> for a living.</p>
            </div>
        </div>
    </div>

    <div class="history-details clearfix">
        <img src="https://s3-us-west-1.amazonaws.com/career-bio/marcos.jpg"/>

        <div class="details-container">
            <div class="breakdown">
                <h3 class="jobsName">Marcos Gaeta</h3>

                <h3 class="jobsRole">Engineer Fantastique</h3>

                <p class="jobsDescription">Marcos’s ongoing Silicon Valley story may become the quintessential
                    bildungsroman.
                    Born in Sunnyvale, bred at Stanford, and settled in the city.
                    After graduating, he spent a year at StartX with a legal technology company.
                    He then joined Clinkle where he settled into a backend role.
                    The experience gained at those early-stage Stanford startups helps him focus on systems architecture
                    at Patreon.</p>
            </div>
        </div>
    </div>

</div>

<div class="clearfix"></div>

<h2 class="jobsHeader" style="margin-bottom:60px;">
    Current Openings
</h2>

{% for job in jobs %}
    <div class="oneJob">
        <h3 class="jobsName">
            <a target="_blank" href="{{ job['absolute_url'] }}">{{ job['title'] }}</a></h3>
        <h3 class="jobsRole">{{ job['location']['name']  }}</h3>
        <div class="clearfix"></div>
      </div>
{% endfor %}

<div style="height:40px;" class="clearfix"></div>

<div style="width:100%;text-align:center;">
<a target="_blank" href="https://boards.greenhouse.io/patreon" class="patreon-button patreon-button-signup">
    Apply Today
</a>
</div>

</div>
<!--mainbg Close-->
<div class="clearfix" style="margin-bottom:10px;"></div>

</div>
</div>
<!--Main Middle Panel Close-->
</div>

<div class="fancyboxHidden">

</div> <!-- END FancyboxHidden-->
<script src='https://app.greenhouse.io/embed/job_board/js?for=patreon'></script>
