<tr {% if dark %}class='even'{% endif %}>
<td>
    <input type="checkbox" class="r{% if reward_id %}{{ reward_id }}{% endif %} {% if status == 1 or status == 100 %}ok{% endif %}" value="{{ row_user.UID }}">
</td>
<td class="leftAlign">
    <div class="nameDiv">
        <a target="_blank" {% if row_user.Facebook or row_user.Youtube or row_user.Twitter %}class="popSpecial"{% endif %} href="{{ row_user.canonical_url() }}">
            <img class="nameImage" data-src="{{ row_user.thumb_url }}">
            <span class="nameText">{{ row_user.full_name }}</span>
        </a>
        <div class="tooltiptext addPad">
            {% if row_user.Twitter %}
                <div class="socialLine">
                    <a href='http://www.twitter.com/{{ row_user.Twitter }}' target='_blank'>
                        <i class="icon-twitter posAbsolute"></i>
                        <span class="needIcon large">
                            @{{ row_user.Twitter }}
                        </span>
                    </a>
                    <div class="clearfix"></div>
                </div>
            {% endif %}
            {% if row_user.Facebook %}
                <div class="socialLine">
                    <a target="_blank" href="{{ row_user.Facebook }}">
                        <i class="icon-facebook posAbsolute"></i>
                        <span class="needIcon large">{{ row_user.Facebook }}</span>
                    </a>
                    <div class="clearfix"></div>
                </div>
            {% endif %}
            {% if row_user.Youtube %}
                <div class="socialLine">
                    <a target="_blank" href="{{ row_user.Youtube }}">
                        <i class="icon-youtube posAbsolute"></i>
                        <span class="needIcon large">{{ row_user.Youtube }}</span>
                    </a>
                    <div class="clearfix"></div>
                </div>
            {% endif %}
        </div>
        <div class="msgLink">
            <a class="showPopup" target="_blank" title="View all messages" href="{{ row_user.canonical_url('msg=1') }}">
                <img src="/images/msg_icon.png" />
            </a>
        </div>
    </div>
</td>
<td>{{ row_user.email }}</td>
<td>
    <a href="#" onclick="return false;" class="showPopup cursorDefault" title="Max Monthly Pledge: {% if monthly_max %}${{ format_money(monthly_max/100) }}{% else %}No Max Set{% endif %}">
        ${{ format_money(pledge/100) }}
    </a>
</td>
<td>${% if lifetime %}{{ format_money(lifetime/100) }}{% else %}0{% endif %}</td>
<td>
    {% if status == 0 %}
        <span class="showPopup" original-title="User will be charged on next payment cycle">Pending</span>
    {% elif status == 1 %}
        <span class="showPopup headgreen" original-title="User has been successfully charged">Processed</span> <a class="refund" tid="{{ row_user.UID }}" href="#">Refund</a>
    {% elif status == 2 %}
        <span class="showPopup headred" original-title="User payment info has been rejected by processor">Declined</span>
    {% elif status == 100 or status == None %}
        <span class="showPopup headgreen" original-title="We will attempt to charge this user on the next payment cycle">Ok</span>
    {% elif status == 101 or not status is number%}
        <span class="showPopup headred" original-title="User payment info has been rejected by processor">Declined</span>
    {% endif %}
</td>
<td class='shipping-cell'>
{% if street %}
    <a class="shipping-link" href="javascript:void(0);">Show Address</a>
    <div class="shipping-full" >
    <div>{{ row_user.full_name }}</div>
    <div>{{ street }}</div>
    <div>{{ city }}, {{ state }}</div>
    <div>{{ zip }} {{ country }}</div>
    </div>
{% endif %}
</td>
<td>{{ date }}</td>
</tr>

