<div class="box photo"
     style="margin-bottom:124px;">
    <div class="boxWrapper">
        <div class="shareWindow clearfix">
            <div class="imageOver">
                <a href="{{ creator_url }}" class="imagePopup">
                    <div class="boxCenteredImg"
                         style="width:{{ creator_normal_dimension }}px;
                                height:{{ creator_normal_dimension }}px;
                                background-image:url({{ small_image_url }});"></div>
                </a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="featuredTitle discover">
        <a href="{{ creator_url }}">
            {{ creator_full_name }} is creating
            <span class="headorange">{{ creating }}</span>
        </a>

        <div class="featuredSubtitle discover">{{ creator_one_line }}</div>
    </div>
</div>
