{{ view.Alert().render() }}
<script type="text/javascript" src="/scripts/static/fpTemplate/bootstrap-alerts.js"></script>
<script src="/scripts/nocompile/redactor/redactor.min.js?v=2" type="text/javascript"></script>
<link rel="stylesheet" href="/css/multistep.css" type="text/css"/>
<link rel="stylesheet" href="/scripts/nocompile/redactor/redactor.css?v=2" type="text/css"/>
<style type="text/css">
    .inputBg {
        width: 936px;
        color: #333;
    }

    input.inputText {
        width: 140px;
    }

    .rAmount {
        float: left;
        margin-right: 8px;
    }

    .rTitle {
        width: 920px !important;
    }

    .goalHint {
        padding-top: 14px;
        height: 40px;
    }

    #addGoal {
        margin-top: 0;
    }

    #videoUrl {
        width: 356px;
    }

    .askText span {
        font-weight: 300;
        font-size: 14px;
    }

    #shareUrlImg {
        max-width: 70px;
    }

    #shareUrlLeft {
        width: 70px;
    }

    #shareUrlRight {
        width: 272px;
    }

    #shareUrlTitle {
        width: 256px;
    }

    #previewLink {
        width: 900px;
        background: #fff;
        line-height: 20px;
        height: 30px;
        display: block;
        z-index: 1;
        margin: -4px 0 14px 0;
        text-align: center;
        border: 1px solid #ddd;
        font-size: 14px;
        position: relative;
        padding-top: 8px;
        color: #6D8AB6;
    }

    a#previewLink:hover {
        background: #dfe7f3;
        border: 1px solid #b9c8dc;
    }

    #previewLink span {
        background-image: url(/images/select_tip.png);
        width: 9px;
        height: 5px;
        margin: 8px 0 0 7px;
        position: absolute;
    }

    #previewText {
        line-height: 20px;
        text-align: center;
        font-size: 14px;
        color: #6D8AB6;
    }
</style>
<div id="mainmiddleSection"
     class="patreon-page-content">

    <!--Main Middle Panel-->
    <div id="mainmiddlePan">
        <div class="center fixed short">

            <div id="mainbg" class="mainbg">

                {{ view.CreateHeader('/create3').render() }}

                <form id="formCreator"
                      class="csrf_update"
                      action="/create3"
                      method="post">
                    {{ view.CSRFFields().render() }}
                    <div class="inputBg">
                        <div class="askText">
                            Goals allow you to do something extra at certain funding milestones
                        </div>
                        <div class="askTextSub"
                             style="margin-bottom:4px;">
                            <strong>Goals are entirely optional</strong>
                            but may include removing ads, having special effects in your next video, or anything else
                            creative you can come up with. You can setup multiple goals and change goals in and out at
                            any time.
                        </div>
                    </div>
                    <div class="clearfix bottomSpace"></div>
                    {% if goals|length == 0 %}
                        {{ view.CreateGoal().render() }}
                    {% else %}
                        {{ view.CreateGoal(goals[0], False).render() }}
                        {% for goal in goals[1:] %}
                            {{ view.CreateGoal(goal, True).render() }}
                        {% endfor %}
                    {% endif %}

                    <a id="addGoal"
                       class="inputBg"
                       href="#"
                       onClick="addGoal();
                                return false;">
                        + Add Another Goal
                    </a>

                    <div class="clearfix"></div>
                    <div id="inputButtons" class="create">
                        <input id="nextSave"
                               type="submit"
                               class="btn primary"
                               value="Save and Continue"
                               style="padding: 14px;
                                      font-size: 16px;">
                    </div>
                </form>

            </div>
            <!--mainbg Close-->
            <div class="clearfix" style="margin-bottom:10px;"></div>

        </div>
    </div>
    <!--Main Middle Panel Close-->
</div>

<div class="fancyboxHidden">
</div> <!-- END FancyboxHidden-->
<script type="text/javascript">
    function setupGoal(goal) {
        goal.find('.rAmount:first').watermark('$ Amount', {useNative: false});
        goal.find('.rTitle:first').watermark('Short description on what you\'ll do if this goal is met (Remove ads, buy new equipment, etc.)', {useNative: false});
        goal.siblings('.deleteInput:first').click(function (e) {
            e.preventDefault();
            var $this = $(this);
            apprise('Are you sure you want to delete this goal?', {'verify': true}, function (r) {
                if (r) {
                    $this.closest('.inputBg').next().remove(); // clearfix
                    $this.closest('.inputBg').remove();
                }
                else {
                    // user clicked 'No' so we do nothing
                }
            });
            return false;
        });
        goal.find('.rDescription:first').redactor({
            linebreaks: true,
            buttons: [
                'html',
                '|', 'formatting',
                '|', 'bold', 'italic', 'deleted',
                '|', 'unorderedlist', 'orderedlist', 'outdent', 'indent',
                '|', 'image', 'video', 'file', 'link',
                '|', 'alignment'
            ]
        });
    }
    $(document).ready(function () {
        $('.rSetup').each(function () {
            setupGoal($(this));
        });

        var scope = angular.element("body");
        var injector = scope.injector();
        var Analytics = injector.get("Analytics");
        var DOMAIN = 'Launch';

        var logEvent = function (name, info) {
            var event = {
                domain: DOMAIN,
                title: name,
                info: info
            };
            event.info.campaign_id = {{ js_campaign_id }};
            event.info.campaign_launched = {{ js_campaign_launched }};
            return Analytics.logEvent(event);
        }

        logEvent('Began Step 3', {});

        $('.multi-step a').on('click', function () {
            logEvent('Skip To Step', {
                from_step: 3,
                to_step: $(this).parents('.current').data('index')
            });
        });

        $('#formCreator').submit(function() {
            logEvent('Finish Step 3', {})
        });
    });
    function addGoal() {
        var toadd = '<div class="inputBg">' +
            '<div class="deleteInput"><button class="btn danger"><i class="icon-trash icon-white"></i><span>Delete</span></button></div>' +
            '<div class="askText">Goal <span>(e.g. remove ads, buy new equipment, include a puppy in your next piece of content, etc.)</span></div>' +
            '<div id="requiredInfo" class="rSetup">' +
            '<input type="hidden" name="gid[]" value="" />' +
            '<input class="inputText rAmount" type="text" name="rAmount[]" value="" />' +
            '<div class="goalHint">Total pledge amount to achieve this goal."</div>' +
            '<div class="requiredInfoSub">Goal Title:</div>' +
            '<input class="inputText rTitle" type="text" name="rTitle[]" value="" />' +
            '<div class="requiredInfoSub">Description of your goal:</div>' +
            '<textarea class="rDescription" name="rDescription[]"></textarea>' +
            '</div>' +
            '</div>' +
            '<div class="clearfix bottomSpace"></div>';
        $('#addGoal').before(toadd);
        setupGoal($('.rSetup').last());
    }
</script>
