<div class="patreon-page-content">
<h2>{{ title | safe }}</h2>

<p>{{ description | safe }}</p>
{% for form_label, form_fields, hidden_fields in fields %}
    {{ view.GenericInternalForm('/internal/generic/' + function_name, form_label, form_fields, hidden_fields).render() }}
{% endfor %}
</div>