{{ view.Alert().render() }}
<link rel="stylesheet" href="css/manageRewards.css" type="text/css"/>
<div id="mainmiddleSection"
     class="patreon-page-content">
    {% if show_alert %}
        <div style="margin-bottom:0;"
            class="alert-message block-message success fade in alert-signup" data-alert="alert">
            <a class="close" href="#">&times;</a>

            <p class="clean" style="width:990px; margin-right:auto; margin-left:auto;">
                <strong>Success!</strong> Your pending pledges have been deleted. You can always <a href="/bePatron?u={{ deleted_creator_id }}">re-pledge at any time</a>.
            </p>
        </div>
    {% endif %}

    <!--Main Middle Panel-->
    <div id="mainmiddlePan">
        <div class="center fixed short">
            <a href="/manageRewardsList" class="btn btnInfo btnFollow small"
                style="margin-top:0;position:absolute;font-size:13px;padding:6px 6px 7px 10px!important;color:#666;"><i
                    style="margin-right:4px;" class="icon-user"></i><span>View all current Patrons</span></a>

            <h1 style="color: #333;font-weight: 300;font-size: 34px;text-align: center;line-height: 30px; margin-bottom:20px;">
                Patron Manager</h1>
            {% if total_lifetime %}
                <div style="position:absolute;right:0;top:20px;font-size:20px;">Total Processed: <strong
                        style="color:#333;">${{ format_money(total_lifetime / 100, 1) }}</strong></div>
            {% endif %}

            <div class="emptyNotification" style="margin-left:auto;margin-right:auto;width:218px;float:right;margin-top:32px;">
                {% if not is_monthly %}
                    <strong class="showPopup headgreen"
                        title="This is your total gross revenues expected on your next paid post based on any patrons' monthly caps (assuming there are no card declines)">Next
                        paid post</strong><br>
                    <h2>${{ format_money(paid_one['amount']) }}</h2>
                    <p style="font-style:italic;color:#777;">from {{ format_money(paid_one['patron_count'], 1) }} patron pledges</p>

                    <strong class="showPopup headgreen"
                        title="This is your total gross revenues expected on your next paid post afterwards based on any patrons' monthly caps (assuming there are no card declines)">Paid
                        post afterwards</strong><br>
                    <h2>${{ format_money(paid_two['amount']) }}</h2>
                    <p style="font-style:italic;color:#777;">from {{ format_money(paid_two['patron_count'], 1) }} patron pledges</p>

                    <strong class="showPopup headgreen"
                        title="This is your total gross revenues expected on your next paid post afterwards based on any patrons' monthly caps (assuming there are no card declines)">Paid
                        post afterwards</strong><br>
                    <h2>${{ format_money(paid_three['amount']) }}</h2>
                    <p style="font-style:italic;color:#777;">from {{ format_money(paid_three['patron_count'], 1) }} patron pledges</p>
                {% endif %}

                <strong>What is this page?</strong><br>

                <p>As a creator, when you post new <strong>paid</strong> content, your patrons pay you their pledged
                    amount and you may have some rewards to fulfill. This page allows you to view the status of which
                    payments have been processed, and allows you to manage and communicate with specific groups of your
                    patrons.</p>

                <strong>Why does it show $0?</strong><br>

                <p>Pledges are processed at the beginning of each month, so amount processed is often $0 until
                    processing begins. Even after processing begins you may continue seeing the amount processed grow as
                    more cards are processed or declined cards are updated by patrons.</p>

                <strong>Other questions?</strong><br>

                <p style="margin-bottom:0;">Check out the <a target="_blank" href="http://support.patreon.com">payments FAQ</a>!</p>
            </div>

            <div id="mainCategories" class="profile" style="border-bottom: 1px solid #CFCFCF;">
                <div class="table">
                    <ul id="categoryMenu">
                        <li class="active"><a href="/manageRewards">My Paid Posts</a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div id="mainCategoriesBottom" class="profile"></div>

            <div id="boxGrid" class="profile clearfix">
                {% if paid_posts | length == 0 %}
                    <div id="spotName" style="margin-top:0; margin-bottom:10px; margin-left:auto; margin-right:auto;">
                        <div id="spotInfo" class="box marquee">
                            <div id="creatorMarquee" class="boxWrapper medium" style="padding:0;height:388px;width:690px;">
                                <div id="creatorImg" style="position:absolute;">
                                    <div id="nsTitle" style="margin-top:50px;">You haven't released any content yet.</div>
                                    <div style="text-align:center;"><a href="/user" style="float:none;" class="btn submit glowBtn">Go to my Page</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    {% for post in paid_posts %}
                        {{ view.ManageRewardsPost(post).render() }}
                    {% endfor %}
                {% endif %}

            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!--Main Middle Panel Close-->
</div>

<a id="seeMore" class="hiddenDisplay" href="#">See More<span></span></a>

<nav id="page_nav">
    <a href="/patronNext?p=2&ty={{ tab_type }}&u={{ current_user.UID }}"></a>
</nav>

<script type="text/javascript">
    var submitOk = false;
    var $goForm = null;
    $(document).ready(function () {
        $.fn.digits = function () {
            return this.each(function () {
                $(this).text($(this).text().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,"));
            })
        }
        $(".showPopup").tipsy({fade: true, gravity: 's'});
        $('.dateBox').localTimeFromUTC("mmm d, yyyy 'at' h:MM tt");
    });
</script>
<div class="fancyboxHidden">
</div>
