<div class="box mylink"
     style="width:348px;">
    <div id="userSearchBox"
         class="boxWrapper twoBoxesWrapper"
         style="padding:10px 10px 2px 10px;">
        <div class="favesShadow"
             style="width: 95px;
                    height: 95px">
            <div class="favesWhite searchUser"
                 style="width: 95px">
                <a href="{{ url }}"
                   target="_top"
                   class="favesHover">
                    <img src="{{ image_url }}"
                         class="caption searchUser"
                         style="width: 92px"/>
                </a>
            </div>
        </div>
        <div class="searchShareArea"
             style="width: 220px">
            <div class="shareWindow clearfix">
                <h1>
                    <a href="{{ url }}">
                        {{ view.Ribbon(user, creator).render() }}
                        {{ user.full_name }}</a>
                </h1>
                {% if location != None %}
                    <i class="icon-map-marker posAbsolute"></i>
                    <div class="needIcon">
                        {{ unescape(location) }}
                    </div>
                {% endif %}
                <i class="icon-user posAbsolute"></i>

                <div class="needIcon">
                    Patron to <strong>{{ support_count }}</strong>
                    {{ support_string }}
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
