{% if alert_type == globalvars.get('ALERT_USER_POST') or globalvars.get('ALERT_USER_DELETE_PLEDGE') == alert_type or
        (is_page_owner and
            (alert_type == globalvars.get('ALERT_USER_DONE') or
                (is_default_tab and page_campaign != None and
                    ((page_campaign.is_launched and alert_type == None) or page_campaign.is_launched == False)
                ) or
                alert_type == globalvars.get('ALERT_USER_SETUP') and page_campaign != None and page_campaign.is_launched
            )
        ) or (current_pledge != None or total_pledged != 0)

%}
    <div style="margin-bottom:0;"
         class="alert-message block-message success fade in alert-signup" data-alert="alert">
        <a class="close" href="#">&times;</a>

        <p class="clean" style="width:990px; margin-right:auto; margin-left:auto;">
        {% if is_page_owner and is_default_tab and page_campaign != None and page_campaign.is_launched == False %}
            <p style="text-align:center;width:990px;margin-left:auto;margin-right:auto;">
                <strong>Your page is almost setup.</strong> Click on launch and your page will be live.<br>
                <br>
                <strong style="font-weight:300;font-size:24px;line-height:26px;">
                    <span class="headred">
                        Please email us at <a href="mailto:launch@patreon.com">launch@patreon.com</a> before launching<br>
                        if you have over 100,000 subscribers.
                    </span>Thanks!
                </strong>
            </p>
            <a id="user-process-user-setup" href="javascript: void(0)" class="btn btnPhotos success" style="margin:16px auto -50px auto;color: #fff;display: block;width: 76px;">
                <i class="icon-white icon-ok"></i><span>Launch</span>
            </a>
        {% elif is_page_owner and is_default_tab and page_campaign != None and page_campaign.is_launched and alert_type == None %}
            <strong>Welcome {{ page_user.FName }}!</strong> This is your public profile and creator page. You can always edit additional details and settings under <a href="/settings">My Account</a>.
        {% else %}
            {% if alert_type == globalvars.get('ALERT_USER_SETUP') and is_page_owner and page_campaign != None and page_campaign.is_launched %}
                <strong>Success!</strong> Your changes have been saved. Don't forget to <strong>setup your unique Patreon URL</strong> and <strong>upload a profile pic</strong> at <a href="/settings">My Account</a>
            {% elif alert_type == globalvars.get('ALERT_USER_DONE') and is_page_owner %}
                <strong>Success!</strong> Your changes have been saved. Don't forget to <strong>setup your unique Patreon URL</strong> and <strong>upload a profile pic</strong> at <a href="/settings">My Account</a>
            {% elif alert_type == globalvars.get('ALERT_USER_POST') %}
                <strong>Success!</strong> Your post is now live in the Patron activity feed.
            {% elif alert_type == globalvars.get('ALERT_USER_DELETE_PLEDGE') and deleted_creator %}
                <strong>Success!</strong> Your pledge has been deleted. <a href="#save" id="saveLink">Click here</a> if you'd like to follow (for free) {{ deleted_creator.full_name }} for updates. You can also <a href="/bePatron?u={{ deleted_creator.UID }}">re-pledge to {{ deleted_creator.full_name }} at any time</a>.
            {% endif %}
        {% endif %}

        {% if not alert_type == globalvars.get('ALERT_USER_POST') and is_page_owner %}
            <div class="clean" style="width:990px; margin-right:auto; margin-left:auto;text-align:right;">
                <a style="margin-top:10px;color:#666;" class="btn btnInfo btnFollow small" href="/create">
                    <div style="margin-top:-2px;" class="editIcon"></div>
                    <span>Edit Page</span>
                </a>
            </div>
        {% elif current_pledge != None or total_pledged != 0 %}
            <p style="font-size:18px;line-height:24px;text-align:center;width:990px;margin-left:auto;margin-right:auto;">
                <strong>{{ page_user.FName }} has supported you.</strong><br>
                {% if current_pledge != None %}Current pledge: ${{ format_money(current_pledge.Pledge/100) }}<br>{% endif %}
                {% if total_pledged != 0 %}Total lifetime support: ${{ format_money(total_pledged/100) }} {% endif %}
            </p>
            <div style="text-align:center;">
                <a id="messageBtn" style="margin:4px auto 0 auto;color:#666;" class="btn btnInfo btnFollow small" href="/userMsg?u={{ page_user.UID }}">
                    <div style="margin-top:-2px;" class="editIcon"></div>
                    <span>Send Message</span>
                </a>
            </div>
        {% endif %}
    </div>
{% endif %}