<style type="text/css">
.darkmode-browser--side-item {
    display: block;
    font-size: 12px;
    font-weight: 400;

    position: fixed;
    z-index: 900;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    box-sizing: border-box;
    color: #586A72;
    border: 1px solid #E2E2E2;
    background: #FFFFFF;
    border-radius: 18px;
}

.darkmode-browser--side-item-link {
    background: #232D32;
    cursor: pointer;
    font-weight: 600;
    color: #FFFFFF;
    border: 0px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    transition: all 200ms ease;
}

.darkmode-browser--side-item-link:hover {
    background: #43555f;
}

.darkmode-browser--side-item-link:active {
    background: #000000;
}

.darkmode-browser--side-item
a,
.darkmode-browser--side-item
a:hover,
.darkmode-browser--side-item
a:visited {
    text-decoration: none;
    color: #FFFFFF;
}

.darkmode-browser--side-item-two {
    bottom: 70px;
}

.darkmode-browser--side-item-three {
    bottom: 120px;
}

.darkmode-browser--side-item-four {
    bottom: 170px;
}

.darkmode-browser--iframe {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
    width: 100%;
}
</style>

<div class="darkmode-browser--side-item 
            darkmode-browser--side-item-link">
    <a href="/internal/darkmode">
        Get List
    </a>
</div>

<div class="darkmode-browser--side-item 
            darkmode-browser--side-item-two">
    <b>URL</b> {{ response['url'] }}
</div>

{% if next_response %}
<div class="darkmode-browser--side-item 
            darkmode-browser--side-item-link
            darkmode-browser--side-item-three">
    <a href="/internal/darkmode/response?response_id={{ next_response['response_id'] }}">
        Next
    </a>
</div>
{% endif %}

{% if previous_response %}
<div class="darkmode-browser--side-item 
            darkmode-browser--side-item-link
            darkmode-browser--side-item-four">
    <a href="/internal/darkmode/response?response_id={{ previous_response['response_id'] }}"
       alt="Darkmode Request List">
        Previous
    </a>
</div>
{% endif %}

<iframe class="darkmode-browser--iframe" 
        src="/internal/darkmode/response_html?response_id={{ response['response_id'] }}">
</iframe>