<div class="favesShadow searchUser">
  <div class="favesWhite searchUser">
    <a class="favesHover" target="_top" href="{{ user.canonical_url() }}"></a>
    <div class="caption searchUser" style="background: url({{ user.image_url }}) no-repeat 50% 10%;">
        {% if include_name %}
            <div class="captionCenter searchUser"><span>{{ user.full_name }}</span></div>
        {% endif %}
    </div>
  </div>
</div>
