<div id="nsMain">
    <form id="shareForm"
          class="csrf_update"
          target="_top"
          action="/processShare"
          method="post">
        <input type="hidden" id="new" name="new" value="0"/>
        <input type="hidden" id="new" name="new" value="0"/>
        <input type="hidden" id="nsUid" name="nsUid" value="{{ creator_id }}"/>
        <input type="hidden" id="shareType" name="shareType" value="{{ share_type_note }}"/>
        <input type="hidden" id="shareUrl" name="shareUrl" value=""/>
        <input type="hidden" id="shareDomain" name="shareDomain" value=""/>
        <input type="hidden" id="shareSubj" name="shareSubj" value=""/>
        <input type="hidden" id="shareDesc" name="shareDesc" value=""/>
        <input type="hidden" id="shareEmbed" name="shareEmbed" value=""/>
        <input type="hidden" id="shareImgUrl" name="shareImgUrl" value=""/>
        <input type="hidden" id="shareImgUrlPhoto" name="shareImgUrlPhoto" value=""/>
        <input type="hidden" id="nsPrivate" name="nsPrivate" value=""/>
        {{ view.CSRFFields().render() }}
        <textarea id="inputComment"
                  name="nsText"
                  placeholder="Share anything you'd like (comments, links, etc.)"></textarea>

        <div id="shareUrlDiv"
             style="display:none;">
            <div id="shareUrlLeft">
                <div id="shareUrlImgSection">
                    <div class="centerShareUrl"
                         id="shareUrlArrows">
                        <a class="leftImgSelect" href="#"></a>
                        <a class="rightImgSelect" href="#"></a>
                    </div>
                    <div class="centerShareUrl"
                         id="shareUrlImgDiv"
                         style="width:16px;
                                margin:15px auto 15px auto;">
                        <img class="centerShareUrl"
                             id="shareUrlImg"
                             src="/images/loading.gif"/>
                    </div>
                </div>
            </div>

            <div id="shareUrlRight">
                <a class="closeX" href="#"></a>

                <div class="urlBreak" id="shareUrlTitle"></div>
                <div id="shareUrlDomain"></div>
                <div id="shareUrlDesc"></div>
            </div>
        </div>

        <div id="shareImageDiv">
            <div id="shareImageLeft">
                <div id="shareImageImgSection">
                    <div class="centerShareUrl"
                         id="shareImageImgDiv">
                        <img class="centerShareUrl"
                             id="shareImageImg"
                             src="/images/imageUploadDefault.png">
                    </div>
                </div>
            </div>
            <div id="shareImageRight">
                <a class="closeX hiddenClose" href="#"></a>

                <div id="shareImageTitle">
                    Optional image (upload or drag here)
                </div>
                <div id="uploadImageButton"></div>
            </div>
        </div>

        <div style="float:right;">
            <div id="dd"
                 class="wrapper-dropdown showPopup"
                 title="Set the privacy level of this post">
                <span>Public</span>
                <ul class="dropdown">
                    <li>
                        <a href="#">
                            Public
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Patron only
                        </a>
                    </li>
                </ul>
            </div>
            <input id="commentSubmitBtn"
                   name="commentSubmitBtn"
                   value="Post"
                   type="submit"
                   class="btn postActivity">
        </div>

        {% if is_page_owner %}
            <div class="clearfix"></div>
            <div style="border-top:1px solid #CFCFCF;
                        border-bottom:1px solid #fff;
                        width:100%;
                        position:relative;
                        margin-bottom:20px;"></div>
            <input class="inputText noSubmit"
                   type="text"
                   id="nsName"
                   name="nsName"
                   placeholder="Optional title for this post"
                   style="float:left;"/>

            <div class="inputTitle withSub">
                Attachments<span>Limit 100MB</span>
            </div>
            <div id="uploadFileDiv"
                 class="urlBreak"
                 style="width:128px;">
                <a class="closeX hiddenClose"
                   href="#"></a>
                <div id="uploadFileButton"></div>
            </div>
        {% endif %}

        <div class="clearfix" style="margin-bottom:10px;"></div>
    </form>
</div>
<div class="clearfix"></div>
