{{ view.Alert().render() }}
<script type="text/javascript" src="/scripts/static/fpTemplate/bootstrap-alerts.js"></script>
<script src="/scripts/nocompile/redactornew/redactor.min.js" type="text/javascript"></script>
<link rel="stylesheet" href="/css/multistep.css" type="text/css"/>
<link rel="stylesheet" href="/scripts/nocompile/redactornew/redactor.css" type="text/css"/>
<style type="text/css">
    .inputBg {
        width: 936px;
        color: #333;
    }

    input.inputText {
        width: 140px;
    }

    .rAmount {
        float: left;
        margin-right: 8px;
    }

    #addReward {
        margin-top: 0;
    }

    #videoUrl {
        width: 356px;
    }

    .askText span {
        font-weight: 300;
        font-size: 16px;
    }

    #shareUrlImg {
        max-width: 70px;
    }

    #shareUrlLeft {
        width: 70px;
    }

    #shareUrlRight {
        width: 272px;
    }

    #shareUrlTitle {
        width: 256px;
    }

    #previewLink {
        width: 900px;
        background: #fff;
        line-height: 20px;
        height: 30px;
        display: block;
        z-index: 1;
        margin: -4px 0 14px 0;
        text-align: center;
        border: 1px solid #ddd;
        font-size: 14px;
        position: relative;
        padding-top: 8px;
        color: #6D8AB6;
    }

    a#previewLink:hover {
        background: #dfe7f3;
        border: 1px solid #b9c8dc;
    }

    #previewLink span {
        background-image: url(/images/select_tip.png);
        width: 9px;
        height: 5px;
        margin: 8px 0 0 7px;
        position: absolute;
    }

    #previewText {
        line-height: 20px;
        text-align: center;
        font-size: 14px;
        color: #6D8AB6;
    }

    #thankyou .askTextSub {
        line-height: 22px;
    }

    .toolbarMessage {
        line-height: 32px;
        margin-left: 10px;
    }
</style>
<div id="mainmiddleSection"
     class="patreon-page-content">

    <!--Main Middle Panel-->
    <div id="mainmiddlePan">
        <div class="center fixed short">

            <div id="mainbg" class="mainbg">

                {{ view.CreateHeader('/create4').render() }}

                <form id="formCreator" class="csrf_update" action="/create4" method="post">
                    {{ view.CSRFFields().render() }}
                    {% if rewards | length > 0 %}
                        {{ view.CreateReward(rewards[0]).render() }}
                        {% for reward in rewards[1:] %}
                            {{ view.CreateReward(reward, True).render() }}
                        {% endfor %}
                    {% else %}
                        {{ view.CreateReward().render() }}
                    {% endif %}
                    <a id="addReward"
                       class="inputBg"
                       href="#"
                       onClick="addReward();
                                return false;">
                        + Add Another Reward
                    </a>

                    <div class="clearfix bottomSpace"></div>
                    <div class="clearfix bottomSpace"></div>

                    <div class="inputBg" id="thankyou">
                        <div class="askText">Say Thank You</div>
                        <div class="askTextSub">
                            Your patrons will see this information right after pledging!
                        </div>
                        <div>
                            <a href="javascript:void(0);"
                               id="previewLink">
                                <div id="previewText">Preview Thank You page</div>
                            </a>
                        </div>
                        <div style="float:left; width:500px; margin-right:24px;">
                            <div class="askText">Thank You Message <span>(Optional)</span></div>
                            <div class="askTextSub">
                                Be creative with your personal message! You can even offer an
                                immediate gift like links to free songs, videos, photos, etc.
                            </div>
                            {{ view.LegacyRichTextArea("thanksMsg", thanks_msg | clean | safe).render() }}
                        </div>
                        <!-- END message float-->
                        <div style="width:376px; float:left;">
                            <div class="askText">Thank You Video <span>(Optional)</span></div>
                            <div class="askTextSub">
                                Show your thanks with something unique, personal and/or quirky!
                            </div>
                            {{ view.LegacyVideoEmbedder(campaign).render() }}
                        </div>
                        <!-- END video float-->
                    </div>

                    <div id="inputButtons" class="create">
                        <input id="nextSave"
                               type="submit"
                               class="btn primary"
                               value="Save and Continue"
                               style="padding: 14px;
                                      font-size: 16px;">
                    </div>
                </form>

            </div>
            <!--mainbg Close-->
            <div class="clearfix" style="margin-bottom:10px;"></div>
        </div>
    </div>
    <!--Main Middle Panel Close-->
</div>

<div class="fancyboxHidden">
</div> <!-- END FancyboxHidden-->
<script type="text/javascript">

function appendToolbarMessages(){
    var toolbarMessage = '<li class="jsToolbarMessageTarget">' +
        '<span class="toolbarMessage">New: paste images and video directly in the text editor!' +
        '</span>' +
    '</li>'
    $('.jsToolbarMessageTarget').remove();
    var toolbarsWithVideoEmbeds = '#thankyou.redactor-toolbar';
    $(toolbarsWithVideoEmbeds).each(function(index, element){
        $(element).append(toolbarMessage);
    })
};

function setupReward(reward) {
    reward.find('.rAmount:first').watermark('$ Amount', {useNative: false});
    reward.find('.rLimit:first').watermark('Limit', {useNative: false});
    reward.siblings('.deleteInput:first').click(function (e) {
        e.preventDefault();
        var $this = $(this);
        apprise('Are you sure you want to delete this reward?', {'verify': true}, function (r) {
            if (r) {
                $this.closest('.inputBg').next().remove(); // clearfix
                $this.closest('.inputBg').remove();
            }
            else {
                // user clicked 'No' so we do nothing
            }
        });
        return false;
    });
    reward.find('.rDescription:first').redactor({
            linebreaks: true,
            imagePosition: false,
            pastePlainText: true,
            buttons: [
                'formatting',
                'bold', 'italic',
                'unorderedlist', 'orderedlist', 'outdent', 'indent',
                'link',
            ],
            formatting: [
                'p',
                'h3'
            ]
        });
    reward.find(".checkButton").tipsy({fade: true, gravity: 's'}).change(function (e) {
        if ($(this).hasClass('checked')) {
            $(this).removeClass('checked');
            if ($(this).hasClass('vToggle'))
                $(this).next('.rLimit').addClass('visibleToggle').val('');
            else
                $(this).find('.rShipping:first').val('0');
        }
        else {
            $(this).addClass('checked');
            if ($(this).hasClass('vToggle'))
                $(this).next('.rLimit').removeClass('visibleToggle');
            else
                $(this).find('.rShipping:first').val('1');
        }
    });
}
function addReward() {
    var toadd = '<div class="inputBg">' +
        '<div class="deleteInput"><button class="btn danger"><i class="icon-trash icon-white"></i><span>Delete</span></button></div>' +
        '<div class="askText">Reward</div>' +
        '<div class="askTextSub">Be creative and reward your patrons for supporting you!</div>' +
        '<div id="requiredInfo" class="rSetup">' +
        '<input type="hidden" name="rid[]" value="" />' +
        '<input class="inputText rAmount" type="text" name="rAmount[]" value="" />' +
        '<label class="checkButton" original-title="Require patron to provide a shipping address"><input type="checkbox" /><input class="rShipping" name="rShipping[]" type="hidden" value="0" /><span>Shipping Address</span></label>' +
        '<label class="vToggle checkButton" original-title="Limit the number of patrons who can get this reward"><input type="checkbox" /><span>Limit Available</span></label>' +
        '<input class="inputText rLimit visibleToggle" type="text" name="rLimit[]" value="" />' +
        '<div class="requiredInfoSub">Provide details about your reward:</div>' +
        '<textarea class="rDescription" name="rDescription[]"></textarea>' +
        '</div>' +
        '</div>' +
        '<div class="clearfix bottomSpace"></div>';
    $('#addReward').before(toadd);
    setupReward($('.rSetup').last());
    appendToolbarMessages();
}
$(document).ready(function () {
    var scope = angular.element("body");
    var injector = scope.injector();
    var Analytics = injector.get("Analytics");
    var DOMAIN = 'Launch';

    var logEvent = function (name, info) {
        var event = {
            domain: DOMAIN,
            title: name,
            info: info
        };
        event.info.campaign_id = {{ js_campaign_id }};
        event.info.campaign_launched = {{ js_campaign_launched }};
        if (name === 'Video Embedder Fail') {
            event.info.step = 4;
        }
        return Analytics.logEvent(event);
    }

    var $shareBox = $('#videoUrl');
    $shareBox.watermark('Url of your video', {useNative: false}).bind('paste keyup', shareBoxKeypress($shareBox));
    $('#shareUrlDiv a.closeX:first').click(function () {
        resetShareUrl();
        return false;
    });

    $('.rSetup').each(function () {
        setupReward($(this));
    });

    $("#previewLink").click(function (e) {
        if (!$("#shareEmbed").val() && !$('<p>' + $("#thanksMsg").val() + '</p>').text()) {
            e.preventDefault();
            apprise('Please enter a Thank You video URL or message before previewing!');
            logEvent('Preview Thank You Page Fail', {reason: 'no url or message'});
            return false;
        }
        else {
            // post the form in a new window
            document.forms.formCreator.setAttribute("target", "_blank");
            document.forms.formCreator.action = "/bePatronDone?u={{ current_user.UID }}";
            document.forms.formCreator.submit();

            // set the form back to its original settings
            document.forms.formCreator.setAttribute("target", "_self");
            document.forms.formCreator.action = "create4";

            logEvent('Leave', {
                location: "/bePatronDone",
                new_window: true
            });
        }
    });
    appendToolbarMessages();

    $('#formCreator').submit(function() {
        logEvent('Finish Step 4', {})
    });

    $('.multi-step a').on('click', function () {
        logEvent('Skip To Step', {
            from_step: 4,
            to_step: $(this).parents('.current').data('index')
        });
    });

    logEvent('Began Step 4', {});
});
</script>
