<div class="clearfix userRow">
<div class="box mylink" style="width:100%;">
<div id="userSearchBox" class="twoBoxesWrapper">
    {% if sender %}
        {{ view.UserBox(sender, True).render() }}
    {% endif %}
<div class="searchShareArea urlBreak">
    <p class="dateBox">{{ message.sent_at }}</p>
    <span class="reply"><a target="_top" href="/user?u={{ message.sender_id }}&msg=1">send a reply</a></span>
    {{ insert_links_into_text(message.content) | clean | safe }}
</div>
<div class="clearfix"></div>
</div>
</div>
</div>
