<div id="mainmiddleSection" style="padding:2em">
    <h1>Internal Pages</h1>
    <ul>
    {% for category in categories %}
        <h2>{{ category }}</h2>
        {% for element in registry.get(category, {}).values() %}
            <li><a href="{{ element['route'] }}">{{ element['name'] }}</a></li>
        {% endfor %}
    {% endfor %}
    </ul>
</div>