{{ view.Alert().render() }}
<script type="text/javascript" src="/scripts/static/fpTemplate/bootstrap-alerts.js"></script>
<link rel="stylesheet" href="/css/multistep.css" type="text/css"/>
<style type="text/css">
    .inputBg {
        width: 936px;
        color: #333;
    }

    #requiredInfo .redactor_editor,
    #requiredInfo .redactor_editor div,
    #requiredInfo .redactor_editor p {
        font-size: 20px !important;
        line-height: 28px !important;
        font-family: "Open Sans", arial, sans-serif !important;
    }

    #requiredInfo .redactor_editor h1 {
        margin-bottom: 20px !important;
        font-size: 26px !important;
        line-height: 30px !important;
        font-family: "Open Sans", arial, sans-serif !important;
    }

    #requiredInfo .redactor_editor p:last-child {
        margin-bottom: 0 !important;
    }

    #requiredInfo .redactor_editor li {
        line-height: 32px !important;
        font-family: "Open Sans", arial, sans-serif !important;
    }

    #requiredInfo .redactor_editor h3 {
        font-size: 24px !important;
        font-family: "Open Sans", arial, sans-serif !important;
    }
</style>
<div id="mainmiddleSection"
     class="patreon-page-content">

    <!--Main Middle Panel-->
    <div id="mainmiddlePan">
        <div class="center fixed short">

            <div id="mainbg" class="mainbg">

                {{ view.CreateHeader('/create2').render() }}

                <form id="formCreator"
                      class="csrf_update"
                      action="/create2"
                      method="post">
                    {{ view.CSRFFields().render() }}
                    <div class="inputBg">
                        <div class="askText">Your Video</div>
                        <div class="askTextSub">
                            Creators with videos have a much higher success rate. Show what you'll be creating with
                            your Patrons' support!
                            <br/>
                            <strong>
                                Paste in the url of your video from Youtube, Vimeo, etc.
                            </strong>
                            <a href="/toolbox/media"
                               id="toolbox"
                               target="_blank" >
                                (Here are some Patreon clips, images, and media that may help!)
                            </a>
                        </div>
                        {{ view.LegacyVideoEmbedder(campaign).render() }}

                    </div>
                    <div class="clearfix bottomSpace"></div>

                    <div class="inputBg">
                        <div class="askText">Tell your patrons why they should pledge to you</div>
                        <div class="askTextSub">
                            Talk about what you do and how you'll be using your Patrons' support to keep creating
                            interesting content.
                        </div>
                        <div id="requiredInfo">
                            {{ view.LegacyRichTextArea("about", summary | clean | safe).render() }}
                        </div>
                    </div>
                    <div class="clearfix"></div>

                    <div id="inputButtons" class="create">
                        <input id="nextSave"
                               type="submit"
                               class="btn primary"
                               value="Save and Continue"
                               style="padding: 14px;
                                      font-size: 16px;">
                    </div>
                </form>

            </div>
            <!--mainbg Close-->
            <div class="clearfix" style="margin-bottom:10px;"></div>

        </div>
    </div>
    <!--Main Middle Panel Close-->
</div>

<div class="fancyboxHidden">
</div> <!-- END FancyboxHidden-->

<script type="text/javascript">
    $(document).ready(function () {
        var scope = angular.element("body");
        var injector = scope.injector();
        var Analytics = injector.get("Analytics");
        var DOMAIN = 'Launch';

        var logEvent = function (name, info) {
            var event = {
                domain: DOMAIN,
                title: name,
                info: info
            };
            event.info.campaign_id = {{ js_campaign_id }};
            event.info.campaign_launched = {{ js_campaign_launched }};
            if (name === 'Video Embedder Fail') {
                event.info.step = 2;
            }
            return Analytics.logEvent(event);
        }

        $('#toolbox').click(function() {
            logEvent('Leave', {
                location: $(this).attr('href'),
                new_window: $(this).attr('target') == '_blank'
            });
        });

        $('#formCreator').submit(function() {
            logEvent('Finish Step 2', {})
        });

        $('.multi-step a').on('click', function () {
            logEvent('Skip To Step', {
                from_step: 2,
                to_step: $(this).parents('.current').data('index')
            });
        });

        logEvent('Began Step 2', {});
    });
</script>
