{% if session.is_admin %}
<div>
    <a class="component-admin-mode--block is-link"
       href="/internal/feature_flags">
        <span>
            View Feature Flags
        </span>
    </a>
    <a class="component-admin-mode--block is-link"
       href="/internal/index">
       <span>
        Internal Page Index
        </span>
    </a>
    <form class="component-admin-mode--block"
          action="/internal/impersonate"
          method="POST">
        {{ view.CSRFFields().render() }}
        <span>
            Impersonate via vanity, email, or user id
        </span>
        <input id="identifier" name="identifier" type="text">
        <input type="submit" value="Impersonate">
    </form>
    {% if session.is_impersonating %}
        <a class="component-admin-mode--block is-link"
           href="/internal/impersonate">
            <span>
                Become original user
            </span>
        </a>
    {% endif %}
    {% if user_id and session.user_id != user_id %}
        <a class="component-admin-mode--block is-link"
           href="/internal/impersonate?user_id={{ user_id }}">
            <span>
                Become this user #{{ user_id }}
            </span>
        </a>
    {% endif %}
    {% if campaign %}
        <form class="component-admin-mode--block"
              action="/internal/zoho_link"
              method="POST">
            {{ view.CSRFFields().render() }}
            <input type="hidden"
                   value="{{ campaign.campaign_id }}"
                   id="campaign_id"
                   name="campaign_id">
            <span>
                Zoho ID:
            </span>
            <input id="zoho_id" name="zoho_id" type="text">
            <input type="submit">
        </form>
        <span class="component-admin-mode--block">
            <span>
                Campaign_id: #{{ campaign.campaign_id }}
                {% if campaign.zoho_map %}
                    <br>
                    Current Zoho ID #{{ campaign.zoho_map.zoho_id }}
                {% endif %}
            </span>
        </span>
    {% endif %}
    {% if campaign and user_id %}
         <a class="component-admin-mode--block is-link"
            href="/tools/creatorPledgeDashboard.php?creatorID={{ user_id }}&userID={{ session.user_id }}">
            <span>
                View logged in user's pledge history with this creator
            </span>
        </a>
        <a class="component-admin-mode--block is-link"
           href="/tools/creatorPledgeDashboard.php?creatorID={{ user_id }}">
            <span>
                View this creator's complete pledge history.
            </span>
        </a>
    {% endif %}
    {% if admin_data.get('2fa') %}
        <style>
        .blink {
            animation: blink 1s steps(5, start) infinite;
            -webkit-animation: blink 1s steps(5, start) infinite;
        }
        @keyframes blink {
            to {
                visibility: hidden;
            }
        }
        @-webkit-keyframes blink {
            to {
                visibility: hidden;
            }
        }
        </style>
        <a class="component-admin-mode--block is-link"
           href="/internal/two_factor_setup">
            <span class="blink" style="color:red">
                <marquee behavior="alternate" direction="down">
                    <marquee behavior="alternate">
                        SETUP YOUR TWO
                        <br>
                        FACTOR AUTHENTICATION
                    </marquee>
                </marquee>
            </span>
        </a>
    {% endif %}
</div>
{% endif %}
