{% if reward %}

    {% if remaining == 0 and limit %}
        <div class="tier soldout">
            <h4>Pledge ${{ format_money(reward.Amount / 100, 1) }} or more per {{ campaign.pay_per_name }}</h4>
            <div class="limitText headorange">All {{ limit }} sold out!</div>
            {{ reward.Description | clean | safe }}
        </div>
    {% else %}
        <a href="/bePatron?rid={{ reward.RID }}&u={{ reward.UID }}&patAmt={{ reward.Amount / 100 }}" class="tier"><h4>Pledge ${{ format_money(reward.Amount / 100, 1) }} or more per {{ campaign.pay_per_name }}</h4>
        {% if limit %}
            <div class="limitText headorange">Limited {{ remaining }} of {{ limit }} left</div>
        {% endif %}
        {{ reward.Description | clean_and_remove_links | safe }}</a>
    {% endif %}

{% endif %}
