<table cellspacing='0' style="margin-left:auto;margin-right:auto;">
<tr>
    <th>
        <input type="checkbox" class="popCheck" title="Select" onclick="$(this).prop('checked',false);return false;" name="userSelect">
        <div class="tooltiptext"><ul class="checkDrop">
        <li>
        <a class="universal" rid="' . $currRid . '" href="#">All Patrons</a>
        </li>
        <li><a class="universal onlyProcessed" href="#">Only <span class="headgreen">Processed</span> Patrons</a></li><li><a class="universal deselect" href="#"><span class="headred">Deselect Patrons</span>
        </a>
        </li>
        </ul>
        </div>
    </th>
    <th>
        <a class="showPopup sortLink" href="/manageRewardsList?{% if get_hid %}hid={{ get_hid }}{% endif %}{% if get_c %}c={{ get_c }}{% endif %}srt=1{% if get_srt == '1' and not get_up %}&up=1{% endif %}" title="Sort by name">Name{% if get_srt == '1' %}<span class="sortTip {% if get_up %}up{% endif %}"></span>{% endif %}</a>
    </th>
    <th>
        <a class="showPopup sortLink" href="/manageRewardsList?{% if get_hid %}hid={{ get_hid }}{% endif %}{% if get_c %}c={{ get_c }}{% endif %}srt=2{% if get_srt == '2' and not get_up %}&up=1{% endif %}" title="Sort by email">Email{% if get_srt == '2' %}<span class="sortTip {% if get_up %}up{% endif %}"></span>{% endif %}</a>
    </th>
    <th>
        <a class="showPopup sortLink" href="/manageRewardsList?{% if get_hid %}hid={{ get_hid }}{% endif %}{% if get_c %}c={{ get_c }}{% endif %}srt=3{% if get_srt == '3' and not get_up %}&up=1{% endif %}" title="Sort by pledge amount">Pledge{% if get_srt == '3' %}<span class="sortTip {% if get_up %}up{% endif %}"></span>{% endif %}</a>
    </th>
    <th>
        Lifetime
    </th>
    <th>
        <a class="showPopup sortLink" href="/manageRewardsList?{% if get_hid %}hid={{ get_hid }}{% endif %}{% if get_c %}c={{ get_c }}{% endif %}srt=4{% if get_srt == '4' and not get_up %}&up=1{% endif %}" title="Sort by status">Status{% if get_srt == '4' %}<span class="sortTip {% if get_up %}up{% endif %}"></span>{% endif %}</a>
    </th>
    <th class='shipping-header'>
        Shipping <a class='shipping-show-hide'>(show)</a>
    </th>
    <th>
        <a class="showPopup sortLink" href="/manageRewardsList?{% if get_hid %}hid={{ get_hid }}{% endif %}{% if get_c %}c={{ get_c }}{% endif %}srt=5{% if get_srt == '5' and not get_up %}&up=1{% endif %}" title="Sort by starting pledge date">Start{% if get_srt == '5' %}<span class="sortTip {% if get_up %}up{% endif %}"></span>{% endif %}</a>
    </th>
</tr>