<div class="box option double patreon-legacy-rewards">
    <a {% if reward.user_limit > 0 and remaining == 0 and is_waiting %}
        class="waitBtn" rid="{{ reward.RID }}" add="0"
    {% elif reward.user_limit > 0 and remaining == 0 and not is_waiting %}
        class="waitBtn" rid="{{ reward.RID }}" add="1"
    {% endif %}
        data-pledge-value="{{ reward.Amount }}"
        href="/bePatron?rid={{ reward.RID }}&u={{ reward.UID }}&patAmt={{ reward.Amount/100 }}">
        <div class="boxWrapper double">
            <div class="boxPrice">
                <p>Pledge ${{ format_money(reward.Amount/100, 2) }} or more per {{ create_text }}</p>
            </div>
            <p class="divider"/>

            <div class="shareWindow more-block clearfix">
                {% if reward.count != 0 %}
                    <i class="icon-user posAbsolute"></i>
                    <div class="needIcon">
                    <strong>{{ reward.count }}</strong> patron{% if reward.count > 1 %}s{% endif %}
                {% endif %}
                {% if reward.user_limit > 0 %}
                    {% if remaining > 0 %}
                        {% if reward.count == 0 %}
                            <i class="posAbsolute"></i>
                        {% endif %}
                        (<strong class="headorange">Limited {{ remaining }} of {{ reward.user_limit }} left</strong>)
                    {% elif is_waiting %}
                        (<strong class="headorange">All {{ reward.user_limit }} sold out!</strong>)
                        <div class="waitLink">You're on the waiting list</div>
                    {% else %}
                        (<strong class="headorange">All {{ reward.user_limit }} sold out!</strong>)
                        <div class="waitLink">Click to be notified when a spot opens</div>
                    {% endif %}
                {% endif %}
                {% if reward.count != 0 %}
                    </div>
                {% elif reward.count == 0 and reward.user_limit > 0 %}
                    <br>
                {% endif %}
                <i class="icon-align-left posAbsolute"></i>

                <div class="needIcon reward">{{ reward.Description | safe }}</div>
            </div>
        </div>
    </a>
</div>
