{{ view.Alert().render() }}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    Stripe.setPublishableKey('{{ STRIPE_KEY_PUBLIC }}');
</script>
<script type="text/javascript" src="/scripts/static/fpTemplate/bootstrap-alerts.js?v=1"></script>
<script src="/scripts/nocompile/Jcrop/jquery.Jcrop.min.js" type="text/javascript"></script>
<link rel="stylesheet" href="/scripts/nocompile/Jcrop/jquery.Jcrop.css" type="text/css"/>
<script src="/scripts/nocompile/redactor/redactor.min.js" type="text/javascript"></script>
<link rel="stylesheet" href="/scripts/nocompile/redactor/redactor.css" type="text/css"/>
<link rel="stylesheet" href="/css/multistep.css" type="text/css"/>
<link rel="stylesheet" href="/css/settings.css" type="text/css"/>
<script>
    $(function() {
        $('#settings-process-revert').click(function(){
            apprise('Your creator page and any followers you have will be removed.', {'confirm': true}, function (r) {
                if (r) {
                    $.post('/processRevert', function() {
                        window.location.replace('/settings?saved=1');
                    });
                }
            });
        });
        $('#deleteFb').click(function(){
            $.post('/processFBDisconnect?redirectUrl={{ urlencode('/settings') }}', function() {
                window.location.replace('/settings?saved=1');
            });
        });
    });
</script>

<div id="mainmiddleSection"
     class="patreon-page-content">

    {% if is_unverified and alert_verify_email %}
        <div id="reactTargetAlertVerifyEmail"
             data-email="{{ current_user.email }}">
        </div>
    {% endif %}

<!--Main Middle Panel-->
<div id="mainmiddlePan">
<div class="center fixed short">

<div id="mainbg" class="mainbg">

<div id="spotName" style="margin-bottom:4px;">
    <h2 style="width:450px;">{{ current_user.full_name }}'s Settings</h2>
    <a style="position:absolute; right:0; top:0; margin-top:10px;color:#666;" class="btn btnInfo" href="/pending"><i
            style="margin-right:6px;margin-top:2px;" class="icon-bookmark"></i><span>View outbound pledges</span></a>
    {% if campaign %}
        <a id="seeTrans" style="position:absolute; right:192px; top:0; margin-top:10px;color:#666;"
            class="btn btnInfo seeTrans" href="/transactions_i"><i style="margin-right:6px;margin-top:2px;"
                class="icon-tag"></i><span>View inbound payments</span></a>
        <a style="position:absolute; right:388px; top:0; margin-top:10px;color:#666;" class="btn btnInfo"
            href="/manageRewards"><i style="margin-right:6px;margin-top:2px;"
                class="icon-user"></i><span>Patron Manager</span></a>
    {% endif %}
    <div id="balance" {{ ternary(campaign, '', 'class="hiddenDisplay"') }}><a class="seeTrans"
            href="/transactions_i">Account Balance:</a>
        <span>${{ format_money(ternary(total_user_credit > 0, total_user_credit, 0) / 100, 2) }}</span></div>
</div>
<div class="clearfix"></div>

{% if is_unverified and not alert_verify_email %}
    <h3>Hey! Thanks for signing up!!!</h3>
    <p>
        Don't forget to verify your email <strong>{{ current_user.Email }}</strong>.
        We sent a registration message that has the verification link. <a id="resendEmail" href="#">Resend Email</a>
    </p>
{% endif %}

<div id="alert-error" style="{% if not display_errors %}display:none;{% endif %}" class="alert-message block-message error fade in alert-signup"
    data-alert="alert">
    <a class="close" href="#">&times;</a>

    <p class="clean"><strong>Sorry!</strong> There were some issues:</p>
    <ul>
        {% if get_err == 1 %}
            <li>It looks like {{ get_email }} is already a user. You can logout and login with that email or try changing to another email address.</li>
        {% elif get_err == 3 %}
            <li>Your Facebook account is associated with another email address. Please disconnect your Facebook account from the other Patreon account before connecting it to this one.</li>
        {% elif get_err %}
            <li>{{ get_err }}</li>
        {% endif %}
        {% if get_pass_err == 1 %}
            <li>We were unable to change your password! Please verify you typed in your old password correctly</li>
        {% elif get_pass_err == 2 %}
            <li>You didn't enter your old password! This is required to change to a new password!</li>
        {% endif %}
    </ul>
</div>

{% if get_saved %}
<div style="{% if not display_success %}display:none;{% endif %}" class="alert-message block-message success fade in alert-signup" data-alert="alert">
    <a class="close" href="#">&times;</a>

    <p class="clean"><strong>Success!</strong> Your changes have been saved.</p>
    <ul>
            {% if get_email %}
                <li>An email was sent to <strong>{{ get_email }}</strong>
                Your email address will be updated once you confirm your email.</li>
            {% endif %}
            {% if get_confirmed %}
                <li>Your email has been changed to <strong>{{ get_confirmed }}</strong>.</li>
            {% elif get_rgsn %}
                 <li><strong>Success!</strong> Thanks for confirming your email.</li>
            {% endif %}

    </ul>
</div>
{% endif %}
</div>

<p class="settingsHeader">Profile Information</p>

<form id="formProfile" class="csrf_update" action="/processSettings?sect=1" onsubmit="setVanity();" method="post">
    {{ view.CSRFFields().render() }}
    {{ view.ProfileUpload(current_user).render() }}

    <div class="inputBg" style="width:650px; margin-bottom:10px;">

        <div class="inputText">Where are you from?</div>
        <input class="inputText" style="width:630px;" type="text" id="addlocation" name="addlocation" value=""/>

        <div id="geoInfo">
            <input type="hidden" id="lat" name="lat" type="text" value="">
            <input type="hidden" id="lng" name="lng" type="text" value="">
            <input type="hidden" id="formatted_address" name="formatted_address" type="text" value="">
        </div>
        <div id="addedLocations">
            {% for location in locations %}
               <div class="selectedLoc"><span>{{ location.display_name }}</span><a class="closeX posAbsolute acX" href="#"></a><input name="postlat[]" class="lat" type="hidden" value="{{ location.latitude }}"><input name="postlng[]" class="lon" type="hidden" value="{{ location.longitude }}"><input name="postlocation[]" class="location" type="hidden" value="{{ location.display_name }}"></div>
            {% endfor %}
        </div>
        <div class="clearfix" style="margin-bottom:20px;"></div>

        {% if current_user.is_creator %}
            <a href="/create" class="startButton" style="margin:0 0 0 180px;">Edit Creator Page</a>
            <a id="settings-process-revert" href="javascript: void(0)" style="margin:10px 0 10px 214px;display:block;">Revert my account to patron-only</a>
        {% else %}
            <a href="/create?rgsn=1" class="startButton"
                style="margin:0 0 24px 128px;font-size:20px;padding:4px 18px 6px;">Convert profile to Content
                Creator</a>
        {% endif %}
        <div class="inputText" style="margin-bottom:10px;">About you</div>
        <textarea id="settingsAbout" name="settingsAbout">{{ current_user.About or '' }}</textarea>

        <div class="clearfix" style="margin-bottom:20px;"></div>

        <div style="width:324px; float:left;">

            <div class="inputText">Personal Patreon url</div>
            <span style="color:#333; font-size:14px;">http://patreon.com/ </span><input class="inputText" type="text"
                id="uname" name="uname" value="{{ current_user.Vanity or '' }}"/>

            <div class="clearfix"></div>
            <div style="width:318px; height:0; position:absolute;">
                <div id="alert-vanity" style="display:none; top:-26px; padding:2px 14px; left:0;"
                    class="alert-message block-message fade in">
                </div>
            </div>

            <div class="inputText">Name</div>
            <input class="inputText" type="text" id="name" name="name"
                value="{{ current_user.full_name  or '' }}"/>

            <div class="clearfix"></div>

            <div class="inputText">Email</div>
            <input class="inputText" type="text" id="email" name="email" value="{{ current_user.Email }}"/>

            <div class="clearfix"></div>

        </div>

        <div style="width:324px; float:left;">
            <i class="setIcons icon-twitter posAbsolute"></i>

            <div class="inputText iconNext">Twitter username</div>
            <input class="inputText" type="text" id="settingsTwitter" name="settingsTwitter"
                value="{{ current_user.Twitter or '' }}"/>

            <div class="clearfix"></div>

            <i class="setIcons icon-facebook posAbsolute"></i>

            <div class="inputText iconNext">Facebook url</div>
            <input class="inputText short" type="text" id="settingsFacebook" name="settingsFacebook"
                value="{{ current_user.Facebook or '' }}"/>

            <div class="clearfix"></div>

            <i class="setIcons icon-youtube posAbsolute"></i>

            <div class="inputText iconNext">YouTube url{% if campaign %}
            <span style="float:right; margin-right:8px; font-size:14px; font-weight:bold;"><a id="importYt"
                        title="Click to import in your existing YouTube videos into your Patreon content" href="#">Import
                        your videos?</a></span>{% endif %}
                        </div>
            <input class="inputText" type="text" id="settingsYoutube" name="settingsYoutube"
                value="{{ current_user.Youtube or '' }}"/>

            <div class="clearfix"></div>
        </div>

        <div class="inputText"><a href="#" onclick="$('#changePass').toggle(); return false;">Change password</a></div>
        <div id="changePass">
            <br />
            <input class="inputText" type="password" id="oldPassword" name="oldPassword" value=""/>
            <br />
            <input class="inputText" type="password" id="passwordNR" name="passwordNR" value=""/>
            <input class="inputText" style="margin-left:2px;" type="password" id="confirmPasswordNR"
                name="confirmPasswordNR" value=""/>
        </div>
        <div class="clearfix"></div>

        <div id="inputButtons">
            <input id="profileSave" type="submit" class="btn primary" value="Save All Profile Changes">
        </div>
    </div>

    <div class="clearfix"></div>
</form>

{% if current_user.Password %}
<p class="settingsHeader">Facebook Connect</p>
    <form id="formFacebook" class="csrf_update" action="/processSettings?sect=2" method="post">
        {{ view.CSRFFields().render() }}
        <div class="inputBg">
            {% if current_user.FBID %}
                <div id="deactivateFb">
                    <a id="deleteFb" class="btn danger" href="javascript:void(0);">Deactivate Facebook</a>
                </div>
            {% else %}
                <div style="float:left;">
                    <a class="fbLogin large" href="javascript:void(0);"
                        onclick="if(typeof(FB) != 'undefined' && FB != null) FB.login(function(response) {
                            if (response.authResponse) {
                            window.location = '/fblogin?redirectUrl={{ urlencode('/settings') }}';
                            } else {

                            }
                            }, {scope: 'user_photos'});"></a>
                </div>
            {% endif %}
        </div>
    </form>
{% endif %}
<div class="clearfix"></div>

<p class="settingsHeader">Email Settings</p>

<form id="formEmail" class="csrf_update" action="/processSettings?sect=3" method="post">
    {{ view.CSRFFields().render() }}
    <div class="inputBg">
        <div class="inputText" style="font-weight:400;margin-bottom:4px;">General Emails (click to change):</div>
        {% if campaign %}
            <a href="#" title="Send an email when a new patron pledges or modifies his/her pledge"
                class="emailAlert checkbox {{ ternary(current_user.should_email_on_new_patron, 'checkon', 'checkoff') }}">
                <input type="hidden" id="patronUpdate" name="patronUpdate"
                    value="{{ ternary(current_user.should_email_on_new_patron, '1', '0') }}">
            </a>
            <div style="float:left; margin-right:20px;">New patron</div>
            <a href="#" title="Send an email when anyone posts activity on your profile"
                class="emailAlert checkbox {{ ternary(current_user.should_email_on_patron_post, 'checkon', 'checkoff') }}">
                <input type="hidden" id="postUpdate" name="postUpdate"
                    value="{{ ternary(current_user.should_email_on_patron_post, '1', '0') }}">
            </a>
            <div style="float:left; margin-right:20px;">New Post</div>
        {% endif %}
        <a href="#" title="Send an email when a creator you're pledging to comments on a post or comment that you made"
            class="emailAlert checkbox {{ ternary(current_user.email_new_comment, 'checkon', 'checkoff') }}">
            <input type="hidden" id="commentUpdate" name="commentUpdate"
                value="{{ ternary(current_user.email_new_comment, '1', '0') }}">
        </a>

        <div style="float:left; margin-right:20px;">New comments</div>
        <a href="#" title="Send an email when a creator you're pledging to achieves a milestone goal"
            class="emailAlert checkbox {{ ternary(current_user.email_goal, 'checkon', 'checkoff') }}">
            <input type="hidden" id="milesUpdate" name="milesUpdate"
                value="{{ ternary(current_user.email_goal, '1', '0') }}">
        </a>

        <div style="float:left; margin-right:20px;">Milestone goals</div>
        <a href="#"
            title="Patreon occasionally sends an email about new features or important updates with our service"
            class="emailAlert checkbox {{ ternary(current_user.email_patreon, 'checkon', 'checkoff') }}">
            <input type="hidden" id="emailUpdate" name="emailUpdate"
                value="{{ ternary(current_user.email_patreon, '1', '0') }}">
        </a>

        <div style="float:left; margin-right:20px;">Patreon updates</div>
        <div class="clearfix" style="margin-bottom:14px;"></div>

        {% for creator_id in supporting %}
            {{ view.CreatorEmailSettings(creator_id).render() }}
        {% endfor %}

        <div id="inputButtons">
            <input id="emailSave" type="submit" class="btn primary" value="Save Changes">
        </div>
    </div>
</form>
<div class="clearfix"></div>

<p class="settingsHeader">Privacy</p>

<form id="formEmail" class="csrf_update" action="/processSettings?sect=3" method="post">
    {{ view.CSRFFields().render() }}
    <div class="inputBg">
        <a href="#" original-title="Disabling this option will hide all patronage and activity on your profile"
            id="userListed" class="checkbox reversed {{ ternary(current_user.is_private, 'checkoff' ,'checkon') }}">
            <input type="hidden" id="privacyUpdate" name="privacyUpdate"
                value="{{ ternary(current_user.is_private, '1' ,'0') }}">
        </a>

        <div style="float:left; margin-right:20px;">My pledges are visible to the public.<br/>
            <br/>
            <i>Private profile pages hide pledges from the public.</i></div>
        <div class="clearfix"></div>
        <div id="inputButtons">
            <input id="emailSave" type="submit" class="btn primary" value="Save Changes">
        </div>
    </div>
</form>
<div class="clearfix"></div>

</div>
<!--mainbg Close-->
<div class="clearfix" style="margin-bottom:10px;"></div>

</div>
</div>
<!--Main Middle Panel Close-->
</div>

<div class="fancyboxHidden">
</div> <!-- END FancyboxHidden-->
<script type="text/javascript">
// user variables
var myThumbUrl = '{{ current_user.thumb_url }}',
    myName = '{{ current_user.full_name }}',
    myUID = '{{ current_user.UID }}';

var jcrop_api, boundx, boundy;

var thumbSet = false;
var checkingVanity = false;
$(document).ready(function () {
// Create variables (in this scope) to hold the API and image size
    $('#uname').watermark('Username (Optional)', {useNative: false}).bind('paste keyup', vanityCheck);
    $('#name').watermark('Full Name', {useNative: false});
    $('#email').watermark('Email', {useNative: false});
    $('#oldPassword').watermark('Current Password', {useNative: false});
    $('#passwordNR').watermark('New Password', {useNative: false});
    $('#confirmPasswordNR').watermark('Confirm New Password', {useNative: false});
    $('#settingsTwitter').watermark('Ex: Patreon, Jackconte, etc.', {useNative: false});
    $('#settingsFacebook').watermark('Ex: http://facebook.com/itsPatreon', {useNative: false});
    $('#settingsYoutube').watermark('Ex: http://youtube.com/jackcontemusic', {useNative: false});

    $('#settingsAbout').redactor({
        linebreaks: true,
        minHeight: 80,
        buttons: [
            'html',
            '|', 'formatting',
            '|', 'bold', 'italic', 'deleted',
            '|', 'unorderedlist', 'orderedlist', 'outdent', 'indent',
            '|', 'image', 'video', 'file', 'link',
            '|', 'alignment'
        ]
    });

    $(".noSubmit").bind('keydown keypress keyup', function (e) {
        if (e.which == 13)
            e.preventDefault();
    });

    $("#addlocation").geocomplete({details: '#geoInfo'}).bind("geocode:result", addClick);

    $('#importYt').click(ytClick);

    $("#userListed, .icon-question-sign, #importYt, .emailAlert").tipsy({fade: true, gravity: 's'});
    $(".fbIcon:first").tipsy({fade: true, gravity: 'n'}).click(fbRefresh);
    $(".checkbox:not(.reversed)").click(checkboxClick);
    $(".checkbox.reversed").click(checkboxClickReversed);
    $("#resendEmail").click(resendEmailClick);
    $('form').submit(function () {
        isOk = false;
        // On submit disable its submit button
        $('.btn.primary').attr('disabled', 'disabled');
        $(this).find('.btn.primary:first').val('Please wait...');
        switch ($(this).attr('id')) {
            case 'formProfile':
                if (checkingVanity) {
                    apprise('Please wait as we\'re still checking availability of your vanity url, thanks!');
                    isOk = false;
                }
                else {
                    var $alertInsert = $('.alert-message ul');
                    isOk = checkform(this);
                    if ($('#settingsTwitter').val() != "" && ($('#settingsTwitter').val().toLowerCase().indexOf('http://') != -1) || $('#settingsTwitter').val().toLowerCase().indexOf('https://') != -1) {
                        isOk = false;
                        $alertInsert.append('<li>Only enter your Twitter username (not a url)</li>');
                    }
                    if ($('#settingsFacebook').val() != "" && $('#settingsFacebook').val().toLowerCase().indexOf('http') == -1) {
                        isOk = false;
                        $alertInsert.append('<li>Please enter your full Facebook url (with http:// in front)</li>');
                    }
                    if ($('#settingsYoutube').val() != "" && $('#settingsYoutube').val().toLowerCase().indexOf('http') == -1) {
                        isOk = false;
                        $alertInsert.append('<li>Please enter your full YouTube url (with http:// in front)</li>');
                    }

                    if (!isOk) {
                        var $alertDiv = $('.alert-signup');
                        $alertDiv.addClass('in').show();
                    }
                }
                break;
            default:
                isOk = true;
                break;
        }
        if (!isOk) {
            $('.btn.primary').removeAttr('disabled').val('Save Changes');
            $('.success:first').removeClass('in').hide();
            $("html, body").stop().animate({ scrollTop: 0 }, "fast");
        }
        return isOk;
    });
    $(".seeTrans").fancybox({'overlayColor': '#FFF', 'type': 'iframe', 'autoScale': false, 'autoDimensions': false, 'modal': false, 'width': 800, 'height': 600, 'scrolling': 'no', 'showNavArrows': false });
    $("#addedLocations .closeX").click(deleteClick);

    $('#formCreator').submit(function (event) {
        // Disable the submit button to prevent repeated clicks
        $('.btn.primary').attr('disabled', 'disabled');
        $(this).find('.btn.primary:first').val('Please wait...');

        if ($("#formCreator").attr("action") == "/paypalStart" || stripeExpress)
            return true;

        Stripe.createToken({
            name: $('#cName').val(),
            address_country: $('#cCountry').val(),
            address_line1: $('#cStreet').val(),
            address_line2: $('#cStreet2').val(),
            address_city: $('#cCity').val(),
            address_state: $('#cState').val(),
            address_zip: $('#cZip').val(),
            number: $('#cNum').val(),
            cvc: $('#cCode').val(),
            exp_month: $('#cc_month').val(),
            exp_year: $('#cc_year').val()
        }, stripeResponseHandler);

        // Prevent the form from submitting with the default action
        return false;
    });
});

var addClick = function (e) {
    $('#addedLocations').prepend('<div class="selectedLoc"><span>' + $("#formatted_address").val() + '</span><a class="closeX posAbsolute acX" href="#"></a><input name="postlat[]" class="lat" type="hidden" value="' + $("#lat").val() + '"><input name="postlng[]" class="lon" type="hidden" value="' + $("#lng").val() + '"><input name="postlocation[]" class="location" type="hidden" value="' + $("#formatted_address").val() + '"></div>');

    $("#addedLocations .closeX:first").click(deleteClick);

    setTimeout(function () {
        $('#addlocation').val('');
    }, 50);

    return false;
}

var deleteClick = function (e) {
    // stop form from submitting normally
    e.preventDefault();

    $selectedLoc = $(this).parent('.selectedLoc:first');
    apprise('Are you sure you want to delete ' + $selectedLoc.find('.location:first').val() + '?', {'verify': true}, function (r) {
        if (r) {
            // user clicked 'Yes'
            $.post('/processDeleteLocation?lat=' + $selectedLoc.find('.lat:first').val() + '&lon=' + $selectedLoc.find('.lon:first').val());
            $selectedLoc.remove();
        }
        else {
            // user clicked 'No' so we do nothing
        }
    });
    return false;
}

var ytClick = function (e) {
    // stop form from submitting normally
    e.preventDefault();

    if (!$('#settingsYoutube').val()) {
        apprise('Please enter in the url for your YouTube channel before importing.');
        return false;
    }

    apprise('Confirm import of your Youtube videos? Don\'t worry, we won\'t import videos you\'ve already posted and none of your patrons will be charged.', {'verify': true}, function (r) {
        if (r) {
            // user clicked 'Yes'
            $.post('/processYoutubeImport?u={{ current_user.user_id }}', {YTUrl: $('#settingsYoutube').val()});
            apprise('Your YouTube videos are now being processed. Your videos will automatically be posted into your content feed when ready!');
        }
        else {
            // user clicked 'No' so we do nothing
        }
    });
    return false;
}

var fbRefresh = function (e) {
    $.get('/processFbImageGet', function (data) {
        var myImage = $.trim(data);

        var $profileImagePreview = $('img#profilePreview');
        thumbSet = true;
        jcrop_api.destroy();
        $profileImagePreview.unbind();

        $profileImagePreview.attr('src', myImage);
        $('#preview').attr('src', myImage);

        $profileImagePreview.Jcrop({
            onChange: updatePreview,
            onSelect: jcropOnSelect,
            aspectRatio: 1
        }, function () {
            // Use the API to get the real image size
            var bounds = this.getBounds();
            boundx = bounds[0];
            boundy = bounds[1];

            // Store the API in the jcrop_api variable
            jcrop_api = this;
            var cx = (boundx / 2);
            var cy = (boundy / 2);
            var cw = Math.min(cx, cy);
            jcrop_api.setSelect([cw / 2, cw / 2, cw * 3 / 2, cw * 3 / 2]);
        });

        $('#profileImgUrl').val(myImage);
        $('#uploadThumb').val('1');
    });
    return false;
}

var checkboxClick = function (e) {
    e.preventDefault();

    if ($(this).hasClass("checkon")) {
        $(this).removeClass("checkon").addClass('checkoff').children('input:first').val('0');
    } else {
        $(this).removeClass("checkoff").addClass('checkon').children('input:first').val('1');
    }
    return false;
}

var checkboxClickReversed = function (e) {
    e.preventDefault();

    if ($(this).hasClass("checkon")) {
        $(this).removeClass("checkon").addClass('checkoff').children('input:first').val('1');
    } else {
        $(this).removeClass("checkoff").addClass('checkon').children('input:first').val('0');
    }
    return false;
}

var resendEmailClick = function (e) {
    e.preventDefault();
    $.post("processResendEmail.php");

    $(e.target).replaceWith('<span>An email has been sent to <br />{{ current_user.Email }} for confirmation.</span>');
}

var vanityOk = false;
var vanityCheck = function () {
    checkingVanity = true;
    var vanityVal = $('#uname').val().trim();

    if (vanityVal == '{{ current_user.Vanity }}') {
        $('#alert-vanity').hide();
        vanityOk = true;
        checkingVanity = false;
        return;
    }

    if (vanityCheckFirst(vanityVal)) {
        $.get('processCheckVanity', {vanity: vanityVal},
            function (result) {
                result = result.trim();
                if (result == $('#uname').val()) {
                    $('#alert-vanity').removeClass('error').addClass('success').html('<p class="clean">This name <strong>is Available!</strong></p>').show();
                    vanityOk = true;
                }
                else if (result == '0') {
                    $('#alert-vanity').removeClass('success').addClass('error').html('<p class="clean">Sorry, this name is <strong>not Available.</strong></p>').show();
                    vanityOk = false;
                }
                else {
                    $('#alert-vanity').hide();
                    vanityOk = false;
                }
                checkingVanity = false;
            });
    }
    else if (vanityVal == '') {
        $('#alert-vanity').hide();
        vanityOk = false;
        checkingVanity = false;
    }
    else {
        $('#alert-vanity').removeClass('success').addClass('error').html('<p class="clean">Sorry, only <strong>letters, numbers, and underscores are allowed.</strong></p>').show();
        vanityOk = false;
        checkingVanity = false;
    }
}
function vanityCheckFirst(vanity) {
    var illegalChars = /[^A-Za-z\d_]/; // allow letters, numbers, and underscores
    if (vanity !== '') {
        if (illegalChars.test(vanity))
            return false;
        else
            return true;
    }
    else {
        return false;
    }
}
function setVanity() {
    if (!vanityOk)
        $('#uname').val('');
    return;
}
</script>
