<div class="patreon-body-legacy-override patreon-fonts" patreon-splash></div>

<div id="mainmiddleSection" style="background:#fafafa; min-height:440px;padding-bottom:0;">

    <!--Main Middle Panel-->
    <div id="mainmiddlePan">

        <div class="center fixed" style="padding-bottom:0;">
            <div id="boxGrid"
                 class="clearfix small"
                 style="width:1028px;">

                <div style="width:185px;float:left;">
                    <ul class="categoryList">
                        <a href="/discover">
                            <li>All</li>
                        </a>
                        {% for cat_key, cat_val in categories_data.items() %}
                            <a href="/discover?cat={{ cat_key }}">
                                <li>{{ cat_val['Name'] }}</li>
                            </a>
                        {% endfor %}
                    </ul>
                </div>

                <div class="fpRight">
                    {% for one_featured in all_featured %}
                        {{ view.FeaturedShare(one_featured).render(cached=1800) }}
                    {% endfor %}
                </div>

            </div>
            <div class="clearfix"></div>

        </div>
    </div>
    <!--Main Middle Panel Close-->

</div>

<script type="text/javascript">
    var filter = '{{ f }}';

    // other necessary variables
    var isSpotMember = false; // no need to populate fave list
    $(document).ready(function () {
        {% if rgsn == 1 %}
            $('#startPopup').click();
        {% endif %}
        var scope = angular.element("body");
        var injector = scope.injector();
        var Analytics = injector.get("Analytics");

        $('.creationBox a').on('click', function() {
            var creation = $(this).parents('.creationBox');
            if (creation) {
                var position = $('.creationBox').index(creation);
                var creator_id = creation.data('creatorid');
                var post_id = creation.data('postid');
                var link_type = $(this).data('contenttype');

                Analytics.logEvent({
                    domain: "Featured",
                    title: "Clicked Post",
                    info: {
                        position: position,
                        type: link_type,
                        creator_id: creator_id,
                        post_id: post_id,
                        category_id: {{ js_category_id }}
                    }
                })
            }
        });
    });
</script>
<a id="startPopup" class="hiddenDisplay" href="/start_i"></a>
