{% if post %}
    {% if not can_show and user_pledge and user_pledge.Pledge > 1 %}
<div class="box hiddenDisplay"></div>
    {% else %}
<div class="box
            {{ box_wrapper_add }}
            {% if user_liked %}uLike{% endif %}"
     id="{{ post.activity_id }}"
     hid="{{ post.activity_id }}"
     prv="{{ post.min_cents_pledged_to_view }}">
    <div class="tabTri showPopup {{ tabTri_add }}"
         title="{{ tabTri_title }}"></div>
    <div class="boxWrapper {{ box_wrapper_add }}">
        <div class="hiddenDisplay shareInfo">
            <div class="utitle">{% if post.activity_title %}{{ unescape(post.activity_title) }}{% endif %}</div>
            <div class="dateBox">{{ post.php_date }}</div>
            <div class="title">{{ post.link_subject }}</div>
            {% if attachments|length > 0 -%}
                <div class="attach">
                {% for attachment in attachments -%}
                    <a target="_blank" href="{{ attachment.download_url }}">{{ attachment.name }}</a>
                {% endfor -%}
                </div>
            {% endif -%}
            <div class="domain">{{ post.link_domain }}</div>
            <div class="url">{{ post.link_url }}</div>
            {% if post.link_description != None -%}
                <div class="summary">{{ truncate(post.link_description, 200) }}</div>
            {% endif -%}
        </div>
    {% if is_link -%}
        <div id="embed" class="hiddenDisplay">{{ post.link_embed }}</div>
    {% endif -%}

        <a href="#shareFave"
           class="btn btnInfo btnLearn btnOnShare left hiddenClose"
           title="Like" >
            <div class="learnIcon">
                <span class="likeCount ">{%- if post.like_count > 0 -%}{{ post.like_count }}{%- endif -%}</span>
            </div>
            <span>Like</span>
        </a>

        <div class="legacy-activity-feed-buttons btn-group">
        {% if can_edit -%}
            <a class="btn btnInfo btnOnShare hiddenClose legacy-activity-feed-buttons--left"
               href="{{ post.edit_url }}">Edit</a>
        {% elif can_delete -%}
            <div class="btn btnInfo btnOnShare hiddenClose legacy-activity-feed-buttons--left"
                 onclick="triggerDeletePostModal({
                         id: {{ post.activity_id }},
                         name: '{{ creator.full_name}}',
                         avatar: 'https:{{ creator.image_url }}'
                 })">
                Delete
            </div>
        {% endif -%}

        {% if can_show %}
            <a class="btn
                      btnInfo
                      btnChat
                      btnOnShare
                      right
                      hiddenClose
                      {% if post.comment_count > 0 %} active{% endif %}
                      legacy-activity-feed-buttons--right"
               title="Comment"
               href="#">
                <div class="chatBigIcon">
                    <span>{{ comment_count }}</span>
                </div>
            </a>
        {% endif %}
        </div>

        <div class="shareWindow clearfix {% if post.is_monthly -%}orange{% endif -%}">
        {%- if not can_show -%}

            <div class="shareWindow clearfix">
                <div class="imageOver pOnly">
                    <a href="{{ post.pledge_url(default_pledge) }}">
                        <img
                            height="100"
                            width="110"
                            id="photo{{ post.activity_id }}"
                            src="/images/logos_patreon.png"/>
                    </a>
                </div>
                <div class="shareText urlBreak">
                    <h1>For Patrons Only</h1>
                    <div class="shareContent">
                        To become a patron, view this post, and contribute in this activity feed,
                        <a href="{{ post.pledge_url(default_pledge) }}">click here</a>.
                    </div>
                </div>
            </div>

        {%- elif is_text_only -%}

            <div class="shareText urlBreak">
                <a href="{{ post.patreon_url }}"
                   class="noteLink imagePopup"
                   rel="{{ rel }}"
                   sid="{{ post.user_id }}">
                    {%- if post.activity_title -%}
                        <h1>{{ unescape(post.activity_title) }}</h1>
                    {%- endif -%}
                    <div class="shareContent">
                        {%- if post.activity_content -%}
                            {%- if not is_user_hack -%}
                                {{ insert_links_into_text(post.activity_content) | clean | safe }}
                            {%- else -%}
                                {{ post.activity_content }}
                            {%- endif -%}
                        {%- endif -%}
                    </div>
                </a>
            {%- if post.is_paid -%}
                <img class="newContent
                            {% if not one_column %}
                                oneCol
                            {% endif %}"
                     style="top:{{ image.half_height }}px;"
                     src="/images/newcontent.png?v=1" />
            {%- endif -%}
            </div>

        {%- elif is_audio_only -%}

            <div class="shareWindow clearfix">
                <a href="{{ post.patreon_url }}">
                    <img width=12px
                         style="margin-right: 6px;"
                         src="http://s3.amazonaws.com/patreon_public_assets/audio.svg">
                    {{ audio_file_name | clean | safe }}
                </a>
                <div class="shareText urlBreak">
                    <a href="{{ post.patreon_url }}"
                       class="noteLink imagePopup"
                       rel="{{ rel }}"
                       sid="{{ post.user_id }}">
                        {%- if post.activity_title -%}
                            <h1>{{ unescape(post.activity_title) }}</h1>
                        {%- endif -%}
                        <div class="shareContent">
                            {%- if post.activity_content -%}
                                {%- if not is_user_hack -%}
                                    {{ insert_links_into_text(post.activity_content) | clean | safe }}
                                {%- else -%}
                                    {{ post.activity_content }}
                                {%- endif -%}
                            {%- endif -%}
                        </div>
                    </a>
                </div>
            {%- if post.is_paid -%}
                <img class="newContent
                            {% if not one_column %}
                                oneCol
                            {% endif %}"
                     style="top:{{ image.half_height }}px;"
                     src="/images/newcontent.png?v=1" />
            {%- endif -%}
            </div>

        {%- else -%}

            <div class="imageOver">
                <a href="{{ post.patreon_url }}"
                   class="imagePopup"
                   rel="{{ rel }}"
                   sid="{{ post.user_id }}"
                   pref="{{ image.url }}"
                   title="
                    {%- if not post.activity_content and post.activity_title -%}
                        {{ unescape(post.activity_title) }}
                    {%- endif -%}">

                    <div style="width:{{ image.width }}px;
                                height:{{ image.height }}px;
                                margin-left:auto;
                                margin-right:auto;">
                        <img src="{{ image.url }}"
                             height="{{ image.height }}"
                             width="{{ image.width }}"
                             id="photo{{ post.activity_id }}"/>
                    </div>
                    {%- if post.is_paid -%}
                        <img class="newContent
                                    {% if not one_column %}
                                        oneCol
                                    {% endif %}"
                             style="top:{{ image.half_height }}px;"
                             src="/images/newcontent.png?v=1" />
                    {%- endif -%}
                </a>
            </div>

            {%- if is_image -%}

                <div class="shareText urlBreak{%- if not post.activity_content -%} hiddenToggle{%- endif -%}">
                    {%- if post.activity_title -%}
                        <h1><a href="{{ post.patreon_url }}">{{ unescape(post.activity_title) }}</a></h1>
                    {%- elif post.activity_title -%}
                        <h1>{{ unescape(post.activity_title) }}</h1>
                    {%- endif -%}
                    <div class="shareContent">
                        {%- if post.activity_content -%}
                            {%- if not is_user_hack -%}
                                {{ insert_links_into_text(post.activity_content) | clean | safe }}
                            {%- else -%}
                                {{ post.activity_content }}
                            {%- endif -%}
                        {%- endif -%}
                    </div>
                </div>

            {%- elif is_embed -%}

                <div class="shareLink">
                    {%- if post.link_subject -%}
                        <p class="title urlBreak">
                            <a href="{{ post.patreon_url }}">{{ post.link_subject }}</a>
                        </p>
                    {%- endif -%}
                    <p class="url">{{ post.link_domain }}</p>
                    {%- if post.link_description -%}
                        <p class="linkDesc urlBreak">
                            {{ truncate(unescape(post.link_description), 200) }}
                        </p>
                    {%- endif -%}
                </div>
                <div class="shareText urlBreak">
                {%- if image.url -%}

                    {%- if post.activity_title -%}
                        <h1><a href="{{ post.patreon_url }}">{{ unescape(post.activity_title) }}</a></h1>
                    {%- endif -%}
                    <div class="shareContent">
                        {%- if post.activity_content -%}
                            {%- if not is_user_hack -%}
                                {{ insert_links_into_text(post.activity_content) | clean | safe }}
                            {%- else -%}
                                {{ post.activity_content }}
                            {%- endif -%}
                        {%- endif -%}
                    </div>

                {%- else -%}

                    <a href="{{ post.patreon_url }}"
                       class="noteLink imagePopup"
                       rel="{{ rel }}"
                       sid="{{ post.user_Id }}">
                    {%- if post.activity_title -%}
                        <h1><a href="{{ post.patreon_url }}">{{ unescape(post.activity_title) }}</a></h1>
                    {%- endif -%}
                        <div class="shareContent">
                            {%- if post.activity_content -%}
                                {%- if not is_user_hack -%}
                                    {{ insert_links_into_text(post.activity_content) | clean | safe }}
                                {%- else -%}
                                    {{ post.activity_content }}
                                {%- endif -%}
                            {%- endif -%}
                        </div>
                    </a>

                {%- endif -%}
                </div>

            {%- endif -%}

        {%- endif -%}
        </div>

        <div class="boxExtra">
            <div class="boxUserImage">
                {{
                    view.DisplayUserThumb(
                        share_user.canonical_url(), share_user.thumb_url,
                        share_user.full_name
                    ).render()
                }}
            </div>
            <div class="infoDiv">
                <p class="info">
                    <a target="_top" href="{{ share_user.canonical_url() }}">
                        {%- if share_user.UID != creator.UID -%}
                            {{ view.Ribbon(share_user, creator).render() }}
                        {% endif %}
                        {{ share_user.full_name }}
                    </a>
                    {% if not no_creator_name and post.user_id != creator.UID -%}
                        /
                        <a href="{{ creator.canonical_url()}}" class="infoTag">
                            {{ creator.full_name }}
                        </a>
                    {% endif -%}
                </p>
                <p class="dateBox">{{ post.php_date }}</p>
            </div>
        </div>

        {% if show_comments %}
            <div class="clearfix"></div>
            {% if can_show %}
                <div class="comments {% if not can_show or post.comment_count == 0 %}hiddenDisplay{% endif -%}">
                    {% if post.comment_count > max_comments -%}
                        <div class="commentBox">
                            <div class="viewComments">
                                <p>
                                    <a href="{{ post.patreon_url }}"
                                       class="viewCommentsLink2">
                                        View all {{ post.comment_count }} comments
                                    </a>
                                </p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    {% endif -%}
                    {{
                        view.DisplayComments(
                            current_user.UID, post.activity_id, creator,
                            commenters, post.comment_count
                        ).render()
                    }}
                    <div class="commentBox">
                        <div class="boxUserImage small">
                            <a href="#" >
                                <img src="{{ current_user.thumb_url or default_thumb }}" />
                            </a>
                        </div>

                        <form id="commentForm"
                              class="csrf_update"
                              action="#"
                              method="post">
                            {{ view.CSRFFields().render() }}
                            <input type="hidden"
                                   id="hid"
                                   name="hid"
                                   value="{{ post.activity_id }}" />
                            <div class="commentContentInput">
                                <textarea id="inputComment"
                                          name="inputComment"
                                          class="commentInput"></textarea>
                                <input id="commentField2"
                                       name="commentField2"
                                       class="comment-form-input-check"
                                       type="text"
                                       value="">
                            </div>
                            <input id="commentSubmitBtn"
                                   name="commentSubmitBtn"
                                   value="Post"
                                   type="submit"
                                   class="btn submitBtn bottomRight">
                        </form>

                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix commentsSpace"></div>
            {% endif %}
        {% endif %}
    </div>
</div>
    {% endif %}
{% endif %}
