<h1 style="font-weight: 300;
           text-align: center;
           border-bottom: solid 2px #efefef;
           width:260px;
           font-size:24px;
           margin-left:auto;
           margin-right:auto;">
    {{ title }}
</h1>

<h2 id="creatorTitlePreview"
    style="text-align:center;
           margin-bottom:0;
           margin-top:10px;
           font-size:30px;
           line-height:normal;
           font-family: 'LeagueGothicRegular',
                        'Impact',
                        Charcoal,
                        Arial Black,
                        Gadget,
                        Sans serif;
           text-transform:uppercase;">
    <span id="prName">
        {{ campaign_name }}
    </span>
    is creating
    <span id="prCreate"
          class="headorange">
        {{ creation_name }}
    </span>
</h2>

<p id="prLine"
   style="text-align:center;
          font-size:16px;">
    {{ one_liner }}
</p>

<div style="width:280px;
            border:solid 10px #F4F4F4;
            margin-left:auto;
            margin-right:auto;">
    <img id="prImg"
         src="{{ image_url }}"
         style="width:280px;"/>
</div>

<h2 style="text-align:center;
               margin-bottom:0;
               margin-top:10px;
               font-size:24px;
               line-height:normal;
               font-family: 'LeagueGothicRegular',
                            'Impact',
                            Charcoal,
                            Arial Black,
                            Gadget,
                            Sans serif;
               font-weight:300;">
    Receiving funds per
    <span id="prCreateSingle"
          class="headorange"
          style="text-transform:lowercase;">
        {{ pay_per_name }}
    </span>
</h2>
