{{ view.Alert().render() }}
<script type="text/javascript" src="https://js.stripe.com/v1/"></script>
<script type="text/javascript">
    Stripe.setPublishableKey('{{ STRIPE_KEY_PUBLIC }}');
</script>
<script type="text/javascript" src="/scripts/static/fpTemplate/bootstrap-alerts.js"></script>
<link rel="stylesheet" href="/css/multistep.css" type="text/css"/>

<div id="mainmiddleSection" class="patreon-page-content">

<!--Main Middle Panel-->
<div id="mainmiddlePan">
<div class="center fixed short">

<div id="mainbg" class="mainbg">

<div id="spotName" style="margin-bottom:28px; margin-top:10px; text-align:center;">
    <h2 style="font-size:32px;">Be a <span class="headorange">Patron</span> for {{ creator.full_name }}.</h2>
</div>
<div class="clearfix"></div>

{% if errors %}
<div id="alert-error" style="{{ display_errors }}" class="alert-message block-message error fade in alert-signup"
    data-alert="alert">
    <a class="close" href="#">&times;</a>

    <p class="clean">{{ errors }}</p>
</div>
{% endif %}

<div style="float:left;">

    <form id="formCreator" action="/processPatron" method="post">
        {{ view.CSRFFields().render() }}
        <input type="hidden" name="edit" value="{{ edit }}"/>
        <input type="hidden" name="cid" value="{{ creator_id }}"/>
        <input type="hidden" name="amt" value="{{ amount }}"/>
        <input type="hidden" name="rid" value="{{ reward_id }}"/>

        <div class="inputBg">
            <div class="askText">Patron Confirmation</div>
            <span class="leftHead">Pledge Amount</span><span style="margin-bottom:8px;" class="rightHead">$<span
                    id="pledgeAmt">{{ format_money(amount, 2) }}</span><span
                    style="font-size:16px;font-weight:normal;"> per <span
                        class="headorange">{{ campaign.pay_per_name }}</span></span><span class="editSmall"><a
                        href="/bePatron?u={{ creator.user_id }}&rid={{ reward_id }}&patAmt={{ amount }}{{ ternary(edit, '&edit=1') | safe }}">Edit</a></span></span>

            {% if not campaign.is_monthly %}
                <span class="leftHead" style="color:#6d8ab6;margin-top:3px;">Cap Your Pledge Monthly (Optional)</span>
                <span class="rightHead"><div id="rightMax"><span class="dollarSign"
                            style="margin-top:12px;margin-left:6px;font-size:22px;">$</span><input
                            style="margin-bottom:0;width:240px;width: 120px;padding: 9px 10px 10px 22px;"
                            class="inputText" type="text" id="maxPay" name="maxPay"
                            value="{% if user_pledge and user_pledge.MaxAmount %}{{ format_money(user_pledge.MaxAmount / 100.0, 2) }}{% endif %}"/><i
                            class="icon-question-sign" style="position:absolute; margin-left:6px;margin-top:16px;"
                            original-title="Optionally set a max amount capping your pledge per month to {{ creator.full_name }}."></i>
                    </div></span>
            {% endif %}

            <div style="height:38px;">
                <div
                    style="border-top:1px solid #CFCFCF; border-bottom:1px solid #fff; width:100%; top:18px; position:relative;"></div>
            </div>

            {% if reward_id or reward_id == 0 %}

                {% if select_reward %}

                    <div class="patreon-legacy-element-adjustments">
                        <span class="leftHead">
                            Selected Reward
                        </span>
                        <span class="rightHead">
                            ${{ format_money(select_reward.amount / 100) }} or more
                            <div class="rightDetails rewardTail">
                                {{ select_reward.description | clean | safe }}
                            </div>
                        </span>
                    </div>

                    {% if select_reward.Shipping %}

                        <div class="inputTitle" style="margin-top:5px">Shipping Address</div>
                        <div class="nsRight">

                        <select class="cardInput" id="sCountry" name="sCountry">

                            {% for country_key in sort_united_states_first(sort_dict(all_countries)) %}
                                <option {{ ternary(country_key == s_country, 'selected') }} value="{{ country_key }}">{{ all_countries[country_key] }}</option>
                            {% endfor %}

                        </select>
                            <input class="inputText noSubmit cardInput" type="text" id="sStreet" name="sStreet" placeholder="Street Address"   value="{{ s_street }}" />
                            <input class="inputText noSubmit cardInput" type="text" id="sStreet2" name="sStreet2" placeholder="Street Address Line 2" value="{{ s_street2 }}" />
                            <input class="inputText noSubmit cardInput" type="text" id="sCity" name="sCity" placeholder="City" value="{{ s_city }}" />
                            <input class="inputText noSubmit cardInput nState" style="width:60px;" type="text" id="sState" name="sState" value="{{ s_state }}" />
                            <input class="inputText noSubmit cardInput" style="width:140px;" type="text" id="sZip" name="sZip" placeholder="Postal Code" value="{{ s_zip }}" />
                            </div>
                            <div class="clearfix"></div>

                    {% endif %}

                {% else %}

                    <div class="width:508px;"><span class="leftHead">Selected Reward</span><span class="rightHead">No Reward<div class="rightDetails">No thanks, I just want to support this artist.</div></span></div>

                {% endif %}

            {% endif %}

            <div style="height:38px;">
                <div
                    style="border-top:1px solid #CFCFCF; border-bottom:1px solid #fff; width:100%; top:18px; position:relative;"></div>
            </div>

            <div style="margin-bottom:20px;"><strong>Your card will not be charged at this time.</strong> If the creator
                initiates a charge, you will be charged at the beginning of the next month. You can check the amount,
                edit, and/or cancel your patronage at any time. <a target="_blank" href="http://support.patreon.com">See payments
                    FAQ</a></div>

            {% if cards %}

                <div class="inputTitle" style="margin-top:5px;">Payment</div>
                <div class="nsRight">
                    <select class="cardInput" id="cExisting" name="cExisting">
                        {% for card, card_info in cards.items() %}

                            {{ view.CardOption(card_info, user_pledge).render() }}

                        {% endfor %}
                    </select>
                    <a href="javascript:void(0)" style="margin-left:4px;font-weight:bold;font-size:12px;" id="customButton">New
                        Card</a>
                        {% if not campaign.is_nsfw %}
                            or <a style="font-weight:bold;font-size:12px;"
                            href="#"
                            onclick='$("#formCreator").attr("action","/paypalStart");$("#formCreator").submit();return false;'>PayPal</a>
                        {% endif %}
                </div>
                <div style="text-align:center;">You can manage and delete all payment options from <a href="/paymentSettings"
                        target="_blank">Payment Settings</a></div>
                <div class="clearfix" style="margin-bottom:14px;"></div>

                <div class="{{ ternary(not c_name, 'hiddenToggle') }} moreToggle">

            {% endif %}

            <div class="hiddenDisplay">
                <div class="inputTitle">Card Info<img style="float: right;top: 26px;position: relative;"
                        src="/images/card_types.png"></div>
                <div class="nsRight">
                    <input class="inputText noSubmit cardInput" type="text" id="cName" name="cName"
                        placeholder="Cardholder Name" value="{{ c_name }}"/>
                    <input class="inputText noSubmit cardInput" style="width:210px;" type="text" id="cNum"
                        placeholder="Card Number" value=""/>
                    <input class="inputText noSubmit cardInput" style="width:80px;" type="text" id="cCode"
                        placeholder="Card Code" value=""/>
                    <i class="icon-question-sign"
                        original-title="The 3 or 4 digit value printed on the card or signature strip"></i>
                </div>

                <div class="inputTitle" style="margin-top:5px;">Expiration</div>
                <div class="nsRight">
                    <select class="cardInput" id="cc_month" name="cc[month]">
                        <option value="1">1 - January</option>
                        <option value="2">2 - February</option>
                        <option value="3">3 - March</option>
                        <option value="4">4 - April</option>
                        <option value="5">5 - May</option>
                        <option value="6">6 - June</option>
                        <option value="7">7 - July</option>
                        <option value="8">8 - August</option>
                        <option value="9">9 - September</option>
                        <option value="10">10 - October</option>
                        <option value="11">11 - November</option>
                        <option value="12">12 - December</option>
                    </select>

                    <select class="cardInput" id="cc_year" name="cc[year]">
                    {% for year in range(current_year, current_year + 10) %}
                        <option value="{{ year }}">{{ year }}</option>
                    {% endfor %}
                    </select>
                </div>

                <div class="inputTitle" style="margin-top:5px;">Billing Info</div>
                <div class="nsRight">
                    <select class="cardInput" id="cCountry" name="cCountry">
                        {% for country_key, country_value in all_countries.items() %}
                            <option {{ ternary(country_key == s_country, 'selected') }} value="{{ country_key }}">{{ country_value }}</option>
                        {% endfor %}
                    </select>
                    <input class="inputText noSubmit cardInput" type="text" id="cStreet" name="cStreet"
                        placeholder="Street Address" value="{{ c_street }}"/>
                    <input class="inputText noSubmit cardInput" type="text" id="cStreet2" name="cStreet2"
                        placeholder="Street Address Line 2" value="{{ c_street2 }}"/>
                    <input class="inputText noSubmit cardInput" type="text" id="cCity" name="cCity"
                        placeholder="City" value="{{ c_city }}"/>
                    <input class="inputText noSubmit cardInput nState" style="width:60px;" type="text" id="cState"
                        name="cState" value="{{ c_state }}"/>
                    <input class="inputText noSubmit cardInput" style="width:140px;" type="text" id="cZip"
                        name="cZip" placeholder="Postal Code" value="{{ c_zip }}"/>
                </div>
            </div>

            <!-- Close HIDDEN DISPLAY -->
            {% if cards %}
                </div>
            {% endif %}

            </div>
            <div class="clearfix"></div>

            <div class="patreon-legacy-block
                        patreon-placard
                        patreon-fonts-override"
                 id="patreon-patron-payment-adjustment">
                <p class="patreon-text">
                    Default Text
                </p>
            </div>

            <div id="inputButtons" class="create">
                {% if edit %}
                    <input id="deletePledge" type="button" class="btn danger" value="Delete Pledge">
                    <input type="button" style="padding: 14px;font-size: 16px;" class="btn default" value="Cancel"
                        onclick="window.top.location.href = '/user'; return false;">
                    <input id="nextSave" style="padding: 14px;font-size: 16px;" type="submit" class="btn primary"
                        value="Save Changes">
                {% elif cards %}
                    <input id="nextSave" style="padding: 14px;font-size: 16px;" type="submit" class="btn primary"
                        value="Confirm and Pledge">
                {% else %}
                    <button id="customButton" class="btn primary" style="padding: 14px;font-size: 16px;">Confirm and
                        Enter Payment Info
                    </button>
                    {% if not campaign.is_nsfw %}
                        <div style="text-align:right;margin-top:8px;font-size:18px;"><a href="#"
                                onclick='$("#formCreator").attr("action","/paypalStart");$("#formCreator").submit();return false;'>or
                                Pledge with PayPal</a></div>
                    {% endif %}

                {% endif %}
            </div>
    </form>

</div>
<!-- float left close -->
<div style="float:right; width:400px;">
    {{ view.BePatronPreview(campaign, "Who You'll Support").render() }}
    {{ view.BePatronHelp(campaign).render() }}
</div>

</div>
<!--mainbg Close-->
<div class="clearfix" style="margin-bottom:10px;"></div>

</div>
</div>
<!--Main Middle Panel Close-->
</div>

<div class="fancyboxHidden">
</div> <!-- END FancyboxHidden-->
<script src="https://checkout.stripe.com/checkout.js"></script>
<script>
    var stripeExpress = false;
    var handler = StripeCheckout.configure({
        locale: 'auto',
        key: '{{ STRIPE_KEY_PUBLIC }}',
        image: '/images/logo_emblem.png',
        token: function (token, args) {
            stripeExpress = true;
            // Use the token to create the charge with a server-side script.
            // You can access the token ID with `token.id`
            var $form = $('#formCreator');
            // token contains id, last4, and card type
            var tokenString = token.id;
            // Insert the token into the form so it gets submitted to the server
            $form.append($('<input type="hidden" name="stripeToken" />').val(tokenString));
            if (token.card) {
                $form.append($('<input type="hidden" name="last4" />').val(token.card['last4']));
                $form.append($('<input type="hidden" name="cType" />').val(token.card['type']));
                $('#cc_month').val(token.card['exp_month']);
                $('#cc_year').val(token.card['exp_year']);
            }

            // and submit
            $form.submit();
        }
    });

    document.getElementById('customButton').addEventListener('click', function (e) {
        // Open Checkout with further options
        handler.open({
            name: 'Patreon',
            description: 'Pledge ${{ format_money(amount, 2) }} per {{ (campaign.pay_per_name or '') | tojson }}',
            amount: {{ get_float(amount) * 100 }},
            email: '{{ current_user.Email | tojson }}',
            panelLabel: 'Pledge',
            billingAddress: true // Deprecated, watch out.
        });
        e.preventDefault();
    });
</script>
<script type="text/javascript">
var maxOk = 0;
verifyBig = 0;
function clearCard() {
    $('#cName').val('');
    $('#cNum').val('');
    $('#cCode').val('');
    $('#cStreet').val('');
    $('#cStreet2').val('');
    $('#cCity').val('');
    $('#cState').val('');
    $('#cZip').val('');
    $('#formCreator .moreToggle').toggle();
}
function stripeResponseHandler(status, response) {
    if (response.error) {
        // Show the errors on the form
        $('#alert-error .clean:first').text(response.error.message);
        $('#alert-error').addClass('in').show();
        $("html, body").stop().animate({ scrollTop: 0 }, "fast");
        $('#formCreator').find('.btn.primary:first').removeAttr('disabled').val('Save Changes');
    } else {
        var $form = $('#formCreator');
        // token contains id, last4, and card type
        var token = response.id;
        // Insert the token into the form so it gets submitted to the server
        $form.append($('<input type="hidden" name="stripeToken" />').val(token));
        $form.append($('<input type="hidden" name="last4" />').val(response.card['last4']));
        $form.append($('<input type="hidden" name="cType" />').val(response.card['type']));
        // and submit
        $form.get(0).submit();
    }
}
$(document).ready(function () {
    $('#cName').watermark('Cardholder Name', {useNative: false});
    $('#cNum').watermark('Card Number', {useNative: false});
    $('#cCode').watermark('Card Code', {useNative: false});
    $('#cStreet,#sStreet').watermark('Street Address', {useNative: false});
    $('#cStreet2,#sStreet2').watermark('Street Address Line 2', {useNative: false});
    $('#cCity,#sCity').watermark('City', {useNative: false});
    $('#cZip,#sZip').watermark('Postal Code', {useNative: false});
    if ($('#cCountry').val() == 'US')
        $('#cCountry').nextAll('.nState').first().watermark('State', {useNative: false}).show();
    else if ($('#cCountry').val() == 'CA')
        $('#cCountry').nextAll('.nState').first().watermark('Province', {useNative: false}).show();
    else
        $('#cCountry').nextAll('.nState').first().hide();
    if (!$('#sCountry').val() || $('#sCountry').val() == 'US')
        $('#sCountry').nextAll('.nState').first().watermark('State', {useNative: false}).show();
    else if ($('#sCountry').val() == 'CA')
        $('#sCountry').nextAll('.nState').first().watermark('Province', {useNative: false}).show();
    else
        $('#sCountry').nextAll('.nState').first().hide();


    $('#maxPay').watermark('Max Amount', {useNative: false});
    $(".icon-question-sign").tipsy({fade: true, gravity: 's'});

    $(".checkButton").change(function (e) {
        $('.checkButton').not(this).removeClass('checked');
        $(this).addClass('checked');
    });

    $(".noSubmit").bind('keydown keypress keyup', function (e) {
        if (e.which == 13)
            e.preventDefault();
    });

    $("#cCountry,#sCountry").change(function () {
        if ($(this).val() == 'US')
            $(this).nextAll('.nState').first().watermark('State', {useNative: false}).show();
        else if ($(this).val() == 'CA')
            $(this).nextAll('.nState').first().watermark('Province', {useNative: false}).show();
        else
            $(this).nextAll('.nState').first().hide();
    });

    $('#deletePledge').click(function (e) {
        e.preventDefault();
        apprise('<strong>Are you sure you want to delete this pledge?</strong> Please note, you may still have <a href="/pending">pending pledges</a> that will process at the beginning of next month even after deleting this pledge. If desired, you can delete those from your <a href="/pending">pending pledges</a>.', {'verify': true}, function (r) {
            if (r) {
                window.top.location.href = '/processDeletePledge?u={{ session.user_id }}&cid={{ creator_id }}';
            }
            else {
                // user clicked 'No' so we do nothing
            }
        });
        return false;
    });

    $('#formCreator').submit(function (event) {
        $('#patreon-patron-payment-adjustment').removeClass('active');

        // Disable the submit button to prevent repeated clicks
        $('.btn.primary').attr('disabled', 'disabled');
        $(this).find('.btn.primary:first').val('Please wait...');
        var message = "";

        var pledgeAmt = Math.round(parseFloat($('#pledgeAmt').text()) * 100);
        if ($('#maxPay').val()) {

            if (Number($('#maxPay').val()) === 0) {
                message = "Sorry! Your monthly max must be equal to your pledge. We've adjusted your monthly max to be equal to your pledge.";

                $('#maxPay').val(Math.floor(pledgeAmt / 100));

                $('#patreon-patron-payment-adjustment').find('.patreon-text').text(message);
                $('#patreon-patron-payment-adjustment').addClass('active');

                $("html, body").stop().animate({ scrollTop: 0 }, "fast");
                $(this).find('.btn.primary:first').removeAttr('disabled').val('Save Changes');
                return false;
            }

            var maxPay = Math.round(parseFloat($('#maxPay').val()) * 100);
            if (!isNaN(pledgeAmt) && !isNaN(maxPay)) {
                if (maxPay % pledgeAmt != 0) {
                    if (maxPay < pledgeAmt) {
                        message = "Sorry! Your monthly max must be equal to your pledge. We've adjusted your monthly max to be equal to your pledge.";

                        $('#maxPay').val(Math.floor(pledgeAmt / 100));
                    } else {
                        message = "Sorry! The monthly max must be a multiple of your pledge. We've adjusted your monthly max to the nearest multiple.";

                        var nearestMultiple = Math.floor((Math.floor(maxPay / pledgeAmt) * pledgeAmt) / 100);

                        $('#maxPay').val(nearestMultiple);
                    }

                    $('#patreon-patron-payment-adjustment').find('.patreon-text').text(message);
                    $('#patreon-patron-payment-adjustment').addClass('active');

                    $("html, body").stop().animate({ scrollTop: 0 }, "fast");
                    $(this).find('.btn.primary:first').removeAttr('disabled').val('Save Changes');
                    return false;

                }
                else if (maxPay < {{ sum_rewards }} && maxOk == 0) {
                    apprise('You have pending pledged rewards for this month that exceed your Max Amount. If you continue we will <strong>delete all pending rewards</strong> that exceed the Max Amount. Click cancel if this is not what you want.', {'confirm': true}, function (r) {
                        if (r) {
                            // user clicked 'Yes'
                            maxOk = maxPay;
                            $('#formCreator').submit();
                        }
                        else {
                            // user clicked 'No' so we do nothing
                        }
                    });
                    $(this).find('.btn.primary:first').removeAttr('disabled').val('Save Changes');
                    return false;
                }
            }
        }

        {% if select_reward.Shipping %}
            if (!$('#sStreet').val()) {
                message = "Sorry! please provide a shipping address for this reward!";

                $('#patreon-patron-payment-adjustment').find('.patreon-text').text(message);
                $('#patreon-patron-payment-adjustment').addClass('active');

                $("html, body").stop().animate({ scrollTop: 0 }, "fast");
                $(this).find('.btn.primary:first').removeAttr('disabled').val('Save Changes');
                return false;
            }
        {% endif %}

        if (pledgeAmt >= 10000 && $('#cExisting option:selected').attr('verified') != 1 && verifyBig == 0) {
            apprise('<div style="text-align:center;"><strong>Wow!</strong> We\'re stoked that you want to pledge this much!<br>For larger pledges we process the funds immediately. Please click "Ok" to process <strong>$' + $('#pledgeAmt').text() + '</strong>, thank you!</div>', {'confirm': true}, function (r) {
                if (r) {
                    // user clicked 'Yes'
                    verifyBig = 1;
                    $('#formCreator').submit();
                }
                else {
                    // user clicked 'No' so we do nothing
                }
            });
            $(this).find('.btn.primary:first').removeAttr('disabled').val('Save Changes');
            return false;
        }

        if (($('#cExisting').length > 0 && $('#cNum').val() == '') || $("#formCreator").attr("action") == "/paypalStart" || stripeExpress)
            return true;

        Stripe.createToken({
            name: $('#cName').val(),
            address_country: $('#cCountry').val(),
            address_line1: $('#cStreet').val(),
            address_line2: $('#cStreet2').val(),
            address_city: $('#cCity').val(),
            address_state: $('#cState').val(),
            address_zip: $('#cZip').val(),
            number: $('#cNum').val(),
            cvc: $('#cCode').val(),
            exp_month: $('#cc_month').val(),
            exp_year: $('#cc_year').val()
        }, stripeResponseHandler);

        // Prevent the form from submitting with the default action
        return false;
    });

    var logEditedCapAmount = _.debounce(function() {
        Analytics.logPledgeFlow({
            title: Analytics.PLEDGE_EVENTS.EDITED_CAP_AMOUNT,
            info: {
                is_edit: '{{ 1 if edit else 0 }}',
                is_already_patron: '{{ 1 if user_pledge else 0 }}',
                creator_id: '{{ creator.user_id }}',
                amount: Math.round(parseFloat(document.getElementById('maxPay')) * 100)
            }
        });
    }, 750);

    $('#maxPay').change(logEditedCapAmount);

    $('#formCreator').submit(function() {
        Analytics.logPledgeFlow({
            title: Analytics.PLEDGE_EVENTS.CONFIRMED,
            info: {
                is_edit: '{{ 1 if edit else 0 }}',
                is_already_patron: '{{ 1 if user_pledge else 0 }}',
                creator_id: '{{ creator.user_id }}',
                amount: {{ amount }},
                reward: {{ select_reward.Amount if select_reward else 'null' }}
            }
        })
    });
});
</script>
