{% if user %}
    <div class="favesShadow squareUser {{ extra_class }}">
        <div class="favesWhite squareUser">
            <a class="favesHover showPopup"
               title="{{ user.full_name }}"
               target="{{ target }}"
               href="{{ user.canonical_url() }}"></a>
            <div class="caption squareUser">
                 <img src="{{ user.thumb_url }}"
                      width="50px"
                      height="50px"/>
            </div>
        </div>
    </div>
{% endif %}
