body {
    background-color: #E8EBEB;
    margin: 0;
    padding: 0;
}

.patreon-button {
    display: inline-block;
    white-space: nowrap;
    text-align: center;
    cursor: pointer;
    background: #E6461A;
    color: #FFFFFF;
    border: 0;
    font-size: 15px;
    padding: 0 20px 0 20px;
    line-height: 50px;
    height: 50px;
    border-radius: 3px;
    text-decoration: none;
    width: 150px;
    font-weight: 600;
}

.outer {
    background-color: #232D32;
    max-width: 960px;
    margin: 0 auto;
    font-family: 'Open Sans', helvetica, sans-serif;
    font-weight: 400;
}

.header {
    display: block;
    margin: 0 auto;
    padding: 60px 0;
    text-align: center;
}

.center {
    text-align: center;
}

.header a {
    text-decoration: none;
}

.logo {
    display: inline-block;
    height: 40px;
}

.inner {
    background-color: #ffffff;
    color: #232D32;
    border-radius: 3px;
    max-width: 480px;
    padding: 20px 50px;
    margin: 0 auto;
}

.inner .divider {
  width: 100%;
  display: block;
  border: 1px #eee solid;
  margin: 30px auto 30px auto;
}

h2 {
    color: #a7b3b8;
    font-size: 22px;
    line-height: 22px;
    font-weight: 400;
    margin: 30px 0;
}

.inner-text-content {
    display: block;
    font-size: 16px;
    line-height: 24px;
    margin: 30px 0;
}

.inner-text-content a {
    text-decoration: none;
    color: #1A9BDB;
    font-weight: 400
}

.action {
    margin: 30px 0;
    display: block;
    width: 100%;
    text-align: center;
}

.footer {
    text-align: center;
    display: block;
    margin: 0 auto;
    padding: 40px 0;
    color: #586A72;
    font-size: 13px;
}

.footer a {
    text-decoration: none;
    color: #1A9BDB;
    font-weight: 400
}

.footer .divider {
    width: 80px;
    display: block;
    border: 1px #586A72 solid;
    margin: 30px auto 30px auto;
}

.social a {
    margin: 5px;
}

.social span {
    margin: 5px;
}

.address {
    margin: 10px 0;
}

.feedback {
    display: block;
    width: 100%;
    text-align: center;
    line-height: 18px;
}

.circle {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, .3);
    width: 50px;
    height: 50px
}

.image, .images {
  text-align: center;
}

.image img {
  max-width: 460px;
  width: 100%;
}

.images .image {
  display: inline-block;
  max-width: 230px;
}

.profile-image {
  float: left;
  margin: 15px 20px 0 0;
  display: inline-block;
}

h2 a {
  font-weight: 600;
  text-decoration: none;
  color: #000000;
}

.action p {
  margin-top: 40px;
}

.signature div {
  display: inline-block;
}

.signature .signature-face {
  width: 80px;
}

.signature .signature-text p {
  line-height: 10px;
}

.signature .signature-text .signature-name {
  font-weight: 400;
  font-size: 20px;
}

.patron-header {
  text-align: center;
  margin-top: 20px;
}

.patron-header div {
  display: inline-block;
}

.ribbon img {
  margin-bottom: 21px;
  margin-right: 20px;
}
