{% if level <= 9  %}
    <div class="commentBox
                commentHover
                {{ thread }}
                {% if commenter.UID == current_user_id %}
                    isOwner
                {% endif %}
                {% if comments_rendered|length < comment_hide_threshold %}
                    hiddenDisplay
                {% endif %}"
         style="margin-left:{{ indent_px }}px;">
        {% if comment.Comment != None %}
            <a class="closeX posAbsolute hiddenClose"
               cid="{{ comment.CID }}"
               href="#"></a>
        {% endif %}
        <div class="boxUserImage small">
            <a href="{{ commenter.canonical_url() }}">
                <img src="{{ commenter.thumb_url }}" />
            </a>
        </div>
        <div class="commentContent">
            <p class="commenter urlBreak"
               style="white-space: normal;">
                <a href="{{ commenter.canonical_url() }}">
                    {{ view.Ribbon(commenter, creator).render() }}
                    {{ unescape(commenter.full_name) }}
                </a>
                {% if comment.Comment != None %}
                    {{ unescape(comment.Comment) }}
                {% else %}
                    <span class="deleted">comment deleted</span>
                {% endif %}
            </p>
            <p class="commentDate">
                <span class="dateRun">{{ comment.php_date }}</span>
                {% if level < 9 %}
                    ·
                    <a class="reply"
                       cid="{{ comment.CID }}"
                       href="#">
                        Reply
                    </a>
                {% endif %}
            </p>
        </div>
        <div class="clearfix"></div>
    </div>
{% endif %}
