<label id="r{{ reward.reward_id }}"
       class="reqReward
              checkButton
              radio
              {{ is_checked }}
              {{ is_disabled }}"
       available="{{ is_available }}"
       amount="{{ reward.amount }}"
       onclick="Analytics.logPledgeFlow({
           title: Analytics.PLEDGE_EVENTS.SELECTED_REWARD_TIER,
           info: {
               creator_id: '{{ reward.creator_id }}',
               reward_id: '{{ reward.reward_id }}',
               reward: {{ reward.amount }}
           }
       });">
    <input type="radio"
        value="{{ reward.reward_id }}"
        name="selectReward"
        {{ is_checked }}
        {{ is_disabled }}
            ><span class="rewardHead">{{ dollar_string }}+</span
        ><span class="rewardTail">
        {{ reward.description | clean | safe }}
        {% if limit %}
            {% if is_sold_out %}
                <div class="checkLimited headorange">
                    All {{ limit }} sold out!
                </div>
            {% elif is_reserved %}
                <div class="checkLimited">
                    Your spot reserved even though all {{ limit }} sold out.
                </div>
            {% else %}
                <div class="checkLimited">
                    Limited {{ remaining }} remaining out of {{ limit }}.
                </div>
            {% endif %}
        {% endif %}
    </span>
</label>
