 <a href="{{SENDER_URL}}"><img src="{{SENDER_IMG}}"/></a>
 <h2>
      <a href="{{SENDER_URL}}">{{SENDER_NAME}}</a>
    {{#if IS_REPLY}}
      {{#if OWN_FEED}}
        replied to your comment. 1
      {{else}}
        replied to your comment on {{CREATOR_NAME}}'s page. 2
      {{/if}}
    {{else}}
      {{#if OWN_FEED}}
        commented on your post. 3
      {{else}}
        commented on your post on {{CREATOR_NAME}}'s page. 4
      {{/if}}
    {{/if}}
 </h2>
 <div class="inner-text-content"><p>{{COMMENT_TEXT}}</p></div>
 <div class="action">
   <a href="{{COMMENT_URL}}" class="patreon-button">
     View Comment
   </a>
 </div>