<style type="text/css">

    body {
        background-color: #252525;
        font-family: "Lato", sans-serif;
    }

    .page-title {
        color: #eeeeee;
        text-align: center;
    }

    .stat-content-wrapper {
        max-width: 1000px;
        padding: 0 10px;
    }

    .patreon-placard--status {
        background-color: #eeeeee;
        border-bottom: 3px solid #ccc;
        padding: 15px;
        width: 100%;
        margin-bottom: 10px;
        box-sizing: border-box;
    }

    .patreon-placard--status h2,
    .patreon-placard--status h3 {
        margin-top: 0;
        padding-bottom: 10px;
        border-bottom: 1px solid #ccc;
        font-size: 24px;
        font-weight: 200;
    }

    .stat-row-wrapper {
        display: flex;
        flex-direction: column;
    }

    .patreon-placard--big-text {
        font-size: 24px;
        margin-bottom: 15px;
    }

    .patreon-placard--small-text {
        color: #666;
        line-height: 1.4;
    }

    @media (min-width: 600px) {
        .stat-content-wrapper {
            margin: 30px auto;
        }

        .stat-row-wrapper {
            flex-direction: row;
            justify-content: space-between;
        }

        .patreon-placard--status {
            margin: 10px;
        }

        .patreon-placard--status:first-child {
            margin-left: 0;
        }

        .patreon-placard--status:last-child {
            margin-right: 0;
        }
    }
</style>

<script src="https://cdn.firebase.com/js/client/2.2.9/firebase.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>

<h1 class="page-title">{{ title }}</h1>
<div id="dashboard-container"></div>

<script type="text/jsx">

var stage = {{ stage | tojson }};
var authToken = {{ auth_token | tojson }};
var cardRows = {{ card_rows | tojson }};

// TODO: Put this into a utility module maybe?
var numberedObjectToArray = function(o) {
    return (
        _.pairs(o)
        .sort()
        .map(function(a){ return a[1]; })
    );
}

// TODO: Definitely move this to patreon-react-features
var Placard = React.createClass({

    getInitialState: function() {
        return {
            title: '-',
            bigText: '-',
            smallTextRows: []
        };
    },

    componentDidMount: function() {
        this.firebaseRef = firebaseRoot.child('dashCards').child(this.props.prefix);
        this.firebaseRef.on('value', (function(store) {
            var data = store.val();
            if (data && data.smallTextRows) {
                data.smallTextRows = numberedObjectToArray(data.smallTextRows);
            }
            if (data) {
                this.setState(data);
            }
        }).bind(this));
    },

    _renderSmallText: function(smallText) {
        return (
            <div className="patreon-placard--small-text">{smallText}</div>
        );
    },

    render: function() {
        var renderedRows = _.values(this.state.smallTextRows).map(this._renderSmallText);
        return (
            <div className="patreon-placard patreon-placard--status patreon-placard--status--pending">
                <h3>{this.state.title}</h3>
                <div className="patreon-placard--big-text">{this.state.bigText}</div>
                {renderedRows}
            </div>
        );
    }
});

var DashboardRow = React.createClass({

    _renderCard: function(card) {
        return (
            <Placard key={card.prefix} prefix={card.prefix} />
        );
    },

    render: function() {
        return (
            <div className="stat-row-wrapper">
                {this.props.cards.map(this._renderCard)}
            </div>
        );
    }
});

var Dashboard = React.createClass({

    _renderRow: function(cardRow, index) {
        return (
            <DashboardRow key={"row" + index} cards={cardRow} />
        );
    },

    render: function() {
        return (
            <div className="stat-content-wrapper">
                {this.props.rows.map(this._renderRow)}
            </div>
        );
    }
});

// TODO: Put this firebase auth stuff into its own module and make into promise?
var firebaseRoot = new Firebase("https://patreon-internal.firebaseio.com").child(stage);
firebaseRoot.authWithCustomToken(authToken, function(error, authData) {

    if (error) {
        console.error("Error connecting to Firebase:", error);
        return;
    }
    React.render(<Dashboard rows={cardRows} />, document.getElementById('dashboard-container'));

});
</script>

