<link href="//{{ MAIN_SERVER }}/css/alert.css" rel="stylesheet" type="text/css" />
{% if show_tax_alert or show_failed_creators %}
    <div class="all_alerts" style="">
    {% if show_tax_alert %}
        <div class="alert_container  green_border">
            <div class="alert_body">
                <i class="fa fa-warning"></i>
                Now that you've earned over $600 on Patreon this year,
                <br>
                the US Government requires that we
                <a class="heed_click"
                   href="/includes/alerts/HeedAlert?variant=need_tax_info&heed=5&redirect=payments_paid">
                    collect tax forms
                </a>
                to fully pay you.
            </div>
        </div>
    {% endif %}
    {% if show_failed_creators %}
        <div class="alert_container  red_border">
            <div class="alert_header">
                <div class="creator_avatars">
                    {% for creator in failed_creators %}
                        <a href="{{ creator.canonical_url() }}">
                            <img class="creator_avatar circular_avatar"
                                 src="{{ creator.campaigns[0].image_small_url }}">
                        </a>
                    {% endfor %}
                </div>
            </div>
            <div class="alert_body">
                <i class="fa fa-warning"></i>
                {{ pledge_list }} didn't go through!
                <br>
                Please
                <a class="heed_click"
                    href="/includes/alerts/HeedAlert?variant=&heed=1&redirect=payments_pay">
                    update your payment information
                </a>
                so your creators are supported.
            </div>
        </div>
    {% endif %}
    </div>
{% endif %}
<script type="text/javascript">
    $('i[dismiss_id]').click(function () {
        $.post("//{{ MAIN_SERVER }}/includes/alerts/DismissAlert.php", {
            "dismiss": $(this).attr('dismiss_id'),
            "variant": $(this).attr('variant')
        });
        $(this).closest('.alert_container').slideUp(100);
    })
</script>
