<div id="miniNav"
     style="background:#f6f6f6;">
    <div style="width:1020px;
                margin-left:auto;
                margin-right:auto;
                padding-top:18px;">
        <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fpatreon&amp;send=false&amp;
                layout=standard&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;
                height=35&amp;appId=182159471855350"
                scrolling="no"
                frameborder="0"
                style="border:none;
                       overflow:hidden;
                       width:450px;
                       height:35px;
                       position:absolute;
                       margin-top:-6px;
                       margin-left:20px;"
                allowTransparency="true"></iframe>
        <div style="float:right;">
            <a href="/about">About</a>
            <a href="http://support.patreon.com">Contact</a>
            <a href="http://support.patreon.com">FAQ</a>
            <a href="/careers">Jobs</a>
            <a href="/press">Press</a>
            <a href="/legal">Terms</a>
        </div>
    </div>
</div>

<section class="banner {{ image }}">
    <div class="container">
        <h2>{{ title | clean | safe }}</h2>
        <p>{{ subtitle | clean | safe }}</p>
    </div>
</section>
