<div style="height:65px;">
    {{ view.DisplayUserSquare(creator_id).render() }}
    <a href="{{ creator.patreon_url() }}"
       target="_self">
        <span style="font-weight:bold;
                     top:6px;
                     position:relative;">
            {{ creator.full_name }}
        </span>
    </a>

    <div style="margin-top:4px;
                font-size:14px;">
        <strong style="color:#666;">
            {{ pledge_amount_string }}
        </strong>
        <a href="{{ edit_url }}">
            Edit Pledge
        </a>
    </div>
</div>
