<style>

body {
  font: 10px sans-serif;
}

#axis-label { text-align: center; }

#table { white-space: nowrap; }
#table tr:hover { background-color: #dedede; }
#table th { background-color: #ddd; text-align: right; padding: 2px 5px; }
#table tr.section.header { background-color: #fad4ac; }
#table td { border: 1px solid #ddd; text-align: right; padding: 2px 5px; }
#table td.key { font-weight: bold; }

#table .dollars:before { content: "$"; }
#table .percent:after { content: "%"; }
#table .cents:after { content: "cents" }

</style>

<div id="mainmiddleSection" style="padding:2em">
	<h2>Graphs</h2>
 <div>
   <div style="float: left;">
     <h4>Company KPIs</h4>
     <ul class="categoryList">
       <a href="#" class="kpi-link" id="kpi_summary"><li>KPI Summary</li></a>
     </ul>
     <h4>Graphs</h4>
     <ul class="categoryList">
       {% for graph in graphs %}
       <a href="#" class="graph-link" id="{{ graph.id }}"><li>{{ graph.label }}</li></a>
       {% endfor %}
     </ul>
     <h4>Tables</h4>
     <ul class="categoryList">
       {% for table in tables %}
       <a href="#" class="table-link" id="{{ table.id }}"><li>{{ table.label }}</li></a>
       {% endfor %}
     </ul>
   </div>
   <div style="float: left; margin-left: 10px; width: 80%; overflow: scroll;">
     <div id="graph-container" style="display: none;">
       <div id="axis-label"></div>
       <canvas id="graph" width="750" height="500" style="padding: 0 20px;">
       </canvas>
     </div>

     <div id="table-container" style="display: none;">
       <table id="table" style="padding: 0 20px; font-size: 13px;">
         <thead>
         </thead>
         <tbody>
         </tbody>
       </table>
     </div>

     <div id="kpi-container">
     </div>
   </div>
   <div class="clearfix"></div>
 </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
<script>
  $(document).ready(function() {
    var ctx = document.getElementById('graph').getContext('2d');
    var chart = null;
    var table = null;

    hideStuff = function(currentThing) {
        $('#table-container').toggle(currentThing === 'table');
        $('#graph-container').toggle(currentThing === 'graph');
        $('#kpi-container').toggle(currentThing === 'kpi');
    };

    $('.graph-link').click(function() {
      $.getJSON('/internal/dashboard/graphs/' + $(this).attr('id'), function(response) {
        if (chart !== null) {
          // Remove the existing chart.
          chart.destroy();
          $('#axis-label').text();
        }

        hideStuff('graph');

        chart = new Chart(ctx).Line({datasets: [{data: []}], labels: []}, {datasetFill: false});

        for (var i = 0; i < response.data.length; i++) {
          chart.addData([response.data[i].value], response.data[i].date);
        }

        if (response.labels.x && response.labels.y) {
          $('#axis-label').text(response.labels.x + " x " + response.labels.y);
        }
      });

      return false;
    });

    $('.table-link').click(function(e) {
      if (table !== null) {
        $('#table thead, #table tbody').contents().each(function() {
          $(this).remove();
        });
      }

      $.getJSON('/internal/dashboard/graphs/table_' + $(e.target).parents('a').attr('id'), function(response) {
        hideStuff('table');

        $('#table thead').append('<th></th>'); // Empty column header for row description.
        for (var i = 0; i < response.headers.length; i++) {
          $('#table thead').append('<th>' + response.headers[i] + '</th>');
        }

        for (var i = 0; i < response.rows.length; i++) {
          var row = response.rows[i];

          var tableRow = document.createElement('tr');

          if (row.row_class) {
            tableRow.className = row.row_class;
          }

          // Set the row name.
          var keyCell = document.createElement('td');
          keyCell.textContent = row.label;
          keyCell.className = "key";

          tableRow.appendChild(keyCell);

          for (var j = 0; j < row.data.length; j++) {
            var cell = document.createElement('td');
            var text = row.data[j];

            if (row.class) {
              cell.className = row.class;

              if (row.class === "dollars") {
                  text = parseFloat(text).toFixed(2);
              }
              else if(row.class === "percent") {
                  text = parseFloat(text).toFixed(1);
              }
            }

            if (Number.isNaN(text) || text === "NaN" || text === "-") {
              cell.textContent = "-";
            }
            else {
              cell.textContent = Number(text).toLocaleString();
            }

            tableRow.appendChild(cell);
          }

          $('#table tbody').append(tableRow);
        }

        table = $('#table');
      });

      return false;
    });

    $('.kpi-link').click(function() {
      $.getJSON('/internal/dashboard/graphs/kpi_summary', function(response) {
        hideStuff('kpi');

        $('#kpi-container').html(); // Clear old stuff.

        var kpi = [];
        for (var i = 0; i < response.data.length; i++) {
          var p = document.createElement('p');
          p.textContent = response.data[i];
          kpi.push(p)
        }

        $('#kpi-container').append(kpi);
      });

      return false;
    });
  });
</script>
