<div id="profileLeft"
     style="margin-top:8px;">

    <div id="userTag">
        <div class="inner">
            {{ view.DisplayUserSquare(current_user_id).render() }}
            <a href="/user" target="_self">
                <span style="font-weight:bold;
                             top:6px;
                             position:relative;">
                    {{ current_user.full_name }}
                </span>
            </a>

            <div style="margin-top:4px;
                        font-size:14px;">
                <a href="/settings">Edit Account</a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="inner bottom">
            {% if pledges_to_creators %}
                <div class="boxSub">
                    Currently Supporting
                    <strong style="color:#666;">
                        {{ pledge_sum_string }}
                    </strong>
                </div>

                {% for pledge in pledges_to_creators %}
                    {{
                        view.SidebarCreatorSupport(
                            current_user_id, pledge.creator_id
                        ).render()
                    }}
                {% endfor %}

                <div class="clearfix"
                     style="margin-bottom:14px;"></div>
            {% endif %}

            {% if all_past_user_ids %}
                <div class="boxSub">
                    All Supported
                    <span class="subCount"
                          style="width:122px;">
                        {{ supported_creators_count_string }}
                    </span>
                </div>
                <div id="followersDiv" class="followUsersDiv">
                    {% for creator_id in all_past_user_ids %}
                        {{ view.DisplayUserSquare(creator_id).render() }}
                    {% endfor %}
                </div>
                <div class="clearfix"></div>
            {% endif %}
            {% if following_users_ids %}
                <div class="boxSub"
                   style="margin-top:10px;">
                    Following
                    <span class="subCount"
                          style="width:152px;">
                        {{ following_users_count_string }}
                    </span>
                </div>
                <div id="followersDiv" class="followUsersDiv">
                    {% for following_user_id in following_users_ids %}
                        {{ view.DisplayUserSquare(following_user_id).render() }}
                    {% endfor %}
                </div>
                <div class="clearfix"></div>
            {% endif %}
            {% if not all_past_user_ids and not following_users_ids %}
                <div style="font-size:20px;
                            margin-top:40px;
                            margin-bottom:60px;
                            text-align:center;">
                    Currently no pledges
                </div>
            {% endif %}
        </div>
    </div>
</div>
