{{ view.Alert().render() }}
    <style type="text/css">
        .imgAbout {
            width: 500px;
            float: left;
            margin-bottom: 40px;
        }

        .creatorDiv {
            width: 210px;
            float: left;
        }

        .creatorRightDiv {
            float: right;
            width: 508px;
        }

        .searchShareArea {
            width: 320px;
        }

        .mylink {
            width: 496px;
            margin-bottom: 0;
        }

        p.dateBox {
            margin-top: 0;
            line-height: 18px;
        }

        .pledge {
            font-size: 14px;
            font-weight: bold;
        }

        .pledge.reward {
            margin-top: 8px;
        }

        .pledgeName {
            text-align: center;
            width: 210px;
            margin-top: 8px;
            font-size: 16px;
            color: #333;
        }

        .breaker {
            width: 710px;
            height: 40px;
            float: left;
        }

        .breakerLine {
            border-top: 1px solid #CFCFCF;
            border-bottom: 1px solid #fff;
            width: 600px;
            margin-left: 50px;
            top: 18px;
            position: relative;
        }

        #spotInfo.marquee {
            height: auto;
            width: 690px;
            padding: 0;
            float: none;
            z-index: 1;
            overflow: visible;
            border: 12px solid #F4F4F4;
        }

        #spotInfo.marquee .boxWrapper {
            padding: 30px;
        }

        #creatorImg {
            display: block;
            width: 690px;
            height: 388px;
        }

        #boxGrid.profile {
            margin-left: 0;
        }

        .declined {
            width: 451px;
            display: block;
            background: #fddfde;
            padding: 4px 8px;
            border: solid 2px #fbc7c6;
            margin-bottom: 4px;
        }

        .declined a {
            font-weight: bold;
        }

        .pendingBoxLeft {
            float: left;
            width: 140px;
            margin-right: 4px;
        }

        .editPledge {
            width: 100%;
            margin-top: 8px;
        }
    </style>
    <div id="mainmiddleSection"
         class="patreon-page-content">

        <!--Main Middle Panel-->
        <div id="mainmiddlePan">
            <div class="center fixed short">
                <h1 style="color: #333;font-weight: 300;font-size: 34px;text-align: center;line-height: 30px; margin-bottom:20px;">
                    View my Pledges</h1>

                <div class="emptyNotification"
                    style="margin-left:auto;margin-right:auto;width:218px;float:right;margin-top:32px;">
                    <strong>What is this page?</strong><br>

                    {% if tab_type == None %}
                    <p>
                        This page lists out all your pending pledges and rewards that you have not been charged for yet.
                    </p>
                    {% endif %}

                    {% if tab_type == 'a' %}
                    <p>
                        This page lists out all your completed pledges and the rewards that you received.
                    </p>
                    {% endif %}

                    <strong>Other questions?</strong><br>

                    <p style="margin-bottom:0;">Check out the <a target="_blank" href="http://support.patreon.com">payments
                            FAQ</a>!</p>
                </div>

                <div id="mainCategories" class="profile" style="border-bottom: 1px solid #CFCFCF;">
                    <div class="table">
                        <ul id="categoryMenu">
                            <li {% if tab_type == None %}class="active"active{% endif %}><a href="/pending">Pending Pledges</a></li>
                            <li {% if tab_type == 'a' %}class="active"{% endif %}><a href="/pending?ty=a">All Completed Pledges</a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div id="mainCategoriesBottom" class="profile"></div>

                <div id="boxGrid" class="profile clearfix">
                    {% if tab_type == 'a' %}
                        {% if reward_creators | length == 0 %}
                            <div id="spotName" style="margin-top:0; margin-bottom:10px; margin-left:auto; margin-right:auto;">
                                <div id="spotInfo" class="box marquee">
                                    <div id="creatorMarquee" class="boxWrapper medium" style="padding:0;height:388px;width:690px;">
                                        <div id="creatorImg" style="position:absolute;">
                                            <div id="nsTitle" style="margin-top:50px;">You have no completed pledges.</div>
                                            <div style="text-align:center;">
                                                <a href="/discover" style="float:none;" class="btn submit glowBtn">Browse Creators</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            {% for creator in reward_creators %}
                                {{ view.PendingReward(current_user, creator).render() }}
                            {% endfor %}
                        {% endif %}
                    {% else %}
                        {% if reward_creators | length == 0 %}
                            <div id="spotName" style="margin-top:0; margin-bottom:10px; margin-left:auto; margin-right:auto;">
                                <div id="spotInfo" class="box marquee">
                                    <div id="creatorMarquee" class="boxWrapper medium" style="padding:0;height:388px;width:690px;">
                                        <div id="creatorImg" style="position:absolute;">
                                            <div id="nsTitle" style="margin-top:50px;">You have no pending payments or pledges right now.</div>
                                            <div style="text-align:center;">
                                                <a href="/discover" style="float:none;" class="btn submit glowBtn">Browse Creators</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            {% for creator in reward_creators %}
                                {{ view.PendingReward(current_user, creator).render() }}
                            {% endfor %}
                        {% endif %}
                    {% endif %}

                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!--Main Middle Panel Close-->
    </div>

    <a id="seeMore" class="hiddenDisplay" href="#">See More<span></span></a>

    <nav id="page_nav">
        <a href="/patronNext?p=2&ty={% if tab_type %}{{ tab_type }}{% endif %}&u={{ current_user.UID }}"></a>
    </nav>

    <script type="text/javascript">
        var submitOk = false;
        var $goForm = null;
        $(document).ready(function () {
            $.fn.digits = function () {
                return this.each(function () {
                    $(this).text($(this).text().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,"));
                })
            }
            $(".showPopup").tipsy({fade: true, gravity: 's'});
            $('.dateBox').localTimeFromUTC("mmm d, yyyy 'at' h:MM tt");
        });
    </script>
    <div class="fancyboxHidden">
    </div>
