<strong class="headgreen"> +${{ format_money(amount/100.0, 2) }} </strong>
processed to your account from your patrons.
<br>
<span class="smaller">
    ${{ format_money(pledge/100, 2) }}  Processed  /
    ${{ format_money(fee/100,2) }}  CC Fees /
    ${{ format_money(patreon_fee/100, 2) }}  Patreon
</span>
