<li class="profile-image-small circle">
    <a
            class="showPopup"
            title="{{ patron.full_name }}"
            href="{{ patron.canonical_url('pat=1') }}">
        <img src="{{ patron.thumb_url }}"/>
    </a>
</li>
