<link href='//fonts.googleapis.com/css?family=Raleway:600' rel='stylesheet' type='text/css'>
<link href="/css/info.css?v={{ FILE_VERSION }}" rel="stylesheet" type="text/css"/>

<style type="text/css">
    .inputTitle {
        color: #666;
        font-size: 26px;
        line-height: 32px;
        margin-left: 8px;
    }

    .imgAbout {
        width: 736px;
        margin-bottom: 10px;
        border: solid 4px #f4f4f4;
        margin-top: 0;
    }

    #spotName h2 span {
        font-weight: bold;
        font-size: 20px;
    }

    h2 {
        line-height: 26px;
    }

    .submitForm {
        border: none;
        height: 35px;
        margin-top: 30px;
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
        background: #FA2 url(/images/button_gradient.png) repeat-x 0 0;
        padding: 4px 24px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        text-decoration: none;
        text-align: center;
        color: #333;
        text-shadow: 0 1px 0 #FE6;
        font: bold 16px Helvetica Neue, Arial, Sans-serif;
        cursor: pointer;
    }

    input.submitForm:hover {
        background-position: 0 -36px;
    }

    .btn:hover {
        color: #333;
        text-decoration: none;
        box-shadow: 0 0 5px #FFF;
        -webkit-box-shadow: 0 0 5px #FFF;
        -moz-box-shadow: 0 0 5px #FFF;
    }

    .btn:focus {
        outline: 1px dotted #666;
    }

    .btn:active {
        -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
        box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
    }

    ul.text {
        margin-top: 10px;
        margin-left: 40px;
    }

    ul.text li {
        line-height: 26px !important;
        font-size: 22px !important;
        margin-bottom: 8px !important;
    }

    #spotInfo {
        height: auto;
        width: 772px;
        padding: 0;
        float: none;
        z-index: 1;
        overflow: visible;
    }

    #spotInfo .boxWrapper {
        padding: 14px 14px 30px 14px;
    }

    #spotName p {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 20px;
        margin-top: 0;
    }

    span.boxed {
        border: solid 2px #E4E9F2;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        padding: 0 4px;
        background-color: #fff;
    }

    .btn:hover {
        text-decoration: none;
        box-shadow: 0 0 5px #FFF;
        -webkit-box-shadow: 0 0 5px #FFF;
        -moz-box-shadow: 0 0 5px #FFF;
    }

    .btn:focus {
        outline: 1px dotted #666;
    }

    .btn:active {
        -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
        box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
    }

    #spotInfo.marquee {
        height: auto;
        width: 690px;
        padding: 0;
        float: none;
        z-index: 1;
        overflow: visible;
        border: 12px solid #F4F4F4;
    }

    #spotInfo.marquee .boxWrapper {
        padding: 30px;
    }

    #creatorImg {
        display: block;
        width: 690px;
        height: 388px;
    }

    #playBtn {
        background-image: url(/images/play_btn.png);
        display: block;
        height: 388px;
        width: 690px;
        position: absolute;
    }

    #playBtn:hover {
        background-position: 0 -388px;
    }

    .box div.boxWrapper.large:after {
        bottom: 24px;
    }
</style>

<div id="mainmiddleSection"
     class="patreon-page-content">

    <!--Main Middle Panel-->
    <div id="mainmiddlePan">
        <div class="center fixed short"
             style="width:100%;padding:0;">

            <div id="mainbg" class="mainbg">

                {{ view.AboutBanner('press').render() }}

                <div id="spotName"
                    style="margin-top:0;
                           margin-bottom:20px;
                           margin-left:auto;
                           margin-right:auto;
                           width:775px;">
                    <div id="spotInfo"
                         class="box"
                         style="margin-left:-50px;
                                width:872px;">
                        <div class="boxWrapper large"
                             style="min-height:700px;">
                            <div style="width:100%;
                                        text-align:center;">
                                <a target="_blank"
                                   href="/toolbox/media"
                                   class="patreon-button patreon-button-signup">
                                    Patreon Press High-res Images and Logos
                                </a>
                            </div>
                            {%- for press in presses -%}
                                <h2 style="font-size:20px;
                                           font-weight:400;
                                           margin-top:16px;">
                                    <span>
                                        <a href="{{ press['link'] }}"
                                           target="_blank">
                                            {{ press['org'] }}
                                        </a>
                                    </span> / {{ press['title'] }}
                                    {%- if press['excerpt'] -%}
                                        <span style="font-weight:300;
                                                     font-size:18px;
                                                     color:#777;">
                                            "{{ press['excerpt'] }}"
                                        </span>
                                    {%- endif -%}
                            </h2>
                            {%- endfor-%}
                        </div>
                    </div>
                </div>
            </div>
            <!--mainbg Close-->
            <div class="clearfix" style="margin-bottom:10px;"></div>

        </div>
    </div>
    <!--Main Middle Panel Close-->
</div>

<div class="fancyboxHidden">

</div> <!-- END FancyboxHidden-->
