<div class="favesShadow {{size}}">
    <div class="favesWhite {{size}}">
        <a
            class="favesHover showPopup"
            target="_top"
            href="{{ link }}?hid={{ activity.activity_id }}"
            title="{{ activity.activity_title or activity.Subject }}">
        </a>
        <div
            class="boxed-image caption {{ size }}"
            style="background: url({{ activity.image_url }}) no-repeat 50%;">
        </div>
    </div>
</div>
