<div class="favesShadow {{size}}">
    <div class="favesWhite {{size}}">
        <div
            id="hid{{ activity.HID }}"
            hid="{{ activity.HID }}"
            class="favesHover"
            style="background: url(/images/notes_bg.png) no-repeat 50%;">
            <a
                class="favesHover showPopup"
                target="_top"
                href="{{ link }}?hid={{ activity.activity_id }}"
                title="{{ activity.activity_title }}">
            </a>
            <div class="boxed-image caption note {{ size }}">
                <p class="urlBreak">{{ activity.activity_content | clean | safe }}</p>
            </div>
        </div>
    </div>
</div>
