{%- if page_user_supporting|length > 0 and page_user.tbl_user_settings.Privacy == 0 -%}
    {%- if user_patron_following -%}
        <p class="boxSub" style="width:228px;">Following<span class="subCount" style="width:161px;">{{ page_user_supporting|length }} Creators</span></p>
    {%- else -%}
        <p class="boxSub"><a href="{{ page_user.canonical_url('pat=1') }}">{{ page_user.full_name }} is Supporting</a></p>
    {%- endif -%}

    <div id="followersDiv" class="followUsersDiv">
        {% for user_id in page_user_supporting %}
            {{ view.DisplayUserSquare(user_id).render() }}
        {% endfor %}

    </div>
    <div class="clearfix" style="   margin-bottom:14px;"></div>
{% endif %}