<div class="box photo"
     data-creator-id="{{ featured.user_id }}"
     style="margin-bottom:124px;">
    <div class="boxWrapper">
    <div class="shareWindow clearfix">
    <div class="imageOver">
    <a href="{{ featured_url }}"
       class="imagePopup">
        <div class="boxCenteredImg"
             style="width:{{ creator_image_normal }}px;
                    height:{{ creator_image_normal }}px;
                    background-image:url({{ featured_campaign.image_url }});"></div>
    </a>
    </div>
    </div>
    <div class="clearfix"></div>
    </div>

    <div class="featuredTitle discover">
    <a href="{{ featured_url }}">{{ featured.full_name }} is creating <span class="headorange">{{ featured_campaign.creation_name | clean | safe }}</span></a>
    <div class="featuredSubtitle discover">{{ featured_campaign.one_liner or '' }}</div>
    </div>
</div>
