<div class="inner border {{ met }}_container">
    <div class="earnings goal {{ met }}">
        <div style="text-align:right;">
            {% if is_met %}
                <div class="reachedImg">
                    <img class="goal_reached_ribbon"
                         src="/images/goal_reached.png">
                </div>
            {% endif %}
            <div class="numheader goalheader">
                {{ goal.goal_title }}
            </div>
            <div class="numfooter goalfooter">
                <span id="totalEarnings"
                      class="{{ met }}_goal_amount">
                    {{ cents_as_dollar_string(goal.amount_cents) }}
                    per
                    {{ pay_per_name }}
                </span>
            </div>
            {% if goal.goal_text != None %}
                <div class="goalDesc">
                    {{ goal.goal_text | clean | safe }}
                </div>
            {% endif %}
        </div>
    </div>
</div>
