<style type="text/css">
    .stat-content-wrapper {
        max-width: 800px;
        padding: 0 10px;
    }

    .patreon-placard--status {
        border-bottom: 3px solid #ccc;
        padding: 15px;
        width: 100%;
        margin-bottom: 10px;
        box-sizing: border-box;
    }

    .patreon-placard--status h2,
    .patreon-placard--status h3 {
        margin-top: 0;
    }

    .patreon-placard--status--pending h3 {
        color: #1A9BDB;
    }

    .patreon-placard--status--pending {
        border-bottom-color: #1A9BDB;
    }

    .patreon-placard--status--declined h3 {
        color: #e6461a;
    }

    .patreon-placard--status--declined {
        border-bottom-color: #e6461a;
    }

    .patreon-placard--status--successful h3 {
        color: #6FCE46;
    }

    .patreon-placard--status--successful {
        border-bottom-color: #6FCE46;
    }

    .stat-row-wrapper {
        display: flex;
        flex-direction: column;
    }

    .patreon-placard--stat-count {
        margin-top: 10px;
    }

    .patreon-placard--stat-dollars {
        font-size: 23px;
    }

    .patreon-placard--stat-percent {
        color: #666;
    }

    @media (min-width: 600px) {
        .stat-content-wrapper {
            margin: 30px auto;
        }

        .stat-row-wrapper {
            flex-direction: row;
            justify-content: space-between;
        }

        .patreon-placard--status {
            margin: 10px;
        }

        .patreon-placard--status:first-child {
            margin-left: 0;
        }

        .patreon-placard--status:last-child {
            margin-right: 0;
        }
    }
</style>
<meta http-equiv="refresh" content="360">
<div class="patreon-page-content">
    <div class="stat-content-wrapper">
        <h1 class="payments-feed--heading">Payment Crons processed in {{ month_string }}</h1>

        <div class="stat-row-wrapper">
            <div class="patreon-placard patreon-placard--status">
                <h2>In Process</h2>
                <div class="patreon-placard--stat-count">${{ in_process.sum }}</div>
                <div class="patreon-placard--stat-count">{{ in_process.count }} aggregated charges</div>
            </div>
            <div class="patreon-placard patreon-placard--status">
                <h2>Total</h2>

                <div class="patreon-placard--stat-dollars">${{ total.dollars }}</div>
                <div class="patreon-placard--stat-count">{{ total.count }} individual charges</div>
            </div>
        </div>

        <div class="stat-row-wrapper">
            <div class="patreon-placard patreon-placard--status patreon-placard--status--pending">
                <h3>Pending</h3>

                <div class="patreon-placard--stat-dollars">${{ pending.dollars }}</div>
                <div class="patreon-placard--stat-count">{{ pending.count }} individual charges</div>
                <div class="patreon-placard--stat-percent">{{ pending.percent_charges }}% individual charges</div>
                <div class="patreon-placard--stat-percent">{{ pending.percent_dollars }}% dollars</div>
            </div>
            <div class="patreon-placard patreon-placard--status patreon-placard--status--declined">
                <h3>Declined</h3>

                <div class="patreon-placard--stat-dollars">${{ declined.dollars }}</div>
                <div class="patreon-placard--stat-percent">{{ declined.running_rate }}% decline rate so far</div>
                <div class="patreon-placard--stat-count">{{ declined.count }} individual charges</div>
                <div class="patreon-placard--stat-percent">{{ declined.percent_charges }}% individual charges</div>
                <div class="patreon-placard--stat-percent">{{ declined.percent_dollars }}% dollars</div>
            </div>
            <div class="patreon-placard patreon-placard--status patreon-placard--status--successful">
                <h3>Successful</h3>

                <div class="patreon-placard--stat-dollars">${{ successful.dollars }}</div>
                <div class="patreon-placard--stat-count">Projected ${{ successful.projected_dollars }}</div>
                <div class="patreon-placard--stat-count">{{ successful.count }} individual charges</div>
                <div class="patreon-placard--stat-percent">{{ successful.percent_charges }}% individual charges</div>
                <div class="patreon-placard--stat-percent">{{ successful.percent_dollars }}% dollars</div>
            </div>
        </div>
    </div>
</div>
