<div class="creator box photo">
    <div class="boxWrapper large">
    {% if can_edit %}
        <div class="btn-group likes"><a class="btn btnInfo btnEdit btnOnShare right hiddenClose showPopup" original-title="Edit Pledge of ${{ format_money(pledge/100) }}" href="/bePatronConfirm?edit=1&u={{ creator.UID }}"><div class="editIcon"></div></a></div>
    {% endif %}
    <div class="shareWindow clearfix">
        <div class="imageOver">
            <a href="{{ creator.canonical_url() }}" class="imagePopup"><img width="{{ creator_image_normal }}" height="{{ creator_image_normal }}" src="{{ campaign.image_small_url }}"></a>
        </div>
        <div class="featuredTitle discover">
            <a href="{{ creator.canonical_url() }}">{{ creator.full_name }} is creating <span class="headorange">{% if campaign.creation_name %}{{ unescape(campaign.creation_name) }}{% endif %}</span></a>
        </div>
        <!-- 7/14/15 remove to simplify profile UX -->
        <!-- <div style="margin-left:320px;height:320px;">
            <a href="{{ page_user.canonical_url('ty=c&pat=1&cid=' + str(creator.UID)) }}" class="creatorBar orange">
                <span class="barIcon" title="Every completed pledge of support gets added to this Good"><div></div></span>
                <span class="barText">{% if good > 0 %}<strong>{{   good }}</strong> Good{% endif %}</span>
            </a>
            <a href="{{ page_user.canonical_url('ty=c&pat=1&cid=' + str(creator.UID)) }}" class="creatorBar purple">
                <span class="barIcon time" title="How long {{ page_user.full_name }} has been a patron of {{ creator.full_name }}"><div></div></span>
                <span class="barText">{% if days > 0 %}<strong>{{ days }}</strong> Day{% if days != 1 %}s{% endif %}{% endif %}</span>
            </a>
            <a href="{{ page_user.canonical_url('ty=c&pat=1&cid=' + str(creator.UID)) }}" class="creatorBar grey">
                <span class="barIcon view"><div></div></span>
                <span class="barText"></span>
            </a>
            <a href="/bePatronDone?u={{ creator.UID }}" class="creatorBar blue">
                <span class="barIcon man"><div></div></span>
                <span class="barText"></span>
            </a>
            <a href="{{ page_user.canonical_url('ty=c&pat=1&cid=' + str(creator.UID)) }}" class="creatorBar green">
                <span class="barIcon chat" title="How many comments others have made on {{ page_user.full_name }}'s posts"><div></div></span>
                <span class="barText">{% if comments > 0 %}<strong>{{ comments }}</strong> Chat{% if comments != 1 %}s{% endif %}{% endif %}</span>
            </a>
            <a href="{{ page_user.canonical_url('ty=c&pat=1&cid=' + str(creator.UID)) }}" class="creatorBar red">
                <span class="barIcon heart" title="How many likes others have given for {{ page_user.full_name }}'s posts"><div></div></span>
                <span class="barText">{% if likes > 0 %}<strong>{{ likes }}</strong> Like{% if like != 1 %}s{% endif %}{% endif %}</span>
            </a>
        </div> -->
    </div>
    </div>
</div>
