<link href='https://fonts.googleapis.com/css?family=Raleway:600' rel='stylesheet' type='text/css'>
<link href="/css/info.css?v={{ FILE_VERSION }}" rel="stylesheet" type="text/css"/>
<link href="/css/faq.css?v=2" rel="stylesheet" type="text/css"/>
<style type="text/css">
    .toolbox_asset {
        box-shadow: 0 0 5px 2px #888888;
        margin-top: 5px;
        margin-bottom: 5px;
        max-width: 550px;
    }

    ul {
        margin-bottom: 0;
    }

    li {
        margin-top: 3px;
    }
</style>

<div id="mainmiddleSection"
     class="patreon-page-content">

    <!--Main Middle Panel-->
    <div id="mainmiddlePan">
        <div class="center fixed short"
             style="width:100%;padding:0;">
            <div id="mainbg" class="mainbg">
                <div id="interior_white_bg">
                    <div id="interior_container">
                        <div id="interior_end_container">
                            <div class="container">
                                <div class="content">
                                    <div class="sub-heading">
                                        <h2>Creators' Toolbox</h2>
                                    </div>
                                    <div class="sub-content">
                                        <div id="toolbox"
                                            style="float:left;
                                                   width:25%;
                                                   border-right:thin #CCC;">
                                            <ul>
                                                {% for section in sections %}
                                                    <li>
                                                        {% if section['key'] == active_section %}
                                                            {{ section['name'] }}
                                                        {% else %}
                                                            <a href="{{ section['url'] }}">
                                                                {{ section['name'] }}
                                                            </a>
                                                        {% endif %}
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        <div id="answers"
                                             style="float:left; width:75%;">
                                            <h2 class="sectionheader">{{ title }}</h2>
                                            {{ content | safe }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix" style="margin-bottom:10px;"></div>
        </div>
    </div>
    <!--Main Middle Panel Close-->
</div>

