<p>{{ form_label }}</p>
<form action="{{ function_name }}" method="POST">
    {{ view.CSRFFields().render() }}
    {% for key in hidden_form_fields.keys() %}
        <input type="hidden" id="{{ key }}" name="{{ key }}" value="{{ hidden_form_fields[key] }}">
    {% endfor %}

    {% for key in form_fields.keys() %}
        <label for="{{ key }}">{{ key }}</label>
        <input type="submit" id="{{ key }}" name="{{ key }}" value="{{ form_fields[key] }}">
    {% endfor %}
    <input type="submit">
</form>