<textarea id="{{ name }}"
          name="{{ name }}">
    {{ value }}
</textarea>
<script src="/scripts/nocompile/redactor/redactor.min.js" type="text/javascript"></script>
<script src="/scripts/nocompile/redactor/fontcolor.js" type="text/javascript"></script>
<link rel="stylesheet" href="/scripts/nocompile/redactor/redactor.css" type="text/css"/>

<script>
    $(document).ready(function () {
        $('\#{{ name }}').redactor({
            minHeight: 200,
            linebreaks: true,
            plugins: ['fontcolor'],
            buttons: [
                'html',
                '|', 'formatting',
                '|', 'bold', 'italic', 'deleted',
                '|', 'unorderedlist', 'orderedlist', 'outdent', 'indent',
                '|', 'image', 'video', 'file', 'link',
                '|', 'alignment'
            ]
        });
    });
</script>
