<textarea id="{{ name }}"
          name="{{ name }}">
    {{ value }}
</textarea>
<script src="/scripts/nocompile/redactornew/redactor.min.js" type="text/javascript"></script>
<link rel="stylesheet" href="/scripts/nocompile/redactornew/redactor.css" type="text/css"/>

<script>
    function appendToolbarMessages(){
        var toolbarMessage = '<li class="jsToolbarMessageTarget">' +
            '<span class="toolbarMessage">New: paste images and videos directly in the text editor!' +
            '</span>' +
        '</li>'
        $('.jsToolbarMessageTarget').remove();
        $('.redactor-toolbar').each(function(index, element){
            $(element).append(toolbarMessage);
        })
    };

    function getEditorConfig(editorName) {
        var editorConfig = {
            minHeight: 200,
            linebreaks: true,
            plugins: ['fontcolor'],
            buttons: [
                'html',
                '|', 'formatting',
                '|', 'bold', 'italic', 'deleted',
                '|', 'unorderedlist', 'orderedlist', 'outdent', 'indent',
                '|', 'file', 'link',
                '|', 'alignment'
            ]
        };
        var pitchEditorConfig = {
            minHeight: 200,
            linebreaks: true,
            pastePlainText: true,
            formatting: [
                'p',
                'h3'
            ],
            imagePosition: false,
            buttons: [
                'formatting',
                'bold', 'italic',
                'unorderedlist', 'orderedlist', 'outdent', 'indent',
                'link'
            ]
        };
        return editorName === 'about' ? pitchEditorConfig : editorConfig;
    }
    

    $(document).ready(function () {
        var editorNode = {{ name }};
        editorName = editorNode.id;
        $('\#{{ name }}').redactor(getEditorConfig(editorName));
        appendToolbarMessages();
    });
</script>
