<div class="profileImageDiv creatorDiv">
    <a href="{{ creator.patreon_url() }}">
        <img src="{{ creator.image_url }}" />
    </a>
    <div class="pledgeName">
        {{ creator.full_name }}
    </div>
    {% if is_supporting %}
        <input type="button"
               class="btn editPledge"
               value="Edit Current Pledge"
               onClick="window.top.location.href = '{{ edit_pledge_url }}';
                       return false;" />
    {% endif %}
</div>
<div class="creatorRightDiv">
{% for bill in bills %}
    <div class="box mylink">
        <div id="userSearchBox"
             class="twoBoxesWrapper"
             style="padding:10px 10px 2px 10px;">
        {% if bill.post %}
            {{ view.BoxedShare(bill.post, 'searchUser').render() }}
        {% endif %}
        <div class="searchShareArea">
            <div class="pledge">
                You pledged ${{ format_money(bill.amount / 100) }}
                to {{ creator.full_name }} for
                <a href="{{ bill.post.patreon_url }}">
                    {{ bill.post.activity_title }}
                </a>
            </div>
            <p class="dateBox">{{ bill.post.php_date }}</p>
            {% if not bill.reward_id %}
                <div class="pledge reward">No reward selected</div>
                <p>I just want to help this artist</p>
            {% else %}
                <div class="pledge reward">Your reward:</div>
                <span>{{ bill.reward_description | clean | safe }}</span>
            {% endif %}
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
{% endfor %}
</div>
<div class="breaker"><div class="breakerLine"></div></div>
